#{extends 'CRUD/layout.html' /}

<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@save(object._key()), enctype:'multipart/form-data'}
		#{crud.form}
			#{crud.custom 'startDate'}
				#{field 'object.startDate'}
					%{
						value_date = params[field.name] ?: 
							field.error?.message == 'validation.required' ? '' : field.value.format();
						value_time = params[field.name+"_time"] ?: 
							field.error?.message == 'validation.required' ? '' : field.value.format('HH:mm');
					}%
					<label for="${field.id}">&{'startDate'}</label>
					<input id="${field.id}" class="${field.errorClass} date" type="text" name="${field.name}" value="${value_date}" size="10" />
					<input id="${field.id}_time" class="${field.errorClass} time" type="text" name="${field.name}_time" value="${value_time}" size="10" />
					#{ifError field.name}
						<span class="error">${field.error}</span>
					#{/ifError}
				#{/field}
			#{/crud.custom}
			#{crud.custom 'endDate'}
				#{field 'object.endDate'}
					%{
						value_date = params[field.name] ?: 
							field.error?.message == 'validation.required' ? '' : field.value.format();
						value_time = params[field.name+"_time"] ?: 
							field.error?.message == 'validation.required' ? '' : field.value.format('HH:mm');
					}%
					<label for="${field.id}">&{'endDate'}</label>
					<input id="${field.id}" class="${field.errorClass} date" type="text" name="${field.name}" value="${value_date}" size="10" />
					<input id="${field.id}_time" class="${field.errorClass} time" type="text" name="${field.name}_time" value="${value_time}" size="10" />
					#{ifError field.name}
						<span class="error">${field.error}</span>
					#{/ifError}
				#{/field}
			#{/crud.custom}
		#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
	
	#{form @delete(object._key())}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}

	<script type="text/javascript">
		jQuery(".date").calendricalDate({});
		jQuery(".time").calendricalTime({isoTime: true, timeInterval: 15, minTime: {hour: 8, minute: 0}});
	</script>

</div>