.classpath
.project
.sass-cache
bin
ddl.sql
tmp
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/rivieradev
debian/rivieradev.substvars
**/prepros.cfg
**/.DS_Store
data/attachments/*
modules
node_modules

test-data-images/emmanuel-bernard.jpg
test-data-images/katia-aresti.png
test-data-images/thomas-Guenoux.jpg
test-data-images/yacine-rezgui.jpg
test-data-images/zach-holman.jpg
test-data-images/Jean-Michael.jpg
test-data-images/RaphaelGoetter.jpg