section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-image: url('/public/images/backgrounds/fishmarket.svg');
  background-size: cover;
  background-position: bottom;
}

.reveal {
  font-family: "Muli", sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #000; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

.reveal .slides section div.card {
  display: flex;
}

.reveal .slides section div.card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}

.reveal .slides section div.talk {
  flex: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reveal .slides section div.speakers {
  justify-content: center;
  display: flex;
}

.reveal .slides section div.slot {
  font-size: 2em;
  color: #4b78cb;
  font-weight: bold;
}

.reveal .slides section div.speaker {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  align-items: center;
  color: #33bab5;
  font-weight: bold;
}

.reveal .slides section div.timer {
  flex: 30%;
  background: linear-gradient( #4b78cb,  #33bab5);
  border-radius: 0px 16px 16px 0px;
  color: #fff;
  font-size: 100px;
  padding-top: 60px;
}

.reveal .slides section div.timer.running {
  background: linear-gradient( #fdba1d,  #dca242);
}

.reveal .slides section div.timer.done {
  background: linear-gradient( #f34e66,  #e3248b);
}
/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2 {
  margin: 20px;
  color: #000;
  line-height: 1.1;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 3em; }

.reveal h2 {
  font-size: 2em; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }


/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00008B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal section img.speaker_logo {
  border: 4px solid #4b78cb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 100px;
  margin: 10px 20px 20px 20px;
}

.reveal section span.speaker_name {
  font-size: 2em;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color:  #dca242;}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #dca242; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
