.countdown {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  font-size: 4em;
  width: 11.3em;
  height: 3em;
  left: calc(50% - (11.3em / 2));
  bottom: -1em;
  padding: 0.5em 0.5em;
}
.countdown-parent {
  position: relative;
  margin-bottom: 4em;
  padding-bottom: 6em;
}
.countdown-day, .countdown-hour, .countdown-min, .countdown-sec {
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5em;
  padding-top: 0.1em;
}
.countdown-day {
  background-color: rgba(0, 144, 205, 0.8);
}
.countdown-hour {
  background-color: rgba(140, 70, 162, 0.8);
}
.countdown-min {
  background-color: rgba(255, 183, 66, 0.8);
}
.countdown-sec {
  background-color: rgba(115, 173, 5, 0.8);
}
.countdown-sec {
  margin-right: 0;
}
.countdown-number, .countdown-desc {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
.countdown-desc {
  font-size: 0.27em;
  line-height: 1.8em;
}
.countdown-number {
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 767px) {
  .countdown,
  .countdown-bg {
    font-size: 2em;
  }

  .countdown-parent {
    margin-bottom: 3em;
    padding-bottom: 3em;
  }
}
.personsList {
  text-align: center;
  margin-top: 2em;
}

.personSummary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 30px 30px;
  color: #333;
}
.personSummary-link {
  text-decoration: none;
}
.personSummary-link:hover, .personSummary-link:active, .personSummary-link:focus {
  text-decoration: none;
}
.personSummary-photo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-size: cover;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.personSummary-desc {
  margin-top: 0.5em;
}
.personSummary-name {
  text-transform: uppercase;
  font-size: 1.1em;
  color: #0090CD;
}
.personSummary-title {
  font-style: italic;
}

.personSummary-link:hover .personSummary-photo, .personSummary-link:active .personSummary-photo, .personSummary-link:focus .personSummary-photo {
  -moz-box-shadow: 0 0 0 5px #0090CD;
  -webkit-box-shadow: 0 0 0 5px #0090CD;
  box-shadow: 0 0 0 5px #0090CD;
}

.personDetails {
  margin-top: 2em;
}
.personDetails:before, .personDetails:after {
  display: block;
  width: 100%;
  height: 5px;
  margin: 2em 0;
  background-color: #0090CD;
}
.personDetails-name-title {
  margin-bottom: 1em;
}
.personDetails-name {
  text-transform: uppercase;
  color: #0090CD;
  font-size: 1.3em;
}
.personDetails-title {
  font-style: italic;
}
.personDetails-photo-img {
  max-width: 100%;
  height: auto;
}
.personDetails-icon {
  color: #FDB742;
  font-size: 1.3em;
}
.personDetails-link {
  margin-bottom: 0.5em;
}

@media (max-width: 767px) {
  .personDetails {
    margin-top: 0;
  }
  .personDetails:before, .personDetails:after {
    height: 0;
  }
  .personDetails-photo {
    text-align: center;
  }
  .personDetails-photo-img {
    max-width: 200px;
  }
  .personDetails-name-title {
    text-align: center;
  }
  .personDetails-biography {
    margin: 2em 0;
  }
}
.schedule-day {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 1.5em;
}
.schedule-day-filter {
  padding: .5rem 1rem;
  line-height: 3.5rem;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}
.schedule-day-filter--hidden {
  opacity: .6;
}
@media (max-width: 767px) and (orientation: landscape) {
  .schedule-day-filterItem {
    display: inline;
  }
}
.schedule-dayAll {
  background-color: #bbb;
}
.schedule-day1 {
  background-color: rgba(0, 144, 205, 0.8);
}
.schedule-day2 {
  background-color: rgba(255, 183, 66, 0.8);
}
.schedule-day3 {
  background-color: rgba(140, 70, 162, 0.8);
}
.schedule-time {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

.tempSchedule {
  margin-top: 3rem;
}
.tempSchedule-intro {
  font-size: 1.25em;
  margin-bottom: 0;
}
.tempSchedule-bloc {
  margin-bottom: 3em;
}
.tempSchedule-day {
  padding-left: 15px;
  padding-right: 15px;
}
.tempSchedule-slot {
  border-bottom: 1px solid #ddd;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.25em;
}
.tempSchedule-time {
  padding-right: 0;
  line-height: 2em;
}
.tempSchedule-title {
  line-height: 2em;
}

.fullSchedule-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.fullSchedule {
  margin: 2rem 0;
  width: 100%;
  table-layout: fixed;
}
.fullSchedule-day {
  padding-left: 15px;
  padding-right: 15px;
}
.fullSchedule th, .fullSchedule td {
  border: 3px solid #eee;
  padding: 0.5em;
}
.fullSchedule-col-time {
  width: 10%;
}
@media (max-width: 767px) {
  .fullSchedule-col-time {
    width: 20%;
  }
}
.fullSchedule-col-2tracks {
  width: 45%;
}
.fullSchedule-col-3tracks {
  width: 30%;
}
.fullSchedule-col-4tracks {
  width: 22.5%;
}
.fullSchedule-col-XStracks {
  width: 90%;
}
.fullSchedule-time {
  text-align: center;
  font-size: 1.1em;
}
.fullSchedule-time-begin, .fullSchedule-time-end {
  display: block;
}
.fullSchedule-track {
  text-align: center;
}
.fullSchedule-track-title {
  color: #777;
}
.fullSchedule-talk-cell {
  vertical-align: top;
  position: relative;
}
.fullSchedule-talk-title {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #00709D;
}
.fullSchedule-talk-speakers {
  list-style-type: none;
  padding-left: 0;
}
.fullSchedule-talk-speaker {
  color: #777;
  text-decoration-style: dotted;
  font-style: italic;
}
.fullSchedule-talk-like {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em;
}
.fullSchedule-talk-like svg {
  color: #777;
}
.fullSchedule-talk-like[data-like="true"] svg {
  color: #cc0303;
}
.fullSchedule-breakfast, .fullSchedule-lunch, .fullSchedule-cofeeBreak, .fullSchedule-party {
  background-color: #fefaf1;
  font-style: italic;
}
.fullSchedule-breakfast-title, .fullSchedule-lunch-title, .fullSchedule-cofeeBreak-title, .fullSchedule-party-title {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2.5em;
  font-weight: normal;
  margin-bottom: 0;
  color: inherit;
  line-height: 2em;
}
.fullSchedule-breakfast-title {
  background-image: url("../images/icons/croissant_2.svg");
}
.fullSchedule-cofeeBreak-title {
  background-image: url("../images/icons/hot-drink.svg");
}
.fullSchedule-lunch-title {
  background-image: url("../images/icons/cutlery.svg");
}
.fullSchedule-party-title {
  background-image: url("../images/icons/pint.svg");
}

th.fullSchedule-time-title {
  border-top: none;
  border-left: none;
}

.like-explanation {
  margin: 1rem auto 3rem;
}

.talk-theme {
  padding: 0 0.4em;
  border-radius: 4px;
  color: white;
  margin-bottom: 0.5em;
  display: inline-block;
}
.talk-theme-blue {
  background-color: #0090CD;
}
.talksFilter-options .talk-theme-blue:hover, .talk-theme-blue:focus {
  background-color: #00a9f1;
}
.talk-theme-yellow {
  background-color: #FDB742;
}
.talksFilter-options .talk-theme-yellow:hover, .talk-theme-yellow:focus {
  background-color: #feca74;
}
.talk-theme-green {
  background-color: #7BA218;
}
.talksFilter-options .talk-theme-green:hover, .talk-theme-green:focus {
  background-color: #9dce1f;
}
.talk-theme-purple {
  background-color: #844990;
}
.talksFilter-options .talk-theme-purple:hover, .talk-theme-purple:focus {
  background-color: #a05eae;
}
.talk-theme-orange {
  background-color: #ff7826;
}
.talksFilter-options .talk-theme-orange:hover, .talk-theme-orange:focus {
  background-color: #ff9e63;
}
.talk-theme-red {
  background-color: #CC0000;
}
.talksFilter-options .talk-theme-red:hover, .talk-theme-red:focus {
  background-color: #f50000;
}
.talk-theme-pink {
  background-color: #fd5ea7;
}
.talksFilter-options .talk-theme-pink:hover, .talk-theme-pink:focus {
  background-color: #fe90c3;
}
.talk-theme-turquoise {
  background-color: #00bacd;
}
.talksFilter-options .talk-theme-turquoise:hover, .talk-theme-turquoise:focus {
  background-color: #00dff6;
}
.talk-theme-brown {
  background-color: #9e4a17;
}
.talksFilter-options .talk-theme-brown:hover, .talk-theme-brown:focus {
  background-color: #c25b1c;
}

.talk-level {
  font-style: italic;
  background-color: #bbb;
  padding: 0 0.4em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0.5em 0.3em;
}
.talksFilter-options .talk-level:hover, .talk-level:focus {
  background-color: #d5d5d5;
}

.talk-language {
  border: 1.5px solid #516279;
  color: #516279;
  padding: 0 0.4em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0.5em 0.3em;
  font-size: .9em;
}
.talksFilter-options .talk-language:hover, .talk-language:focus {
  border-color: #8495ac;
}

.talk-type {
  font-style: italic;
  background-color: #516279;
  color: #fff;
  padding: 0 0.4em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0.5em 0.3em;
}
.talksFilter-options .talk-type:hover, .talk-type:focus {
  background-color: #6b809c;
}

.talkDetails {
  margin-top: 2em;
}
.talkDetails:before, .talkDetails:after {
  display: block;
  width: 100%;
  height: 5px;
  margin: 2em 0;
  background-color: #0090CD;
}
.talkDetails-all:after {
  height: 0;
}
.talkDetails-title {
  text-transform: uppercase;
  color: #0090CD;
  font-size: 1.3em;
}
.talkDetails-description {
  margin-top: 1em;
  margin-bottom: 2em;
}
.talkDetails-track, .talkDetails-slot-day, .talkDetails-slot-hour, .talkDetails-slides {
  margin-bottom: 0.5em;
}
.talkDetails-speakers {
  margin-top: 2em;
  margin-bottom: 2em;
}
.talkDetails-speaker {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
}
.talkDetails-speaker-photo {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  transition: all 0.5s ease;
}
.talkDetails-speaker-name {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #0090CD;
}
.talkDetails-icon {
  color: #FDB742;
  font-size: 1.3em;
  text-align: center;
}
.talkDetails svg.talkDetails-icon {
  width: 1.3em;
}

.talkDetails-speaker:hover, .talkDetails-speaker:focus, .talkDetails-speaker:active {
  text-decoration: none;
}
.talkDetails-speaker:hover .talkDetails-speaker-photo, .talkDetails-speaker:focus .talkDetails-speaker-photo, .talkDetails-speaker:active .talkDetails-speaker-photo {
  -moz-box-shadow: 0 0 0 3px #0090CD;
  -webkit-box-shadow: 0 0 0 3px #0090CD;
  box-shadow: 0 0 0 3px #0090CD;
}

@media (max-width: 767px) {
  .talkDetails-onlyOne {
    margin-top: 0;
  }
  .talkDetails-onlyOne:before, .talkDetails-onlyOne:after {
    height: 0;
  }
}
.live-currentDate {
  background-color: rgba(140, 70, 162, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 180%;
}

.schedule-day2 {
  margin-top: 0;
}

.talk {
  margin: 0 0.5em 0 0.5em;
}

.live-talk {
  margin-bottom: 1em;
}

.live-currentTrack {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-right: 2px solid #FDB742;
  border-bottom: 2px solid #FDB742;
  border-left: 2px solid #FDB742;
}

.schedule-day {
  font-size: 2em;
}

.talkDetails-speakers {
  margin-top: 0;
  margin-bottom: 0;
}

.talkDetails-speaker-name {
  padding-left: 0.3em;
}

.nothing {
  margin-top: 1.5em;
  margin-left: 0;
}
.nothing-img {
  max-width: 200px;
  padding-left: 0;
}
@media (min-width: 767px) {
  .smaller {
    font-size: small;
  }
}
