@import './variables';
@import './mixins';

@import './partials/common';
@import './partials/countdown';
@import './partials/person';
@import './partials/schedule';
@import './partials/talk';

@include responsiveBackgroundImage(
    '.live__nothing--next',
    '../images/illustrations/responsives/team-mini'
);

.liveList {
    &__link {
        line-height: 2;
    }
}

.live {
    padding: $space-md;

    &__currentDate {
        background: linear-gradient($color-blue, $color-blue-medium);
        color: #fff;
        position: absolute;
        top: $space-sm;
        right: $space-sm;
        padding: $space-sm;
        font-size: $font-xl;
    }

    &__when {
        margin: 0;
        color: $color-yellow;
        font-size: $font-xxl;
        font-weight: $bold;
        border-bottom: $color-yellow $border-md solid;

        &--next {
            margin-top: $space-md;
        }
    }

    &__nothing {
        margin-top: $space-md;
        font-size: $font-xxxl;

        &--next {
            background-position: 0 35%;
        }
    }

    &__talks {
        display: flex;
        justify-content: left;
        align-items: stretch;
        margin-top: $space-sm;
    }
}

.liveTalk {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-right: $space-sm;
    }

    &__track {
        font-size: $font-xxl;
        margin: 0 0 $space-sm 0;
        text-align: center;
    }

    &__content {
        flex-grow: 2;
    }

    &__title {
        font-size: $font-xl;
        font-weight: $bold;
    }

    &__slotWhen,
    &__slotDuration {
        display: block;
    }

    &__slotWhen {
        font-size: $font-lg;
        font-weight: $semi-bold;
        color: $color-black-light;
    }
}
