@import './variables';
@import './mixins';

@import './partials/common';
@import './partials/countdown';
@import './partials/person';
@import './partials/schedule';
@import './partials/talk';

.liveList {
    &__link {
        line-height: 2;
    }
}

.live {
    padding: $space-md;

    &__currentDate {
        background: linear-gradient($color-blue, $color-blue-medium);
        color: #fff;
        position: absolute;
        top: $space-sm;
        right: $space-sm;
        padding: $space-sm;
        font-size: $font-xl;
    }

    &__when {
        margin: 0;
        font-size: $font-xxxl;
        font-weight: $bold;
    }

    &__talks {
        display: flex;
        justify-content: left;
        align-items: stretch;
        margin-top: $space-md;

        &--smaller {
            @media (min-width: 767px) {
                font-size: x-small;
            }
        }
    }
}

.liveTalk {
    flex: 1;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-right: $space-sm;
    }

    &__track {
        font-size: $font-xxl;
        margin: 0 0 $space-sm 0;
    }

    &__content {
        flex-grow: 2;
    }

    &__slotWhen,
    &__slotDuration {
        display: block;
    }
}
