.countdown {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  font-size: 4em;
  width: 11.3em;
  height: 3em;
  left: calc(50% - (11.3em / 2));
  bottom: -1em;
  padding: 0.5em 0.5em;
}
.countdown-parent {
  position: relative;
  margin-bottom: 4em;
  padding-bottom: 6em;
}
.countdown-day, .countdown-hour, .countdown-min, .countdown-sec {
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5em;
  padding-top: 0.1em;
}
.countdown-day {
  background-color: rgba(0, 144, 205, 0.8);
}
.countdown-hour {
  background-color: rgba(140, 70, 162, 0.8);
}
.countdown-min {
  background-color: rgba(253, 183, 66, 0.8);
}
.countdown-sec {
  background-color: rgba(115, 173, 5, 0.8);
}
.countdown-sec {
  margin-right: 0;
}
.countdown-number, .countdown-desc {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}
.countdown-desc {
  font-size: 0.27em;
  line-height: 1.8em;
}
.countdown-number {
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 767px) {
  .countdown,
  .countdown-bg {
    font-size: 2em;
  }

  .countdown-parent {
    margin-bottom: 3em;
    padding-bottom: 3em;
  }
}
.persons__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
}
@media (min-width: 768px) {
  .persons__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.personSummary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 3rem;
}
.personSummary__photo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
}
@media (min-width: 768px) {
  .personSummary__photo {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
}
.personSummary__desc {
  margin-top: 1rem;
}
.personSummary__name {
  text-transform: uppercase;
  font-weight: bold;
}
.personSummary__title, .personSummary__year {
  font-size: 1.6rem;
}

.personDetails {
  margin-top: 2em;
}
.personDetails:before, .personDetails:after {
  display: block;
  width: 100%;
  height: 5px;
  margin: 2em 0;
  background-color: #19b8d5;
}
.personDetails-name-title {
  margin-bottom: 1em;
}
.personDetails-name {
  text-transform: uppercase;
  color: #19b8d5;
  font-size: 1.3em;
}
.personDetails-title {
  font-style: italic;
}
.personDetails-photo-img {
  max-width: 100%;
  height: auto;
}
.personDetails-icon {
  color: #fdba1d;
  font-size: 1.3em;
}
.personDetails-link {
  margin-bottom: 0.5em;
}

@media (max-width: 767px) {
  .personDetails {
    margin-top: 0;
  }
  .personDetails:before, .personDetails:after {
    height: 0;
  }
  .personDetails-photo {
    text-align: center;
  }
  .personDetails-photo-img {
    max-width: 200px;
  }
  .personDetails-name-title {
    text-align: center;
  }
  .personDetails-biography {
    margin: 2em 0;
  }
}
.schedule__header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../images/illustrations/tickets.jpg");
  background-position: 0 30%;
}
.schedule--desktop {
  display: none;
}
@media (min-width: 768px) {
  .schedule--desktop {
    display: block;
  }
}
.schedule--mobile {
  display: block;
}
@media (min-width: 768px) {
  .schedule--mobile {
    display: none;
  }
}

.tempSchedule {
  margin-top: 3rem;
}
.tempSchedule-intro {
  font-size: 1.25em;
  margin-bottom: 0;
}
.tempSchedule-bloc {
  margin-bottom: 3em;
}
.tempSchedule-day {
  padding-left: 15px;
  padding-right: 15px;
}
.tempSchedule-slot {
  border-bottom: 1px solid #ddd;
  margin-right: 0;
  margin-left: 0;
  font-size: 1.25em;
}
.tempSchedule-time {
  padding-right: 0;
  line-height: 2em;
}
.tempSchedule-title {
  line-height: 2em;
}

.fullSchedule {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1rem;
  margin: -1rem;
}
.fullSchedule__admin {
  font-size: 1.2rem;
  font-weight: normal;
}
.fullSchedule__col--time {
  width: 20%;
}
@media (min-width: 768px) {
  .fullSchedule__col--time {
    width: 10%;
  }
}
.fullSchedule__col--2tracks {
  width: 45%;
}
.fullSchedule__col--3tracks {
  width: 30%;
}
.fullSchedule__col--4tracks {
  width: 22.5%;
}
.fullSchedule__col--5tracks {
  width: 18%;
}
.fullSchedule__col--5tracks {
  width: 15%;
}
.fullSchedule__col--7tracks {
  width: 12.8%;
}
.fullSchedule__col--xs {
  width: 90%;
}
.fullSchedule__track {
  text-align: center;
}
.fullSchedule__time {
  background-color: #f8f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: initial;
  color: #9a9a93;
  vertical-align: top;
  padding: 2rem 0.8rem;
}
.fullSchedule-track-title {
  color: #777;
}
.fullSchedule__talk__cell {
  vertical-align: top;
  position: relative;
}
.fullSchedule__talk__item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fullSchedule__talk__title {
  display: block;
  font-size: 1.6rem;
}
.fullSchedule__talk-speakers {
  list-style-type: none;
  padding-left: 0;
}
.fullSchedule__talk-speaker {
  color: #777;
  text-decoration-style: dotted;
  font-style: italic;
}
.fullSchedule__talk-like {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em;
}
.fullSchedule__talk-like svg {
  color: #777;
}
.fullSchedule__talk-like[data-like='true'] svg {
  color: #cc0303;
}
.fullSchedule__breakfast, .fullSchedule__lunch, .fullSchedule__cofeeBreak, .fullSchedule__party {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 4rem 0.8rem;
  background-size: cover;
}
@media (min-width: 768px) {
  .fullSchedule__breakfast, .fullSchedule__lunch, .fullSchedule__cofeeBreak, .fullSchedule__party {
    padding: 10rem 0.8rem;
  }
}
.fullSchedule__breakfast {
  /* @include backgroundImageWithDarkGradient(
      '../images/illustrations/registration.jpg'
  );
  background-position: 0 45%; */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../images/illustrations/croissants.jpg");
  background-position: 0 45%;
}
.fullSchedule__lunch {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../images/illustrations/lunch.jpg");
  background-position: 0 75%;
}
.fullSchedule__cofeeBreak {
  /*@include backgroundImageWithDarkGradient(
      '../images/illustrations/cofee_break.jpg'
  );
  background-position: 0 80%;*/
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../images/illustrations/cofee_break_2.jpg");
  background-position: 0 30%;
}
.fullSchedule__party {
  /* @include backgroundImageWithDarkGradient(
      '../images/illustrations/beers.jpg'
  );
  background-position: bottom 0 left 0;*/
  /* @include backgroundImageWithDarkGradient(
      '../images/illustrations/piano.jpg'
  );
  background-position: 0 75%; */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../images/illustrations/guitars.jpg");
  background-position: 0 75%;
}

th.fullSchedule-time-title {
  border-top: none;
  border-left: none;
}

.like-explanation {
  margin: 1rem auto 3rem;
}

.talk-theme {
  padding: 0 0.4em;
  border-radius: 4px;
  color: white;
  margin-bottom: 0.5em;
  display: inline-block;
}
.talk-theme-blue {
  background-color: #19b8d5;
}
.talksFilter-options .talk-theme-blue:hover, .talk-theme-blue:focus {
  background-color: #2cc9e6;
}
.talk-theme-yellow {
  background-color: #fdba1d;
}
.talksFilter-options .talk-theme-yellow:hover, .talk-theme-yellow:focus {
  background-color: #fdc950;
}
.talk-theme-green {
  background-color: #7ba218;
}
.talksFilter-options .talk-theme-green:hover, .talk-theme-green:focus {
  background-color: #9dce1f;
}
.talk-theme-purple {
  background-color: #844990;
}
.talksFilter-options .talk-theme-purple:hover, .talk-theme-purple:focus {
  background-color: #a05eae;
}
.talk-theme-orange {
  background-color: #ff7826;
}
.talksFilter-options .talk-theme-orange:hover, .talk-theme-orange:focus {
  background-color: #ff9e63;
}
.talk-theme-red {
  background-color: #cc0000;
}
.talksFilter-options .talk-theme-red:hover, .talk-theme-red:focus {
  background-color: #f50000;
}
.talk-theme-pink {
  background-color: #fd5ea7;
}
.talksFilter-options .talk-theme-pink:hover, .talk-theme-pink:focus {
  background-color: #fe90c3;
}
.talk-theme-turquoise {
  background-color: #00bacd;
}
.talksFilter-options .talk-theme-turquoise:hover, .talk-theme-turquoise:focus {
  background-color: #00dff6;
}
.talk-theme-brown {
  background-color: #9e4a17;
}
.talksFilter-options .talk-theme-brown:hover, .talk-theme-brown:focus {
  background-color: #c25b1c;
}

.talk-level {
  font-style: italic;
  background-color: #9a9a93;
  padding: 0 0.4em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0.5em 0.3em;
}
.talksFilter-options .talk-level:hover, .talk-level:focus {
  background-color: #b3b3ad;
}

.talk-language {
  border: 1.5px solid #516279;
  color: #516279;
  padding: 0 0.4em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0.5em 0.3em;
  font-size: 0.9em;
}
.talksFilter-options .talk-language:hover, .talk-language:focus {
  border-color: #8495ac;
}

.talk-type {
  font-style: italic;
  background-color: #516279;
  color: #fff;
  padding: 0 0.4em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 0.5em 0.3em;
}
.talksFilter-options .talk-type:hover, .talk-type:focus {
  background-color: #6b809c;
}

.talkDetails {
  margin-top: 2em;
}
.talkDetails:before, .talkDetails:after {
  display: block;
  width: 100%;
  height: 5px;
  margin: 2em 0;
  background-color: #19b8d5;
}
.talkDetails-all:after {
  height: 0;
}
.talkDetails-title {
  text-transform: uppercase;
  color: #19b8d5;
  font-size: 1.3em;
}
.talkDetails-description {
  margin-top: 1em;
  margin-bottom: 2em;
}
.talkDetails-track, .talkDetails-slot-day, .talkDetails-slot-hour, .talkDetails-slides {
  margin-bottom: 0.5em;
}
.talkDetails-speakers {
  margin-top: 2em;
  margin-bottom: 2em;
}
.talkDetails-speaker {
  margin-bottom: 1em;
  display: block;
  text-decoration: none;
}
.talkDetails-speaker-photo {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  transition: all 0.5s ease;
}
.talkDetails-speaker-name {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #19b8d5;
}
.talkDetails-icon {
  color: #fdba1d;
  font-size: 1.3em;
  text-align: center;
}
.talkDetails svg.talkDetails-icon {
  width: 1.3em;
}

.talkDetails-speaker:hover, .talkDetails-speaker:focus, .talkDetails-speaker:active {
  text-decoration: none;
}
.talkDetails-speaker:hover .talkDetails-speaker-photo, .talkDetails-speaker:focus .talkDetails-speaker-photo, .talkDetails-speaker:active .talkDetails-speaker-photo {
  -moz-box-shadow: 0 0 0 3px #19b8d5;
  -webkit-box-shadow: 0 0 0 3px #19b8d5;
  box-shadow: 0 0 0 3px #19b8d5;
}

@media (max-width: 767px) {
  .talkDetails-onlyOne {
    margin-top: 0;
  }
  .talkDetails-onlyOne:before, .talkDetails-onlyOne:after {
    height: 0;
  }
}
.live-currentDate {
  background-color: rgba(140, 70, 162, 0.8);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 180%;
}

.schedule-day2 {
  margin-top: 0;
}

.talk {
  margin: 0 0.5em 0 0.5em;
}

.live-talk {
  margin-bottom: 1em;
}

.live-currentTrack {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-right: 2px solid #fdba1d;
  border-bottom: 2px solid #fdba1d;
  border-left: 2px solid #fdba1d;
}

.schedule-day {
  font-size: 2em;
}

.talkDetails-speakers {
  margin-top: 0;
  margin-bottom: 0;
}

.talkDetails-speaker-name {
  padding-left: 0.3em;
}

.nothing {
  margin-top: 1.5em;
  margin-left: 0;
}
.nothing-img {
  max-width: 200px;
  padding-left: 0;
}

@media (min-width: 767px) {
  .smaller {
    font-size: x-small;
  }
}
