html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  margin: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.rd-header {
 padding-top: 60px;
 padding-bottom: 60px;
 font-size: 24px;
 background: #ffcd2b;
 background: -moz-linear-gradient(top, #ffcd2b 0%, #fffbac 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcd2b), color-stop(100%, #fffbac));
 background: -ms-linear-gradient(top, #ffcd2b 0%, #fffbac 100%);
 background: linear-gradient(top, #ffcd2b 0%, #fffbac 100%);
 border-color: #ffcd2b;
}

.rd-header h1 {
 color: white;
 font-size: 60px;
}

.rd-header p {
 color: #3399ff;
}

.rd-header .organiser {
 float: right;
}

a {
 color: #3399ff;
}

.navbar-brand, 
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
 color: #3399ff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
 background-color: #f9f9f9;
}

.navbar-default .navbar-nav>.active>a {
 color: #3399ff;
 background-color: #f9f9f9;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
 color: #3399ff;
 background-color: #f9f9f9;
}
.navbar-default .dropdown-menu > li > a {
 color: #3399ff;
}

.navbar-default {
 background: white;
 border-bottom: none;
 margin-bottom: 0;
}

nav li.twitter a {
 padding-left: 30px;
 background: url('/public/images/twitter.png') no-repeat 0 5px;
}

.monies-box {
 float: right;
 text-align: center;
 margin-left: 10px;
}

.monies-box a img {
 margin-bottom: 15px;
}

.label {
 color: black;
}

table.lines tr {
 border-bottom: #ccc 1px solid;
}

table.lines tr.last {
 border-bottom: none;
}

.details {
 margin-top: 50px;
 margin-bottom: 50px;
}

.photo-with-label {
 margin-right: 20px;
 position: relative;
}

.photo-label {
 width: 200px;
 text-align: center;
 position: absolute;
 left: 0;
 color: white;
 background: rgba(128,128,128,0.5);
 font-weight: bold;
}

table.sponsors {
 margin-top: 30px;
 margin-bottom: 30px;
}

table.sponsors td {
 padding-top: 15px;
 padding-bottom: 15px;
}

table.sponsors td:first-child {
 padding-right: 20px;
 text-align: center;
}

table.sponsors .sponsor {
 font-weight: bold;
}

table.sponsors .sponsor a {
 color: inherit;
}

.speaker-details-photo {
 margin-right: 15px;
}

.schedule .times {
 width: 10%;
}

.schedule .track-3 {
 width: 30%;
}

.schedule .track-2 {
 width: 45%;
}

.schedule .track-1 {
 width: 90%;
}

.news .date {
 font-style: italic;
 color: gray;
}

.news .contents {
 margin-top: 1em;
}

.news h2 a {
 color: inherit;
}
