@import './variables';
@import './mixins';

@import './partials/common';
@import './partials/coc';
@import './partials/cfp';
@import './partials/diaporama';
@import './partials/aboutUs';
@import './partials/navbar-animated';
@import './partials/parallax';
@import './partials/registration';
@import './partials/intro-countdown';
@import './partials/presentation';
@import './partials/days';
@import './partials/location';
@import './partials/newsletter';
@import './partials/statistics';
@import './partials/corner-ribbon';
@import './partials/sponsors';
@import './partials/footer';
@import './partials/access';
@import './partials/person';
@import './partials/photos';
@import './partials/speakers';
@import './partials/organisers';
@import './partials/schools';
@import './partials/schedule';
@import './partials/talk';
@import './partials/talksFilter';
@import './partials/judcon';
@import './partials/subscribe';
