
$screen-xs-max: 767px;

$navbar-height: 75px;
$navbar-small-height: 45px;

$color-or: #f8a912;
$color-argent: #b6b6b6;
$color-bronze: #bd3a13;
$color-gray-ultralight: #ddd;

$countdown-width: 9.5em;
$countdown-height: 3em;
$countdown-font-size: 4;

$font-size-title: 2.5em;

$footer-height: 15em;