Source: rivieradev-2016
Section: unknown
Priority: extra
Maintainer: Stephane Epardaud <stephane@epardaud.fr>
Build-Depends: debhelper (>= 7), ant
Standards-Version: 3.8.4

Package: rivieradev-2016
Architecture: all
Depends: ${misc:Depends}, play-1.7.1, openjdk-11-jdk
Description: Riviera DEV 2016 application
