Source: rivieradev-2017
Section: unknown
Priority: extra
Maintainer: Stephane Epardaud <stephane@epardaud.fr>
Build-Depends: debhelper (>= 7), ant
Standards-Version: 3.8.4

Package: rivieradev-2017
Architecture: all
Depends: ${misc:Depends}, play-1.5.3, openjdk-11-jdk
Description: Riviera DEV 2017 application
