<div class="talksFilter">
    <div class="talksFilter__button talksFilter__button--filter">
        <input class="button" type="button" onclick="toggleFiltersPannel()" value="&{'views.application.schedule.filter'}">
    </div>
    <div class="talksFilter__filters js-talksFilters">
        <div class="talksFilter__filter">
            <h3 class="talksFilter__title">
                &{'views.application.schedule.filter.theme'}
            </h3>
            <div class="talksFilter__items js-talksFilter-themes">
                #{list items: _themes, as:'theme'}
                <div class="talksFilter__item">
                    <input
                        id="${theme.theme.slugify()}"
                        type="checkbox"
                        name="${theme.theme.slugify()}"
                        value="${theme.theme.slugify()}"
                    /><label for="${theme.theme.slugify()}">
                        <span
                            class="talksFilter__item--text js-talksFilter-item js-talksFilter-theme-${theme.theme.slugify()}"
                            onclick="toggleTheme('${theme.theme.slugify()}')"
                            >${theme}</span>
                        </label>
                </div>
                #{/list}
            </div>
        </div>
        <div class="talksFilter__filter">
            <h3 class="talksFilter__title">
                &{'views.application.schedule.filter.types'}
            </h3>
            <div class="talksFilter__items js-talksFilter-types">
                #{list items: _types, as: 'type'}
                <div class="talksFilter__item">
                    <input
                        id="${type.toString().slugify()}"
                        type="checkbox"
                        name="${type.toString().slugify()}"
                        value="${type.toString().slugify()}"
                    /><label for="${type.toString().slugify()}">
                        <span
                            class="talksFilter__item--text js-talksFilter-item js-talksFilter-type-${type.toString().slugify()}"
                            onclick="toggleType('${type.toString().slugify()}')"
                            >${type}</span>
                        </label>
                </div>
                #{/list}
            </div>
        </div>
        <div class="talksFilter__filter">
            <h3 class="talksFilter__title">
                &{'views.application.schedule.filter.levels'}
            </h3>
            <div class="talksFilter__items js-talksFilter-levels">
                #{list items: _levels, as: 'level'}
                <div class="talksFilter__item">
                    <input
                        id="${level.code}"
                        type="checkbox"
                        name="${level.code}"
                        value="${level.code}"
                    /><label for="${level.code}"
                        ><span
                            class="talksFilter__item--text js-talksFilter-item js-talksFilter-level-${level.code}"
                            onclick="toggleLevel('${level.code}')"
                            >&{'views.application.schedule.level.' +
                            level.code}</span
                        ></label
                    >
                </div>
                #{/list}
            </div>
        </div>
        <div class="talksFilter__filter">
            <h3 class="talksFilter__title">
                &{'views.application.schedule.filter.languages'}
            </h3>
            <div class="talksFilter__items js-talksFilter-languages">
                #{list items: _languages, as: 'language'}
                <div class="talksFilter__item">
                    <input
                        id="language-${language.toString().slugify()}"
                        type="checkbox"
                        name="${language.toString().slugify()}"
                        value="${language.toString().slugify()}"
                    /><label for="language-${language.toString().slugify()}"
                        ><span
                            class="talksFilter__item--text js-talksFilter-item js-talksFilter-language-${language.toString().slugify()}"
                            onclick="toggleLanguage('${language.toString().slugify()}')"
                            >#{language language: language/}</span
                        ></label
                    >
                </div>
                #{/list}
            </div>
        </div>
        <div class="talksFilter__button talksFilter__button--cancel">
            <input class="button" type="button" onclick="resetFilters()" value="&{'views.application.schedule.filter.reset'}">
        </div>
    </div>
</div>