
<div class="talksFilter">
    <div class="talksFilter-title">&{'views.application.schedule.filter'} : </div>
    <div class="talksFilter-options">
        <div class="js-talksFilter-themes">
            #{list items: _themes, as: 'theme'}
                <span onclick="toggleTheme('${theme.theme.slugify()}')" 
                      class="talksFilter-item talk-theme 
                             js-talksFilter-item js-talksFilter-theme-${theme.theme.slugify()} talk-theme-${theme.color.code}">
                             ${theme}
                </span>
            #{/list}
        </div>
        <div class="js-talksFilter-levels">
            #{list items: _levels, as: 'level'}
                <span onclick="toggleLevel('${level.code}')" 
                      class="talksFilter-item talk-level 
                             js-talksFilter-item js-talksFilter-level-${level.code}">
                      &{'views.application.schedule.level.' + level.code}
                </span>
            #{/list}
        </div>
        <div class="js-talksFilter-tracks">
            #{list items: _tracks, as: 'track'}
                <span onclick="toggleTrack('${track.title.slugify()}')" 
                      class="talksFilter-item talk-track 
                             js-talksFilter-item js-talksFilter-track-${track.title.slugify()}">
                      ${track.title}
                </span>
            #{/list}
        </div>
        <div class="js-talksFilter-languages">
            #{list items: _languages, as: 'language'}
                <span onclick="toggleLanguage('${language.toString().slugify()}')" 
                      class="talksFilter-item talk-language 
                             js-talksFilter-item js-talksFilter-language-${language.toString().slugify()}">
                      #{language language: language/}
                </span>
            #{/list}
        </div>
    </div>
</div>

