%{tracks = _tracksPerDays.get(_day);}%

<table class="fullSchedule">

    <col class="fullSchedule__col--time">
    #{list items: tracks, as: 'track'}
        <col class="fullSchedule__col--${tracks.size()}tracks">
    #{/list}
    
    <!--
    <tr>
        <th></th>
        #{list items: tracks, as: 'track'}
            <th class="fullSchedule__track" scope="col">
                ${track.title}
                #{if _user}
                    <br/>
                    <a href="@{Tracks.show(track.id)}">edit</a>
                #{/if}
            </th>
        #{/list}
    </tr>
    -->

    #{list items: models.Slot.findMultiPerDay(_day), as: 'slot'}
    <tr>
        <th class="fullSchedule__time" scope="row">
            <span>${slot.startDate.format('HH:mm')}</span>
            #{if _user}
                <a class="fullSchedule__admin" href="@{Slots.show(slot.id)}">edit</a>
            #{/if}
        </th>

        %{allTracksEvent = slot.allTracksEvent}%
        #{if allTracksEvent } <!-- One talk for all tracks -->
            #{if allTracksEvent.isBreak != models.BreakType.NotABreak}
            <td colspan="${tracks.size()}" class="fullSchedule__${allTracksEvent.isBreak.code}">
                <span class="fullSchedule__breakTitle">${allTracksEvent.title}</span>
                #{if _user}
                    <a class="fullSchedule__admin" href="@{Talks.show(allTracksEvent.id)}">edit</a>
                #{/if}
            </td>
            #{/if}
            #{else}
            <td colspan="${tracks.size()}" class="js-talksFilter-toFilter js-fullSchedule-talk-cell fullSchedule__talk__cell">
                <!-- If it's not a break, it's on all track like keynote -->
                #{talkItem talk: allTracksEvent, user: _user/}
            </td>
            #{/else}
        #{/if}

        #{else}
            #{list items: tracks, as: 'track'}
                %{talks = slot.getTalksPerTrack(track);}%
                <td class="js-talksFilter-toFilter js-fullSchedule-talk-cell fullSchedule__talk__cell">
                    #{list items: talks, as: 'talk'}
                        #{talkItem talk: talk, user: _user/}
                    #{/list}
                </td>
            #{/list}
        #{/else}
    </tr>
    #{/list}
</table>