<div class="like-explanation">
	&{'views.application.schedule.like.explanation'}
</div>

<span class="js-schedule-filterDay schedule-day-filter schedule-day fullSchedule-day schedule-dayAll" data-day='all' onclick="showDay(this, 'all')">&{'views.application.schedule.allDays'}</span>
#{list items: _days, as: 'day'}
<span class="js-schedule-filterDay schedule-day-filter schedule-day fullSchedule-day schedule-day${day_index}" data-day='${day_index}' onclick="showDay(this, '${day_index}')">${day.format('EEEE dd MMMM yyyy')}</span>
#{/list}

#{list items: _days, as: 'day'}

    %{tracks = _tracksPerDays.get(day);}%
	
	<div class="js-schedule-day" data-day='${day_index}'>
		<h2 class="schedule-day fullSchedule-day schedule-day${day_index}">${day.format('EEEE dd MMMM yyyy')}</h2>

		<table class="fullSchedule">

			<col class="fullSchedule__col--time">
			#{list items: tracks, as: 'track'}
				<col class="fullSchedule__col--${tracks.size()}tracks">
			#{/list}
			
			<!--
			<tr>
				<th></th>
				#{list items: tracks, as: 'track'}
					<th class="fullSchedule__track" scope="col">
						${track.title}
						#{if _user}
							<br/>
							<a href="@{Tracks.show(track.id)}">edit</a>
						#{/if}
					</th>
				#{/list}
			</tr>
			-->

			#{list items: models.Slot.findMultiPerDay(day), as: 'slot'}
			<tr>
				<th class="fullSchedule__time" scope="row">
					<span>${slot.startDate.format('HH:mm')}</span>
					#{if _user}
						<a class="fullSchedule__admin" href="@{Slots.show(slot.id)}">edit</a>
					#{/if}
				</th>

				%{allTracksEvent = slot.allTracksEvent}%
				#{if allTracksEvent } <!-- One talk for all tracks -->
					<td colspan="${tracks.size()}" class="fullSchedule-${allTracksEvent.isBreak.code}">
						#{if !allTracksEvent.isHiddenInTalksPage}

							#{if allTracksEvent.isBreak != models.BreakType.NotABreak}
								<span class="fullSchedule-talk-title fullSchedule-${allTracksEvent.isBreak.code}-title">${allTracksEvent.title}</span>
							#{/if}

							#{else}
								<a class="fullSchedule-talk-title" href="@{Application.talk(allTracksEvent.id)}">${allTracksEvent.title}</a>

								<!--
								#{if allTracksEvent.theme}
									<span class="talk-theme talk-theme-${allTracksEvent.theme.color.code}">${allTracksEvent.theme}</span>
								#{/if}

								#{if allTracksEvent.level}
									<span class="talk-level">&{'views.application.schedule.level.' + allTracksEvent.level.code}</span>
								#{/if}
								-->

								#{if allTracksEvent.speakers.size() > 0}
									#{if allTracksEvent.speakers}
										<ul class="fullSchedule-talk-speakers">
											#{list items: allTracksEvent.speakers, as: 'speaker'}
												<li>
													<a class="fullSchedule-talk-speaker" href="@{Application.speaker(speaker.id)}">
														${speaker.firstName} ${speaker.lastName}
													</a>
												</li>
											#{/list}
										</ul>
									#{/if}
								#{/if}
							
							#{/else}
						#{/if}
						#{else}
							<span class="fullSchedule-talk-title  fullSchedule-${allTracksEvent.isBreak.code}-title">${allTracksEvent.title}</span>
						#{/else}

						#{if _user}
							<br/>
							<a href="@{Talks.show(allTracksEvent.id)}">edit</a>
						#{/if}
					</td>
				#{/if}

                #{else}
					#{list items: tracks, as: 'track'}
                        %{talks = slot.getTalksPerTrack(track);}%
						<td class="js-talksFilter-toFilter fullSchedule-talk-cell">
                            #{list items: talks, as: 'talk'}
                                #{if talk}
                                    #{if !talk.isHiddenInTalksPage}
                                        <div class="fullSchedule-talk-item
                                                    talksFilter-item
                                                    js-talksFilter-item 
                                                    js-talksFilter-theme-${talk.theme?.theme?.slugify()} 
                                                    js-talksFilter-level-${talk.level?.code}
                                                    js-talksFilter-type-${talk.type?.toString()?.slugify()}
                                                    js-talksFilter-language-${talk.language?.toString()?.slugify()}">
                                            <a class="fullSchedule-talk-title" href="@{Application.talk(talk.id)}">${talk.title}</a>
                                            <span class="talk-slot">${talk.slot.startDate.format('HH:mm')} - ${talk.slot.endDate.format('HH:mm')}</span>
                                            #{if talk.theme}
                                                <span class="talk-theme talk-theme-${talk.theme.color.code}">${talk.theme}</span>
                                            #{/if}

                                            #{if talk.type}
                                                <span class="talk-type talk-type">${talk.type}</span>
                                            #{/if}

                                            #{if talk.level}
                                                <span class="talk-level">&{'views.application.schedule.level.' + talk.level.code}</span>
                                            #{/if}
                                            
                                            #{if talk.language}
                                                <span class="talk-language" aria-label="&{'views.application.schedule.language.' + talk.language}">
                                                    ${talk.language}
                                                </span>
                                            #{/if}
                                            
                                            <ul class="fullSchedule-talk-speakers">
                                                #{list items: talk.speakers, as: 'speaker'}
                                                    <li>
                                                        <a class="fullSchedule-talk-speaker" href="@{Application.speaker(speaker.id)}">
                                                            ${speaker.firstName} ${speaker.lastName}
                                                        </a>
                                                    </li>
                                                #{/list}
                                            </ul>

                                            #{if _user}
                                                <br/>
                                                <a href="@{Talks.show(talk.id)}">edit</a>
                                            #{/if}

                                            
                                            <div class="fullSchedule-talk-like js-talksFilter-like" data-talk="${talk.id}" onclick="likeTalk(this,'${talk.id}')">
                                                #{if _user}
                                                    <span class="fullSchedule-talk-nbLikes">${talk.nbLikes}</span>
                                                #{/if}
                                                <i class="far fa-heart"></i>
                                            </div>
                                        </div>
                                    #{/if}
                                    #{else}
                                        <span class="fullSchedule-talk-item fullSchedule-talk-title">${talk.title}</span>
                                    #{/else}
                                #{/if}

                                #{else}
                                    <!-- <span class="fullSchedule-talk-unknown">&{'views.application.schedule.full.talk.unknown'}</span> -->
                                    #{if user}
                                        <br/>
                                        <a href="@{Talks.blank()}">add talk</a>
                                    #{/if}
                                #{/else}
                            #{/list}
						</td>
					#{/list}
				#{/else}
			</tr>
			#{/list}
			#{if user}
				<tr>
					<td><a href="@{Slots.blank()}">add slot</a></td>
				</tr>
			#{/if}
			
		</table>

	</div>
#{/list}