%{tracks = _tracksPerDays.get(_day);}%
<table class="fullSchedule">
    
    #{list items: models.Slot.findPerDay(_day), as: 'slot'}
        <tr>
            <td class="fullSchedule__time">
                <span>${slot.startDate.format('HH:mm')}</span>
                #{if _user}
                    <a class="fullSchedule__admin" href="@{Slots.show(slot.id)}">edit</a>
                #{/if}
            </td>
        </tr>

        %{allTracksEvent = slot.allTracksEvent}%
        #{if allTracksEvent } <!-- One talk for all tracks -->
            <tr>
                    #{if allTracksEvent.isBreak != models.BreakType.NotABreak}
                    <td class="fullSchedule__${allTracksEvent.isBreak.code}">
                        <span class="fullSchedule__breakTitle">${allTracksEvent.title}</span>
                        #{if _user}
                            <a class="fullSchedule__admin" href="@{Talks.show(allTracksEvent.id)}">edit</a>
                        #{/if}
                    </td>
                    #{/if}
                    #{else}
                    <td class="js-talksFilter-toFilter fullSchedule__talk__cell">
                        <!-- If it's not a break, it's on all track like keynote -->
                        #{talkItem talk: allTracksEvent, user: _user/}
                    </td>
                    #{/else}
            </tr>
        #{/if}
        #{else}
            #{list items: tracks, as: 'track'}
                %{talk = slot.getTalkPerTrack(track);}%
                #{if talk}
                    <tr>
                        <td class="js-talksFilter-toFilter fullSchedule__talk__cell">
                            #{talkItem talk: talk, user: _user/}    
                        </td>
                    </tr>
                #{/if}
            #{/list}
        #{/else}
    
    #{/list}
    
</table>