#{if _orgas != null && _orgas.size() > 0}
<div class="persons__list">
    #{list items: _orgas, as: 'orga'}
    <a
        class="personSummary__link cardLink"
        href="@{Application.organiser(orga.id)}"
        title="${orga.firstName} ${orga.lastName}"
    >
        <figure class="personSummary">
            <div
                class="personSummary__photo"
                style="background-image: url('@{Application.orgaPhoto(orga.id)}')"
            ></div>
            <figcaption class="personSummary__desc">
                <div class="personSummary__name">${orga}</div>
                <div class="personSummary__title">${orga.title}</div>
            </figcaption>
        </figure>
    </a>
    #{/list}
</div>
#{/if}
