<div class="persons__list">
    #{list items: _speakers, as: 'speaker'}
        <figure class="personSummary">
            <div class="personSummary__photo" style="background-image: url('@{Application.previousSpeakerPhoto(speaker.id)}')">
            </div>
            <figcaption class="personSummary__desc">
                <div class="personSummary__name">${speaker}</div>
                <div class="personSummary__title">${speaker.company}</div>
                <div class="personSummary__year">${speaker.year}</div>
            </figcaption>
        </figure>
    #{/list}
</div>
