<div class="speakers-list">
	#{list items: _speakers, as: 'speaker'}
		<div class="speakers-item">
			<a class="personSummary-link" href="@{Application.speaker(speaker.id)}" title="${speaker.firstName} ${speaker.lastName}">
				<figure class="personSummary">
					<div class="personSummary-photo" style="background-image: url('@{Application.speakerPhoto(speaker.id)}')">
					</div>
					<figcaption class="personSummary-desc">
						<div class="personSummary-name">${speaker}</div>
						<div class="personSummary-title">${speaker.company}</div>
					</figcaption>
				</figure>
			</a>
		</div>
	#{/list}
</div>