<div class="persons__list">
    #{list items: _speakers, as: 'speaker'}
        <a class="personSummary__link" href="@{Application.speaker(speaker.id)}" title="${speaker.firstName} ${speaker.lastName}">
            <figure class="personSummary">
                <div class="personSummary__photo" style="background-image: url('@{Application.speakerPhoto(speaker.id)}')">
                </div>
                <figcaption class="personSummary__desc">
                    <div class="personSummary__name">${speaker}</div>
                    <div class="personSummary__title">${speaker.company}</div>
                </figcaption>
             </figure>
        </a>
    #{/list}
</div>
