
#{if _sponsors != null && _sponsors.size() > 0}
    <div class="partenaires__level">
        <h3 class="partenaires__levelTitle partenaires__levelTitle--${_level}">
            &{'views.application.sponsors.level.' + _level}
        </h3>
        <div class="partenaires__list">
            #{list items: _sponsors, as: 'sponsor'}
                <a class="partenaire__link cardLink" href="@{Application.sponsors()}#${sponsor.company.slugify()}" title="${sponsor.company}">
                    <div class="partenaire__logo partenaire__logo--${_level}">
                        <img class="partenaire__logoImg" src="@{Application.sponsorLogo(sponsor.id)}" />
                    </div>
                </a>
            #{/list}
        </div>
    </div>
#{/if}
