#{if !_sponsors.empty}
<h1>${_title}</h1>

<table class="sponsors lines">
    <tbody>
        #{list items: _sponsors, as: 'sponsor'}
            <tr class="${sponsor_isLast ? 'last' : ''}">
                <td id="${sponsor.company.slugify()}">
                    #{if sponsor.companyURL}
                        <a href="${sponsor.companyURL}">
                    #{/if}
                    <img src="@{Application.sponsorLogo(sponsor.id)}" 
                     width="${sponsor.getWidth(20000, 200)}px" height="${sponsor.getHeight(20000, 200)}px"/>
                    #{if sponsor.companyURL}
                        </a>
                    #{/if}
                </td>
                <td>
                    <span class="sponsor">
                        #{if sponsor.companyURL}
                            <a href="${sponsor.companyURL}">
                        #{/if}
                        ${sponsor.company}
                        #{if sponsor.companyURL}
                            </a>
                        #{/if}
                    </span>
                    <br/>
                    #{if user}
                        <a href="@{Sponsors.show(sponsor.id)}">edit</a>
                        <br/>
                    #{/if}
                    ${sponsor.about?.md()}
                    #{if sponsor.twitterAccount}
                        <br/>
                        <span class="label">Twitter:</span> <a href="http://twitter.com/${sponsor.twitterAccount}">@${sponsor.twitterAccount}</a>
                    #{/if}
                </td>
            </tr>
        #{/list}
    </tbody>
</table>
#{/if}
