#{if !_sponsors.empty}
<div class="partenaires">
    <div class="partenaires-level">
        <div class="partenaires-title partenaires-title-${_level}">${_title}</div>
    </div>
    #{list items: _sponsors, as: 'sponsor'}
        <div class="row partenaire-description">
            <div class="col-sm-4 col-md-3 text-center">
                <a class="partenaire-logo" href="${sponsor.companyURL}" title="${sponsor.company}">
                    <img class="partenaire-logo-img" src="@{Application.sponsorLogo(sponsor.id)}" />
                </a>
            </div>
            <div class="col-sm-8 col-md-9 partenaire-description-about">
                <div>${sponsor.about?.md()}</div>
                #{if sponsor.companyURL}
                <div><i class="fa fa-globe" aria-hidden="true"></i> <a href="${sponsor.companyURL}" title="${sponsor.company}">${sponsor.companyURL}</a></div>
                #{/if}
                #{if sponsor.twitterAccount}
                <div><i class="fa fa-twitter" aria-hidden="true"></i> <a href="http://twitter.com/${sponsor.twitterAccount}">@${sponsor.twitterAccount}</a></div>
                #{/if}
            </div>
        </div>
    #{/list}
</div>
#{/if}
