#{if !_sponsors.empty}
<div class="sponsors">
    <div class="sponsors-${_level}">
        <div class="sponsors-title sponsors-title-${_level}">${_title}</div>
    </div>
    #{list items: _sponsors, as: 'sponsor'}
        <div class="row sponsor-description">
            <div class="col-sm-4 col-md-3 text-center">
                <a class="sponsor" href="${sponsor.companyURL}" title="${sponsor.company}"><img class="sponsor-logo" src="@{Application.sponsorLogo(sponsor.id)}" /></a>
            </div>
            <div class="col-sm-8 col-md-9 sponsor-description-about">
                <div>${sponsor.about?.md()}</div>
                #{if sponsor.companyURL}
                <div><i class="fa fa-globe" aria-hidden="true"></i> <a href="${sponsor.companyURL}" title="${sponsor.company}">${sponsor.companyURL}</a></div>
                #{/if}
                #{if sponsor.twitterAccount}
                <div><i class="fa fa-twitter" aria-hidden="true"></i> <a href="http://twitter.com/${sponsor.twitterAccount}">@${sponsor.twitterAccount}</a></div>
                #{/if}
            </div>
        </div>
    #{/list}
</div>
#{/if}
