
#{if _sponsorsPreviousYears != null && _sponsorsPreviousYears.size() > 0 }
<div class="text-center">
    <div class="partenaires__previousTitle">&{'tags.sponsorsPreviousYears.title'}</div>
    <div class="partenaires__list">
        #{list items: _sponsorsPreviousYears, as: 'sponsor'}
            <a class="partenaire__logo" href="${sponsor.companyURL}" target="_blank" title="${sponsor.company}">
                <img class="partenaire__logoImg" src="@{Application.sponsorLogo(sponsor.id)}" />
            </a>
        #{/list}
    </div>
</div>
#{/if}
