#{if !_sponsors.empty}
<div class="">

    <div class="partenaires-title partenaires-title-${_level}"><span class="partenaires-title-text">&{'views.application.sponsors.level.' + _level}</span></div>

    #{list items: _sponsors, as: 'sponsor'}
        <div class="row partenaireDetails">

            <div class="col-sm-3">
                <div class="partenaireDetails-logo text-center">
                    <img class="partenaireDetails-logo-img" src="@{Application.sponsorLogo(sponsor.id)}" alt=""/>
                </div>
            </div>

            <div class="col-sm-5 partenaireDetails-desc">
                <div class="partenaireDetails-name">${sponsor.company}</div>
                <div class="partenaireDetails-about">
                    #{if play.i18n.Lang.get() == "en"}
                        ${sponsor.aboutEN?.md()}
                    #{/if}
                    #{else}
                        ${sponsor.about?.md()}
                    #{/else}
                </div>
            </div>

            <div class="col-sm-4 partenaireDetails-links">
                #{if sponsor.companyURL}
                <div class="partenaireDetails-link">
                    <i class="fa fa-globe partenaireDetails-icon" aria-hidden="true"></i> 
                    <a href="${sponsor.companyURL}" title="${sponsor.company}">${sponsor.companyURL}</a>
                </div>
                #{/if}
                #{if sponsor.twitterAccount}
                <div class="partenaireDetails-link">
                    <i class="fa fa-twitter partenaireDetails-icon" aria-hidden="true"></i> 
                    <a href="http://twitter.com/${sponsor.twitterAccount}">@${sponsor.twitterAccount}</a>
                </div>
                #{/if}
            </div>
            <div class="clearfix"></div>
        </div>
    #{/list}
</div>
#{/if}
