
#{if _sponsorsPreviousYears != null && _sponsorsPreviousYears.size() > 0 }
<div class="text-center">
    <div class="partenaires-previous-title">&{'tags.sponsorsPreviousYears.title'}</div>
    <div class="partenaires-list">
        #{list items: _sponsorsPreviousYears, as: 'sponsor'}
            <a class="partenaire-logo" href="${sponsor.companyURL}" target="_blank" title="${sponsor.company}">
                <img class="partenaire-logo-img" src="@{Application.sponsorLogo(sponsor.id)}" />
            </a>
        #{/list}
    </div>
</div>
#{/if}
