<div class="talkDetails">
    <div class="talkDetails__header">
        <div class="talkDetails__micro">
            <div class="talkDetails__title">&laquo; ${_talk.title} &raquo;</div>
        </div>
        #{if _talk.speakers}
        <div class="talkDetails__speakers">
            #{list items: _talk.speakers, as: 'speaker'}
            <div class="talkDetails__speaker">
                ${speaker}
            </div>
            #{/list}
        </div>
        #{/if}
    </div>
    <div class="talkDetails__body">
        ${_talk.getDescription()?.md()}
        <div class="talkDetails__metadata">
            #{if _talk.theme}
            <span class="talkDetails__metadata--item">${_talk.theme}</span>
            #{/if} #{if _talk.type}
            <span class="talkDetails__metadata--item">${_talk.type}</span>
            #{/if} #{if _talk.level}
            <span class="talkDetails__metadata--item"
                >&{'views.application.schedule.level.' + _talk.level.code}</span
            >
            #{/if} #{if _talk.language}
            <span class="talkDetails__metadata--item"
                >&{'views.application.talk.' + _talk.language}</span
            >
            #{/if}
        </div>
    </div>
    #{if _user}
        <a class="talkDetails__admin" href="@{Talks.show(_talk.id)}">edit</a>
    #{/if}
</div>
