#{if _days != null && _days.size() > 0}

    <div class="row tempSchedule">

        <div class="col-md-8 col-md-offset-2">
            <p class="tempSchedule-intro">&{'views.application.schedule.unavailable.intro'}</p>
        </div>

    #{list items: _days, as: 'day'}
    
        <div class="tempSchedule-bloc col-md-8 col-md-offset-2">
            <h2 class="schedule-day tempSchedule-day schedule-day${day_index}">${day.format('EEEE dd MMMM yyyy')}</h2>

            <dl>
            #{list items: models.TemporarySlot.findPerDay(day), as: 'slot'}
                <div class="row tempSchedule-slot">
                    <dt class="col-sm-2 col-md-3 schedule-time tempSchedule-time">
                        ${slot.startDate.format('HH:mm')} - ${slot.endDate.format('HH:mm')}
                    </dt>
                    <dd class="col-sm-10 col-md-9 tempSchedule-title">
                        #{if play.i18n.Lang.get() == "en" && slot.labelEN}
                            ${slot.labelEN}
                        #{/if}
                        #{else}
                            ${slot.labelFR}
                        #{/else}
                    </dd>
                </div>
            #{/list}
            </dl>

        </div>

    #{/list}

    </div>

#{/if}