<table class="tempSchedule">

    <col class="tempSchedule__col--time">
    <col class="tempSchedule__col">

    #{list items: models.TemporarySlot.findPerDay(_day), as: 'slot'}
        <tr>
            <th class="tempSchedule__time" scope="row">
                <span>${slot.startDate.format('HH:mm')}</span>
                #{if _user}
                    <a class="tempSchedule__admin" href="@{TemporarySlots.show(slot.id)}">edit</a>
                #{/if}
            </th>

            #{if slot.isBreak != null && slot.isBreak != models.BreakType.NotABreak}
                <td class="tempSchedule__${slot.isBreak.code}">
                    <span class="tempSchedule__breakTitle">
                        #{if play.i18n.Lang.get() == "en" && slot.labelEN}
                            ${slot.labelEN}
                        #{/if}
                        #{else}
                            ${slot.labelFR}
                        #{/else}
                    </span>
                </td>
            #{/if}
            #{else}
                <td class="tempSchedule__cell">
                    #{if play.i18n.Lang.get() == "en" && slot.labelEN}
                        ${slot.labelEN}
                    #{/if}
                    #{else}
                        ${slot.labelFR}
                    #{/else}
                </td>
            #{/else}
        </tr>
    #{/list}
</table>
