.cfp {
    &-intro {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 60%;
        margin: 0 auto;
        flex-wrap: wrap;

        @media (max-width: $screen-xs-max) {
            max-width: 90%;
        }
    }
    &-propose {
        align-self: center;
        &--button {
            margin: 1em 0;
        }
    }
    &-title {
        margin-top: 2em;
    }
}

.talk {
    padding: 1em;
    margin-top: 2em;

    &-keynote {
        background-image: url(../images/backgrounds/polygon-05.jpg);
    }

    &-conference {
        background-image: url(../images/backgrounds/polygon-05.jpg);
    }

    &-RedHat {
        background-image: url(../images/backgrounds/polygon-04.jpg);
    }

    &-snorkeling {
        background-image: url(../images/backgrounds/polygon-05.jpg);
    }

    &-atelier {
        background-image: url(../images/backgrounds/polygon-05.jpg);
    }

    &-confInDepth {
        background-image: url(../images/backgrounds/polygon-06.jpg);
    }

    &-workshopInDepth {
        background-image: url(../images/backgrounds/polygon-06.jpg);
    }

    &-title {
        text-align: left;
        color: inherit;
        margin-top: 0;
        margin-bottom: 0.8em;
        padding-top: 0.8em;
        padding-left: 1em;
    }

    &-item {
        background-color: white;
    }

    &-items {
        padding: 0 2em 1em 2em;
        line-height: 2em;
        font-size: 1.1em;
    }

    &-photos {
        padding: 0;
        text-align: center;

        &--RedHat {
            padding: 2em 0;
        }
    }

    &-photo {
        max-width: 100%;
        max-height: 100%;
        padding: 1em;
        &--RedHat {
            width: 100%;
        }
    }

    &-description {
        padding: 0 2em 1em 2em;
    }

    &-icon {
        font-size: 1.2em;
    }
    svg.talk-icon {
        width: 2em;
    }
}
