html {
    height: 100%;
}

body { 
    padding-top: $navbar-height;
    padding-bottom: $footer-height + 2em;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.home-title {
    font-size: $font-size-title;
    margin-top: 0;
    padding-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.page-title {

    &-container {
        font-size: $font-size-title;
    }

    height: $font-size-title + 0.5em;
    line-height: $font-size-title + 0.5em;
    margin: 0;
    padding: 0 1em;
    font-size: 1em;
    background-color: rgba(255,255,255, 0.6);
}

.page-container {
    margin-top: 3em;
    margin-bottom: 3em;
}

.data-unavailable {
    text-align: center;
    font-size: 1.25em;
}