$counter-item-size: 12rem;

.countdown {
    padding: $space-lg;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    background: linear-gradient($color-blue, $color-blue-medium);
    display: grid;
    column-gap: $space-lg;
    row-gap: $space-lg;
    grid-template-columns: $counter-item-size $counter-item-size;
    grid-template-rows: $counter-item-size $counter-item-size;
    justify-content: center;

    @media (min-width: $screen-sm-min) {
        grid-template-columns: $counter-item-size $counter-item-size $counter-item-size $counter-item-size;
        grid-template-rows: $counter-item-size;
    }

    @media (min-width: $screen-md-min) {
        border-radius: 0 $border-radius-md $border-radius-md 0;
        background: linear-gradient(to right, $color-blue, $color-blue-medium);
        grid-template-columns: $counter-item-size $counter-item-size;
        grid-template-rows: $counter-item-size $counter-item-size;
    }

    &__item {
        background-color: $color-blue-light;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__number {
        font-size: $font-xxl;
        margin-bottom: $space-sm;
    }

    &__desc {
        text-transform: uppercase;
        font-size: $font-xxs;
    }
}
