// Used only in live.scss

$countdown-width: 11.3em;
$countdown-height: 3em;
$countdown-font-size: 4;

.countdown {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    font-size: #{$countdown-font-size}em;
    width: $countdown-width;
    height: $countdown-height;
    //right: 2em;
    // Centers countdown horizontally
    left: calc(50% - (#{$countdown-width} / 2));
    bottom: -1em;
    padding: 0.5em 0.5em;
    //background-color: rgba(35, 35, 35, 0.9);

    &-parent {
        position: relative;
        margin-bottom: ($countdown-height / 3) * $countdown-font-size;
        padding-bottom: ($countdown-height / 2) * $countdown-font-size;
    }

    &-day,
    &-hour,
    &-min,
    &-sec {
        display: inline-block;
        width: 2.2em;
        height: 2.2em;
        text-align: center;
        vertical-align: middle;
        margin-right: 0.5em;
        padding-top: 0.1em;
    }

    &-day {
        background-color: $color-blue-transparent;
    }

    &-hour {
        background-color: $color-purple-transparent;
    }

    &-min {
        background-color: $color-yellow-transparent;
    }

    &-sec {
        background-color: $color-green-transparent;
    }

    &-sec {
        margin-right: 0;
    }

    &-number,
    &-desc {
        display: block;
        float: left;
        width: 100%;
        text-align: center;
    }

    &-desc {
        font-size: 0.27em;
        line-height: 1.8em;
    }
}

@media (max-width: $screen-xs-max) {
    .countdown,
    .countdown-bg {
        font-size: 2em;
    }

    .countdown-parent {
        margin-bottom: 3em;
        padding-bottom: 3em;
    }
}
