$footer-logo-height-xs: 5rem;
$footer-logo-height-sm: 7rem;

.footer {
    background: linear-gradient($color-blue, $color-blue-medium);
    color: $color-white;
    padding: $space-md;

    @media (min-width: $screen-xs-max) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'followContact followContact'
        'archives about'
        'admin admin'
        'logo copyright';
        padding: $space-xl $space-xxxl;
    }

    @media (min-width: $screen-md-min) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'followContact followContact followContact'
            'archives about admin'
            'logo copyright copyright';
        padding: $space-xl $space-xxl;
    }

    // Necessary to override "a" style
    a {
        color: $color-white;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    &__logo {
        @media (min-width: $screen-sm-min) {
            grid-area: logo;
            padding-top: $space-xl;
        }
    }

    &__logoImg {
        height: $footer-logo-height-xs;

        @media (min-width: $screen-sm-min) {
            height: $footer-logo-height-sm;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: $font-md;
        margin: $space-xl 0 $space-lg 0;

        @media (min-width: $screen-sm-min) {
            margin: 0;
        }
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        display: grid;
        grid-gap: $space-md;
        grid-auto-flow: column;

        @media (min-width: $screen-sm-min) {
            grid-gap: $space-sm;
        }
    }

    &__listItem {
        font-size: $font-sm;
    }

    &__admin {
        @media (min-width: $screen-sm-min) {
            grid-area: admin;
            border-bottom: $border-sm solid $color-white;
            padding: $space-xl 0;
        }
    }

    &__adminList {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__about {
        @media (min-width: $screen-sm-min) {
            grid-area: about;
            border-bottom: $border-sm solid $color-white;
            padding: $space-xl 0 0 $space-md;
        }

        @media (min-width: $screen-lg-min) {
            padding: $space-xl 0;
        }
    }

    &__archives {
        @media (min-width: $screen-sm-min) {
            grid-area: archives;
            border-bottom: $border-sm solid $color-white;
            padding: $space-xl 0;
        }
    }

    &__archivesListContainer {
        @media (min-width: $screen-sm-min) {
            display: flex;
        }
    }

    &__aboutList {
        grid-auto-flow: row;
    }

    &__archivesList {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        @media (min-width: $screen-sm-min) {
            grid-column-gap: $space-xl;
        }
    }

    &__followContact {
        @media (min-width: $screen-sm-min) {
            grid-area: followContact;
            display: flex;
            justify-content: flex-start;
            border-bottom: $border-sm solid $color-white;
            padding-bottom: $space-xl;
        }
    }

    &__follow {
        border-top: $border-md solid $color-white;
        margin: $space-xl -#{$space-md} 0 -#{$space-md};
        padding: 0 $space-md;

        @media (min-width: $screen-sm-min) {
            border-top: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__followList {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: center;

        @media (min-width: $screen-sm-min) {
            margin: 0 $space-lg;
        }
    }

    // Necessary to override ".footer a" style
    a.footer__rs {
        color: $color-blue;

        &:hover,
        &:focus,
        &:active {
            color: $color-white;
        }
    }

    &__rs {
        margin: 0 $space-sm;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $icon-size-xxl;
        height: $icon-size-xxl;
        background-color: $color-white;
        border-radius: 50%;
        transition: 0.3s;

        @media (min-width: $screen-sm-min) {
            width: $icon-size-xl;
            height: $icon-size-xl;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &--twitter {
            &:hover,
            &:focus,
            &:active {
                background-color: #1da1f2;
            }
        }
        &--facebook {
            &:hover,
            &:focus,
            &:active {
                background-color: #3b5998;
            }
        }
        &--linkedin {
            &:hover,
            &:focus,
            &:active {
                background-color: #0077b5;
            }
        }
        &--instagram {
            &:hover,
            &:focus,
            &:active {
                background-color: #e62f65;
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (min-width: $screen-sm-min) {
            margin-left: $space-lg;
        }
    }

    &__contactTitle {
        margin: 0;
        padding-right: $space-sm;
        font-size: $font-sm;
    }

    &__contactMail {
        padding-left: $space-sm;
    }

    &__contactTitle,
    &__contactMail {
        border-bottom: $border-md solid $color-white;
        padding-bottom: $space-sm;

        @media (min-width: $screen-sm-min) {
            border-width: $border-sm;
        }
    }

    &__copyright {
        margin-top: $space-xxl;
        margin-bottom: $space-md;
        font-size: $font-sm;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            grid-area: copyright;
            padding-top: $space-xl;
            margin: 0;
            align-self: flex-end;
            text-align: left;
        }
    }
}
