$footer-logo-height-xs: 5rem;

.footer {
    background: linear-gradient($color-blue, $color-blue-medium);
    color: $color-white;
    padding: $space-md;

    a {
        color: $color-white;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    &__logoImg {
        height: $footer-logo-height-xs;
    }

    &__title {
        text-transform: uppercase;
        font-size: $font-md;
        margin: $space-xl 0 $space-lg 0;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        display: grid;
        grid-gap: $space-md;
        grid-auto-flow: column;
    }

    &__listItem {
        font-size: $font-sm;
    }

    &__adminList {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__archivesList {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    &__follow {
        border-top: $border-md solid $color-white;
        margin: $space-xl -#{$space-md} 0 -#{$space-md};
        padding: 0 $space-md;
    }

    &__followList {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    &__contact {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__contactTitle {
        margin: 0;
        padding-right: $space-sm;
        font-size: $font-sm;
    }

    &__contactMail {
        padding-left: $space-sm;
    }

    &__contactTitle,
    &__contactMail {
        border-bottom: $border-md solid $color-white;
        padding-bottom: $space-sm;
    }

    &__rs {
        font-size: 2em;
        display: inline-block;
        text-align: center;
        width: 1.5em;
        height: 1.5em;
        transition: all 0.3s;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &--twitter:hover,
        &--twitter:focus,
        &--twitter:active {
            color: #1da1f2;
        }

        &--facebook:hover,
        &--facebook:focus,
        &--facebook:active {
            color: #3b5998;
        }

        &--linkedin:hover,
        &--linkedin:focus,
        &--linkedin:active {
            color: #0077b5;
        }

        &--instagram:hover,
        &--instagram:focus,
        &--instagram:active {
            color: #e62f65;
        }
    }

    &__copyright {
        margin-top: $space-xxl;
        margin-bottom: $space-md;
        font-size: $font-sm;
        text-align: center;
    }
}
