$logo-size-xs: 100px;
$logo-size-sm: 150px;

$quote-size: 3rem;

.judcon {
    display: flex;
    margin-top: $space-xxl;

    &__person {
        margin-top: 0;
    }

    &__quoteContainer {
        display: flex;

        &:before,
        &:after {
            content: '';
            display: block;
            width: $quote-size;
            height: $quote-size;
            background-repeat: no-repeat;
            background-size: contain;
            flex-shrink: 0;
        }
        &:before {
            background-image: url('../images/icons/quote_left.svg');
            align-self: flex-start;
            margin-right: $space-sm;
        }
        &:after {
            background-image: url('../images/icons/quote_right.svg');
            align-self: flex-end;
            margin-left: $space-sm;
        }
    }
}
