$logo-size-xs: 100px;
$logo-size-sm: 150px;

$quote-size: 3rem;

.judcon {
    padding: $space-xl 0 $space-xxl 0;

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-sm-min) {
            flex-direction: row;
        }
    }

    &__mainTitle {
        font-size: $font-lg;
        font-weight: $semi-bold;
        margin: 0 $space-md $space-md $space-md;
        text-align: center;

        @media (min-width: $screen-sm-min) {
            font-size: $font-xl;
            margin-bottom: $space-xl;
            text-align: left;
        }
    }

    &__logo {
        $logo-size-xs: 100px;

        @media (min-width: $screen-sm-min) {
            width: $logo-size-sm;
        }
    }

    &__person {
        margin-top: 0;
    }

    &__quoteContainer {
        margin: 0 $space-md;

        @media (min-width: $screen-sm-min) {
            margin: 0;
            display: flex;

            &:before,
            &:after {
                content: '';
                display: block;
                width: $quote-size;
                height: $quote-size;
                background-repeat: no-repeat;
                background-size: contain;
                flex-shrink: 0;
            }
            &:before {
                background-image: url('../images/icons/quote_left.svg');
                align-self: flex-start;
                margin-right: $space-sm;
            }
            &:after {
                background-image: url('../images/icons/quote_right.svg');
                align-self: flex-end;
                margin-left: $space-sm;
            }
        }
    }
}
