.location {
    position: relative;

    &__map {
        width: 100%;
        height: 700px;
    }

    &__card {
        position: absolute;
        background-color: $color-white;
        border: $border-sm solid $color-gray-light;
        border-radius: $border-radius-md;
        box-shadow: $shadow;
        max-width: 50rem;
        top: $space-xxl;
        left: $space-xxl;
    }

    &__cardHeader {
        padding: 20rem $space-xl $space-lg $space-xl;
        background-image: url(../images/illustrations/location.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $border-radius-md $border-radius-md 0 0;
        color: $color-white;
        font-size: $font-xxl;
    }

    &__cardContent {
        padding: $space-xl;
    }

    &__intro {
        margin-bottom: $space-xl;
    }

    &__addressLine {
        display: block;
    }

    &__buttonContainer {
        text-align: center;
    }

    &__mapMarker {
        &__addressTitle {
            font-weight: bold;
        }

        &__addressLine {
            display: block;
        }
    }
}
