.menu {
    $border_size: 0.15rem;

    padding: 0.5rem 0.5em $border_size 0.5rem;
    z-index: 1;
    font-family: $font_family;
    font-size: $font-xs;
    position: fixed;
    right: 0;
    left: 0;
    text-align: right;
    height: 3rem;

    &__item {
        display: inline-block;
        padding: 1rem;
        margin-left: 1rem;
        color: white;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            color: white;
            text-decoration: none;
            border-bottom: solid $border_size $color-blue;
        }

        &--current {
            border-bottom: solid $border_size $color_yellow;
        }
    }

    &__langue {
        color: white;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0;

        &:last-child {
            margin-left: 0;
        }

        &--selected,
        &--selected:hover {
            color: $color_yellow;
        }
    }

    &__langueSeparator {
        color: white;
    }
}

.navbar-animated {
    transition: all 0.5s;
    &-small {
        background-color: white;
        color: black;
    }
}
