.navbar-animated{
    height: $navbar-height;
    line-height: $navbar-height;

    @include transition(all 0.3s);

    &-logo{
        @include transition(all 0.3s);
        height: $navbar-height;
        line-height: $navbar-height;
        padding-top: 0;
        padding-bottom: 0;
    }

}

// Pour surcharger le selecteur de Bootstrap
li a.navbar-animated-link{
    @include transition(all 0.3s);
    height: $navbar-height;
    line-height: $navbar-height;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-animated-small{
    height: $navbar-small-height;
    line-height: $navbar-small-height;

    .navbar-animated-logo{
        height: $navbar-small-height;
        line-height: $navbar-small-height;
    }

    li a.navbar-animated-link{
        height: $navbar-small-height;
        line-height: $navbar-small-height;
    }
}

// Only on mobile
@media (max-width: $screen-xs-max) {

    body{
        padding-top: 0;
    }

    .navbar-fixed-top {
        position: static;
        margin-bottom: 0;
    }

    .navbar-animated{
        height: $navbar-small-height;
        line-height: $navbar-small-height;

        &-logo{
            height: $navbar-small-height;
            line-height: $navbar-small-height;
        }

    }

    // Pour surcharger le selecteur de Bootstrap
    li a.navbar-animated-link{
        height: $navbar-small-height;
        line-height: $navbar-small-height;
    }
}