nav a {
    text-decoration: none;
}

.navbar-animated {
    min-height: $navbar-small-height;
    height: $navbar-height;
    line-height: $navbar-height;
    background: #fff;

    @include transition(all 0.3s);

    & .container-fluid{
        background-color: $color-white;
    }

    &-logos {
        margin-left: 0.5em;
    }

    &-logo {
        @include transition(all 0.3s);
        height: $navbar-height;
        line-height: $navbar-height;
        padding: 0;
        margin: 0;
        
        img {
            height: 100%;
        }
    }

}

// Complicated selectors to override those of Bootstrap
.nav>li>a {
    padding: 10px 10px;
}

li a.navbar-animated-link {
    @include transition(height 0.3s);
    height: $navbar-height;
    line-height: $navbar-height;
    padding-top: 0;
    padding-bottom: 0;

    &:hover,
    &:focus,
    &:active {
        border-bottom: 4px solid $color-blue;
    }
}

.navbar-default .navbar-nav > li a.navbar-animated-link {
    color: $color-gray-dark;

    &:hover,
    &:focus,
    &:active {
        color: $color-black-light;
    }
}

.navbar-default .navbar-nav > li.active a.navbar-animated-link {
    background-image: none;
    background-color: $color-white;
    border-bottom: 4px solid $color-yellow;
    @include box-shadow(none);

    &:hover,
    &:focus,
    &:active {
        border-color: $color-blue;
    }
}

li.open a.navbar-animated-link {
    border-bottom: 4px solid $color-blue;
}



.navbar-default .navbar-nav > li.open > a.navbar-animated-link {
    &:hover,
    &:focus,
    &:active {
        background-image: none;
        background-color: $color-white;
    }
}

.dropdown-caret {
    font-size: 1.2em;
    padding-left: 0.2em;
}

ul.dropdown-menu {
    padding: 0;
    border: none;
    @include border-radius(0);
}


ul.dropdown-menu > li > a {
    color: $color-gray-dark;
    padding: 0.8em 1em;
    border-left: 4px solid $color-white;

    &:hover,
    &:focus,
    &:active {
        background-image: none;
        background-color: $color-white;
        border-color: $color-blue;
        color: $color-black-light;
    }
}

ul.dropdown-menu > li.active > a {
    background-color: $color-white;
    border-color: $color-yellow;
    background-image: none;
    color: $color-gray-dark;
    
    &:hover,
    &:focus,
    &:active {
        background-image: none;
        background-color: $color-white;
        border-color: $color-blue;
        color: $color-black-light;
    }
}

.navbar-animated-small{
    height: $navbar-small-height;
    line-height: $navbar-small-height;

    .navbar-animated-logo{
        height: $navbar-small-height;
        line-height: $navbar-small-height;
    }

    li a.navbar-animated-link{
        height: $navbar-small-height;
        line-height: $navbar-small-height;
    }

    & .navbar-RedHat{
        font-size: 0.8em;
    }
}

.navbar .label-primary {
    font-size: 100%;
    padding: 0.6em 1em 0.7em 1em;
    background-color: $color-yellow;
}

.navbar{
    &-rivieradev {
        margin-right: 0.3em;
    }
    &-RedHat{
        @include display-flex();
        & img.navbar-RedHat--logo{
            display: inline-block;
            @include align-self(flex-end);
            height: 2em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            margin-bottom: 0.25em;
        }
        &--featuring{
            display: inline-block;
            height: 1em;
            line-height: 1em;
            @include align-self(flex-end);
            margin-bottom: 0.6em;
        }
    }
}
// To override bootstrap selector
#navbar-RedHat{
    margin-left: 0;
}


.navbar-fixed-top .navbar-collapse {
    max-height: 100vh;
    background-color: $color-white;

    &.in {
        @include box-shadow(0 3px 3px rgba(0,0,0,0.2));
    }
}

.navbar-default .navbar-toggle {
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;

        .icon-bar {
            background-color: $color-blue;
        }
    }

}

// ----- Only on mobile ---------------------------------------------------------------------------

@media (max-width: $screen-md-min) {

    body{
        padding-top: 0;
    }

    .navbar-fixed-top {
        position: inherit;
        margin-bottom: 0;

        // Override bootstrap design
        background-image: none;
        background-color: $color-white;
    }

    .navbar-animated{
        height: $navbar-small-height;
        line-height: $navbar-small-height;

        &-logo{
            height: $navbar-small-height;
            line-height: $navbar-small-height;
        }

    }

    // Complicated selectors to override those of Bootstrap :-(

    li a.navbar-animated-link{
        height: $navbar-small-height;
        line-height: $navbar-small-height;
        border-left: 4px solid $color-white;

        &:hover,
        &:focus,
        &:active {
            border-bottom: none;
            border-color: $color-blue;
        }
    }

    .navbar-default .navbar-nav > li.open > a.navbar-animated-link {
        &:hover,
        &:focus,
        &:active {
            background-image: none;
            background-color: $color-white;
        }
    }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav > li.active a.navbar-animated-link {
        background-image: none;
        background-color: $color-white;
        border-bottom: none;
        border-left: 4px solid $color-yellow;
        color: $color-black-light;

        &:hover,
        &:focus,
        &:active {
            background-image: none;
            background-color: $color-white;
            border-color: $color-blue;
            color: $color-black-light;
        }
    }

    #navbar-RedHat{
        font-size: 0.8em;
        margin-left: 0;
    }

}