.newsletter {
    padding-top: 0.5em;
    margin-bottom: 2em;

    &-form {
        margin-top: 2em;
        text-align: center;

        &-group {
            margin-bottom: 0;
        }
    }

    &-icon {
        // Awkward numbers to align the icon with the rest of the form
        font-size: 4em;
        vertical-align: middle;

        margin-right: 0.3em;
        color: $color-yellow;
    }

}

// To override Bootstrap's selector
.newsletter-form .newsletter-mail {
    height: 3em;
    width: 22em;
    max-width: 95%;
    border-radius: 0;
    display: inline-block;
}


// ----- Only on mobile ---------------------------------------------------------------------------


@media (max-width: $screen-xs-max) {



}