$newsletter-space-sm: $space-xxl;

$title-font-md: $font-xxxl;
$title-top-md: $space-sm;
$title-bottom-md: $space-md;

$input-width: 35rem;
$input-height: 4rem;

//$background-width: 680px;
$background-width: 600px;
//$background-height: 218px;
$background-height: 192px;

.newsletter {
    border-top: $border-sm solid $color-gray-light;
    padding: $newsletter-space-sm 0;
    text-align: center;

    @media (min-width: $screen-md-min) {
        border-top: none;
    }

    &__title {
        margin: 0 $content-space-xs $space-md $content-space-xs;
        text-align: left;

        @media (min-width: $screen-sm-min) {
            text-align: center;
        }

        @media (min-width: $screen-md-min) {
            font-size: $title-font-md;
            margin: $title-top-md $content-space-sm $title-bottom-md
                $content-space-sm;
        }
    }

    &__emailContainer {
        @media (min-width: $screen-md-min) {
            display: inline-block;
            background-image: url(../images/icons/newsletter-paper-plane.svg);
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: $background-width;
            padding-right: calc(#{$background-width} - #{$input-width});
            margin-right: calc(-#{$background-width} + #{$input-width});
            padding-top: calc(#{$background-height} - #{$input-height});
            margin-top: calc(
                -#{$title-bottom-md} - #{$title-font-md} - #{$newsletter-space-sm}
            );
        }
    }

    &__email {
        font-size: $font-md;
        height: $input-height;
        width: $input-width;

        @media (min-width: $screen-md-min) {
            background-color: transparent;
            border: none;
        }

        &::placeholder {
            color: $color-gray;
        }
    }

    &__buttonContainer {
        text-align: center;
    }

    &__button {
        margin-top: $space-lg;
    }
}
