.orgas {

    &-rivierajug {
        width: auto;
    }

    &-contact {
        margin-top: 2em;
    }

    &-photo {
        width: 100%;
        @include box-shadow(0 0 6px rgba(0, 0, 0, 0.3));
    }

}
