@include responsiveBackgroundImage(
    '.orgas__header',
    '../images/illustrations/responsives/team-mini'
);

.orgas {
    &__header {
        background-position: center;
    }

    &__mainSubtitle {
        p {
            margin: 0;
        }
        a {
            color: $color-white;
        }
    }

    &__button {
        margin-top: $space-xl;
    }

    &-rivierajug {
        width: auto;
    }

    &-contact {
        margin-top: 2em;
    }

    &-photo {
        width: 100%;
    }
}
