.orgas {
    &__header {
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/team-mini.jpg'
        );
        background-position: top 35% right 0;
    }

    &__mainSubtitle {
        p {
            margin: 0;
        }
        a {
            color: $color-white;
        }
    }

    &__button {
        margin-top: $space-xl;
    }

    &-rivierajug {
        width: auto;
    }

    &-contact {
        margin-top: 2em;
    }

    &-photo {
        width: 100%;
    }
}
