body, html {
  height: 100%;
}

.parallax {
  background-image: url("../images/header_parallax.jpg");
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-title {
  text-align: center;
  color: white;
  padding-top: 3em;
}

.parallax-title-title {
  margin-top: 0;
}
