$avatar-size-xs: 100px;
$avatar-size-sm: 150px;

.persons {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $space-md;
        justify-items: center;

        @media (min-width: $screen-sm-min) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.personSummary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: $space-lg;

    &__link {
    }

    &__photo {
        display: inline-block;
        width: $avatar-size-xs;
        height: $avatar-size-xs;
        border-radius: $avatar-size-xs;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            width: $avatar-size-sm;
            height: $avatar-size-sm;
            border-radius: $avatar-size-sm;
        }
    }

    &__desc {
        margin-top: $space-sm;
    }

    &__name {
        text-transform: uppercase;
        font-weight: bold;
    }

    &__title,
    &__year {
        font-size: $font-sm;
    }
}

.personDetails {
    margin-top: 2em;

    &:before,
    &:after {
        display: block;
        width: 100%;
        height: 5px;
        margin: 2em 0;
        background-color: $color-blue;
    }

    &-name-title {
        margin-bottom: 1em;
    }

    &-name {
        text-transform: uppercase;
        color: $color-blue;
        font-size: 1.3em;
    }

    &-title {
        font-style: italic;
    }

    &-photo-img {
        max-width: 100%;
        height: auto;
    }

    &-icon {
        color: $color-yellow;
        font-size: 1.3em;
    }

    &-link {
        margin-bottom: 0.5em;
    }
}

// Only on xs devices (smartphones)
@media (max-width: $screen-xs-max) {
    .personDetails {
        margin-top: 0;

        &:before,
        &:after {
            height: 0;
        }

        &-photo {
            text-align: center;

            &-img {
                max-width: 200px;
            }
        }

        &-name-title {
            text-align: center;
        }

        &-biography {
            margin: 2em 0;
        }
    }
}
