$avatar-size-xs: 100px;
$avatar-size-sm: 150px;

.persons {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $space-md;
        justify-items: center;

        @media (min-width: $screen-sm-min) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.personSummary {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: $space-lg;

    &__link {
    }

    &__photo {
        display: inline-block;
        width: $avatar-size-xs;
        min-width: $avatar-size-xs;
        height: $avatar-size-xs;
        height: $avatar-size-xs;
        border-radius: $avatar-size-xs;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            width: $avatar-size-sm;
            height: $avatar-size-sm;
            border-radius: $avatar-size-sm;
        }
    }

    &__desc {
        margin-top: $space-sm;
    }

    &__name {
        text-transform: uppercase;
        font-weight: $bold;
    }

    &__title,
    &__year {
        font-size: $font-sm;
    }
}

.personDetails {
    position: relative;
    $borderRadius: 0.5rem;

    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
        width: 70%;
    }

    &__header {
        margin: 0 auto;
        padding: 2rem 0;
        border-radius: $borderRadius $borderRadius 0 0;
        color: $color-white;
        width: 100%;
        text-align: center;
        background-color: $color-yellow;

        &--content {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--photo {
            margin: 6rem 4rem 4rem;
        }
    }

    &__desc {
        text-align: left;
    }

    &__name {
        line-height: 1.5em;
        font-size: $font-xl;
    }

    &__title {
        font-size: $font-lg;
        font-weight: $light;
    }

    &__network {
        font-size: $font-xs;
        line-height: 2em;
        font-weight: $light;
        margin-top: $space-sm;
        font-weight: $semi-bold;

        & a {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__body {
        padding: 2% 10%;
        border-radius: 0 0 $borderRadius $borderRadius;
        background-color: $color-gray-ultralight;
        font-size: $font-sm;
        line-height: 1.4em;
    }

    &__twitter:before,
    &__blog:before,
    &__micro:before {
        content: '';
        display: inline-block;
        width: $icon-size-lg;
        height: $icon-size-lg;
        vertical-align: middle;
    }

    &__twitter:before {
        background-image: url(../images/icons/twitter-logo-button.svg);
    }

    &__blog:before {
        background-image: url(../images/icons/link.svg);
    }

    &__micro:before {
        background-image: url(../images/icons/microphone.svg);
        vertical-align: text-bottom;
    }

    &__talk {
        line-height: 2em;
        text-decoration: none;
        font-size: $font-md;
        font-weight: $semi-bold;
        color: inherit;
        transition: color 0.2s;

        &:hover {
            color: $color-yellow;
        }

        &--quote {
            color: $color-yellow;
            margin: 0 0.2em;
        }
    }

    &__admin {
        font-size: $font-xs;
        position: absolute;
        bottom: $space-sm;
        right: $space-sm;
    }
}
