$photo-max-width-lg: 425px;
$photo-max-width-xs: 300px;
$photo-min-height-xs: 300px;
$photo-min-height-lg: 350px;
$photos-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 25%
);

@include responsiveBackgroundImage(
    '.photos__header',
    '../images/illustrations/responsives/speakers-mini' // TODO change
);

@include responsiveBackgroundImage(
    '.photos__link--2023',
    '../images/illustrations/responsives/2023-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2021',
    '../images/illustrations/responsives/2021-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2019',
    '../images/illustrations/responsives/2019-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2018',
    '../images/illustrations/responsives/2018-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2017',
    '../images/illustrations/responsives/2017-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2016',
    '../images/illustrations/responsives/2016-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2015',
    '../images/illustrations/responsives/2015-mini',
    $photos-gradient
);
@include responsiveBackgroundImage(
    '.photos__link--2011',
    '../images/illustrations/responsives/2011-mini',
    $photos-gradient
);

@include responsiveBackgroundImage(
    '.photos__link--2010',
    '../images/illustrations/responsives/2010-mini',
    $photos-gradient
);

@include responsiveBackgroundImage(
    '.photos__link--2009-2',
    '../images/illustrations/responsives/2009-2-mini',
    $photos-gradient
);

@include responsiveBackgroundImage(
    '.photos__link--2009-1',
    '../images/illustrations/responsives/2009-1-mini',
    $photos-gradient
);

.photos {
    margin-left: $space-md;
    margin-right: $space-md;

    @media (min-width: $screen-md-min) {
        margin-left: $space-xl;
        margin-right: $space-xl;
    }
    @media (min-width: $screen-lg-min) {
        margin-left: $space-xxl;
        margin-right: $space-xxl;
    }
    @media (min-width: $screen-lg-min) {
        margin-left: $space-xxxl;
        margin-right: $space-xxxl;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax($photo-max-width-xs, 1fr)
        );
        grid-gap: $space-lg;

        @media (min-width: $screen-lg-min) {
            grid-template-columns: repeat(
                auto-fit,
                minmax($photo-max-width-lg, 1fr)
            );
        }
    }

    &__link {
        align-self: stretch;
        justify-self: stretch;
        position: relative;
        min-height: $photo-min-height-xs;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;
        transition: box-shadow 0.1s ease-in-out;

        @media (min-width: $screen-lg-min) {
            min-height: $photo-min-height-lg;
        }

        &:hover,
        &:focus {
            box-shadow: $shadow-lg;
        }
    }

    &__title {
        position: absolute;
        bottom: $space-md;
        left: $space-lg;
        color: $color-white;
        font-size: $font-xl;
    }
}
