@include responsiveBackgroundImage(
    '.photos__header',
    '../images/illustrations/responsives/speakers-mini' // TODO change
);

@include responsiveBackgroundImage(
    '.photos__link--2017',
    '../images/illustrations/responsives/2017-mini',
    top
);
@include responsiveBackgroundImage(
    '.photos__link--2016',
    '../images/illustrations/responsives/2016-mini',
    top
);
@include responsiveBackgroundImage(
    '.photos__link--2015',
    '../images/illustrations/responsives/2015-mini',
    top
);
@include responsiveBackgroundImage(
    '.photos__link--2011',
    '../images/illustrations/responsives/2011-mini',
    top
);

@include responsiveBackgroundImage(
    '.photos__link--2010',
    '../images/illustrations/responsives/2010-mini',
    top
);

@include responsiveBackgroundImage(
    '.photos__link--2009-2',
    '../images/illustrations/responsives/2009-2-mini',
    top
);

@include responsiveBackgroundImage(
    '.photos__link--2009-1',
    '../images/illustrations/responsives/2009-1-mini',
    top
);

$photo-max-width: 500px;
$photo-min-height: 300px;

.photos {
    margin-left: $space-xxxl;
    margin-right: $space-xxxl;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($photo-max-width, 1fr));
        grid-gap: $space-lg;
    }

    &__link {
        align-self: stretch;
        justify-self: stretch;
        position: relative;
        min-height: $photo-min-height;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;
        transition: box-shadow 0.1s ease-in-out;

        &:hover,
        &:focus {
            box-shadow: $shadow-lg;
        }
    }

    &__title {
        position: absolute;
        bottom: $space-lg;
        left: $space-lg;
        color: $color-white;
        font-size: $font-xl;
    }
}
