.registration {
    &-buttons {
        margin-top: 3em;
        margin-bottom: 3em;
        text-align: center;
    }

    &-partenaire{
        margin-top: 1em;
    }

}


@media (max-width: $screen-xs-max) {

    .registration{

        &-buttons {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        &-button {
            margin: 0.2em;
        }

    }
}