$avatar-size: 30px;

.schedule {
    &__header {
        // TODO use another image
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/tickets.jpg'
        );
        background-position: 0 30%;
    }

    &--desktop {
        display: none;

        @media (min-width: $screen-sm-min) {
            display: block;
        }
    }
    &--mobile {
        display: block;

        @media (min-width: $screen-sm-min) {
            display: none;
        }
    }
}

.tempSchedule {
    margin-top: $space-lg;

    &-intro {
        font-size: 1.25em;
        margin-bottom: 0;
    }

    &-bloc {
        margin-bottom: 3em;
    }

    &-day {
        padding-left: 15px;
        padding-right: 15px;
    }

    &-slot {
        border-bottom: 1px solid $color-gray-light;
        margin-right: 0;
        margin-left: 0;
        font-size: 1.25em;
    }

    &-time {
        padding-right: 0;
        line-height: 2em;
    }

    &-title {
        line-height: 2em;
    }
}

.fullSchedule {
    width: 100%;
    table-layout: fixed;
    border-spacing: $space-sm;
    margin: -#{$space-sm};

    &__admin {
        font-size: $font-xxs;
        font-weight: normal;
    }

    &__col {
        &--time {
            width: 20%;
            @media (min-width: $screen-sm-min) {
                width: 10%;
            }
        }
        &--2tracks {
            width: 45%;
        }
        &--3tracks {
            width: 30%;
        }
        &--4tracks {
            width: 22.5%;
        }
        &--5tracks {
            width: 18%;
        }
        &--5tracks {
            width: 15%;
        }
        &--7tracks {
            width: 12.8%;
        }
        &--xs {
            width: 90%;
        }
    }

    &__track {
        text-align: center;
    }

    &__time {
        background-color: $color-gray-ultralight;
        border-radius: $border-radius-sm;
        text-align: center;
        font-size: $font-xxl;
        font-weight: initial;
        color: $color-gray;
        vertical-align: top;
        padding: $space-md $space-xs;
    }

    &-track-title {
        color: $color-gray-dark;
    }

    &__talk {
        &__cell {
            vertical-align: top;
            position: relative;
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: $border-radius-sm;
            box-shadow: $shadow-sm;
            text-decoration: none;

            &--link {
                &:hover,
                &:focus,
                &:active {
                    box-shadow: $shadow-lg;
                }
            }
        }

        &__part,
        &__part1,
        &__part2 {
            padding: $space-sm;
        }

        &__part1 {
            flex: 1;
            border-radius: $border-radius-sm $border-radius-sm 0 0;
            border: $border-sm solid $color-gray-light;
            border-bottom: none;
        }

        &__title {
            display: block;
            font-size: $font-sm;
            font-weight: bold;
            color: $color-black-light;
        }

        &__slotTrack {
            margin-top: $space-md;
            font-size: $font-xs;
            color: $color-gray;
        }

        &__slot,
        &__track {
            margin-top: $space-xs;
        }

        &__infos {
            margin-top: $space-md;
            font-size: $font-xxs;
            color: $color-gray;
        }

        &__part2 {
            position: relative;
            border-radius: 0 0 $border-radius-sm $border-radius-sm;
            color: $color-white;
            border-width: $border-sm;
            border-style: solid;
            border-top: none;

            &--blue {
                background-color: $color-theme-blue;
                border-color: $color-theme-blue;
            }
            &--yellow {
                background-color: $color-theme-yellow;
                border-color: $color-theme-yellow;
            }
            &--purple {
                background-color: $color-theme-purple;
                border-color: $color-theme-purple;
            }
            &--green {
                background-color: $color-theme-green;
                border-color: $color-theme-green;
            }
            &--orange {
                background-color: $color-theme-orange;
                border-color: $color-theme-orange;
            }
            &--red {
                background-color: $color-theme-red;
                border-color: $color-theme-red;
            }
            &--pink {
                background-color: $color-theme-pink;
                border-color: $color-theme-pink;
            }
            &--turquoise {
                background-color: $color-theme-turquoise;
                border-color: $color-theme-turquoise;
            }
            &--brown {
                background-color: $color-theme-brown;
                border-color: $color-theme-brown;
            }
            &--grey,
            &--none {
                background-color: $color-theme-grey;
                border-color: $color-theme-grey;
            }
        }

        &__theme,
        &__type,
        &__level,
        &__language {
            margin-top: $space-xxs;
            background-repeat: no-repeat;
            background-position: top left;
            padding-left: $space-md;
        }

        &__theme {
            background-image: url(../images/icons/talk-theme.svg);
        }
        &__type {
            background-image: url(../images/icons/talk-type.svg);
        }
        &__level {
            background-image: url(../images/icons/talk-level.svg);
        }
        &__language {
            background-image: url(../images/icons/talk-lang.svg);
        }

        &__speakers {
            list-style-type: none;
            padding-left: 0;
            margin: 0 $space-lg 0 0;
        }

        &__speaker:not(:first-child) {
            margin-top: $space-xs;
        }

        &__speakerPhoto {
            vertical-align: middle;
            display: inline-block;
            width: $avatar-size;
            min-width: $avatar-size;
            height: $avatar-size;
            height: $avatar-size;
            border-radius: $avatar-size;
            background-size: cover;
        }

        &__speakerName {
            vertical-align: middle;
            font-size: $font-xs;
            font-weight: bold;
        }

        &__like {
            position: absolute;
            top: $space-sm;
            right: $space-sm;

            & svg {
                color: #777;
            }

            &[data-like='true'] svg {
                color: #cc0303;
            }
        }

        &__nbLikes {
            font-size: $font-xxs;
        }
    }

    &__breakfast,
    &__lunch,
    &__cofeeBreak,
    &__party {
        text-align: center;
        color: $color-white;
        font-size: $font-xl;
        font-weight: bold;
        border-radius: $border-radius-sm;
        padding: $space-xl $space-xs;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            padding: $space-xxxl $space-xs;
        }
    }

    &__breakfast {
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/croissants.jpg'
        );
        background-position: 0 45%;
    }

    &__lunch {
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/lunch.jpg'
        );
        background-position: 0 75%;
    }

    &__cofeeBreak {
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/cofee_break.jpg'
        );
        background-position: 0 30%;
    }

    &__party {
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/guitars.jpg'
        );
        background-position: 0 75%;
    }
}

th.fullSchedule-time-title {
    border-top: none;
    border-left: none;
}

.like-explanation {
    margin: $space-sm auto $space-lg;
}
