@include responsiveBackgroundImage(
    '.schools__header',
    '../images/illustrations/responsives/schools-mini'
);

.schools {
    &__header {
        background-position: 75% -80px;

        @media (min-width: $screen-md-min) {
            background-position: 75% 0;
        }

        @media (min-width: $screen-lg-min) {
            background-position: 0 20%;
        }
    }

    &__mainSubtitle {
        p {
            margin: 0;
        }
        a {
            color: $color-white;
        }
    }

    &__button {
        margin-top: $space-xl;
    }

    &-rivierajug {
        width: auto;
    }

    &-contact {
        margin-top: 2em;
    }

    &-photo {
        width: 100%;
    }
}
