.speakers {
    text-align: center;
    padding-bottom: 1.5em;

    &-previous {
        &-title{
            font-size: 1.5em;
            margin-bottom: 1.1em;
        }

        &-subtitle {
            margin-bottom: 2em;
        }
    }
}
