.speakers {
    &__header {
        @include backgroundImageWithDarkGradient(
            '../images/illustrations/speakers-mini.jpg'
        );
        background-position: top;
    }

    &__mainSubtitle {
        p {
            margin: 0;
        }
        a {
            color: $color-white;
        }
    }

    &-photo {
        width: 100%;
    }
}
