.speakers {
    @include notFullWidth;

    &__title {
        margin: $space-md $content-space-xs;

        @media (min-width: $screen-sm-min) {
            margin: $space-lg $content-space-sm;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $space-md;
        justify-items: center;

        @media (min-width: $screen-sm-min) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__buttonContainer {
        text-align: center;
    }
}

.speaker {
    &-talks {
        list-style-type: none;
        padding-left: 0;
        margin-top: 2em;
    }
}

// Only on xs devices (smartphones)
@media (max-width: $screen-xs-max) {
    .speaker-talks {
        margin-bottom: 2em;
    }
}
