// Diamond
$sponsor-diamond-width: 350px;
$sponsor-diamond-height: 161px;

// Platinum and Party
$sponsor-platinum-width: 300px;
$sponsor-platinum-height: 138px;

// Gold
$sponsor-gold-width: 250px;
$sponsor-gold-height: 115px;

// Silver, Lunches and Membership
$sponsor-silver-width: 200px;
$sponsor-silver-height: 92px;

.partenaires {
    padding: $space-xl 0;

    @media (min-width: $screen-sm-min) {
        padding: $space-xxl 0;
    }

    &__container {
    }

    &__title {
        margin: 0 $content-space-xs $space-md $content-space-xs;

        @media (min-width: $screen-sm-min) {
            margin: 0 $content-space-sm $space-lg 0;
        }
    }

    &__level {
        margin: 0 $space-sm $space-sm $space-sm;
        padding-bottom: $space-lg;

        &:not(:last-child) {
            border-bottom: $border-sm solid $color-gray-light;
        }

        @media (min-width: $screen-sm-min) {
            padding-bottom: $space-xl;
            margin-bottom: $space-xxl;
        }
    }

    &__levelTitle {
        margin: 0 $content-space-xs $space-md $content-space-xs;
        text-align: center;
        font-size: $font-xl;
        font-weight: 300;

        @media (min-width: $screen-sm-min) {
            margin: 0 $content-space-sm $space-sm $content-space-sm;
            font-size: $font-xxxl;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__buttonContainer {
        text-align: center;
    }

    &__previousTitle {
        font-size: 1.5em;
        margin-bottom: 1.1em;
    }

    &-contactUs {
        margin: 2em 0;
        padding: 1em;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            padding: 0;
        }

        p {
            font-size: 1.5em;
        }
    }
}

.partenaire {
    &__link {
    }

    &__logo {
        width: $sponsor-silver-width;
        height: $sponsor-silver-height;
        line-height: $sponsor-silver-height;
        display: inline-block;

        margin: 10px;

        text-align: center;
        text-decoration: none;

        overflow: hidden;

        &--gold {
            width: $sponsor-gold-width;
            height: $sponsor-gold-height;
            line-height: $sponsor-gold-height;
        }

        &--platinum,
        &--party {
            width: $sponsor-platinum-width;
            height: $sponsor-platinum-height;
            line-height: $sponsor-platinum-height;

            @media (max-width: $screen-xs-max) {
                width: $sponsor-gold-width;
                height: $sponsor-gold-height;
                line-height: $sponsor-gold-height;
            }
        }

        &--diamond {
            width: $sponsor-diamond-width;
            height: $sponsor-diamond-height;
            line-height: $sponsor-diamond-height;

            @media (max-width: $screen-xs-max) {
                width: $sponsor-gold-width;
                height: $sponsor-gold-height;
                line-height: $sponsor-gold-height;
            }
        }
    }

    &__logoImg {
        max-width: 90%;
        max-height: 80%;
        vertical-align: middle;
        transition: all 0.2s;
    }
}

@include responsiveBackgroundImage(
    '.partenaireDetails__headerPage',
    '../images/illustrations/responsives/sponsor-mini'
);

.partenaireDetails {
    &__headerPage {
        background-position: center;
    }

    position: relative;
    $borderRadius: 0.5rem;

    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
        width: 70%;
    }

    &__header {
        margin: 0 auto;
        padding: 2rem 0;
        border-radius: $borderRadius $borderRadius 0 0;
        color: $color-white;
        width: 100%;
        text-align: center;
        background-color: $color-yellow;

        &--content {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__name {
        font-size: $font-xxl;
        margin: $space-xxs;
    }

    &__network {
        font-size: $font-xs;
        line-height: 2em;
        font-weight: 300;
        & a {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__website,
    &__linkedin,
    &__twitter {
        display: inline-block;
    }

    &__website:nth-of-type(2), // In case of 2 website urls
    &__linkedin,
    &__twitter {
        margin-left: $space-md;
    }

    &__website:before,
    &__linkedin:before,
    &__twitter:before {
        content: '';
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
    }

    &__website:before {
        background-image: url(../images/icons/link.svg);
    }

    &__linkedin:before {
        background-image: url(../images/icons/linkedin.svg);
    }

    &__twitter:before {
        background-image: url(../images/icons/twitter-logo-button.svg);
    }

    &__logo {
        display: block;
        max-width: 70%;
        max-height: 20rem;
        text-align: center;
        margin: $space-md auto;
    }

    &__body {
        padding: 2% 10%;
        border-radius: 0 0 $borderRadius $borderRadius;
        background-color: $color-gray-ultralight;
        font-size: $font-xs;
        line-height: 1.4em;
    }

    &__desc {
        text-align: left;
        margin: $space-md 0;
    }

    &__admin {
        font-size: $font-xs;
        position: absolute;
        bottom: $space-sm;
        right: $space-sm;
    }
}

/* OLD CSS */
.partenaireDetails {
    margin-top: 2em;
    margin-bottom: 4em;

    &-logo {
        max-width: $sponsor-gold-width;
        height: $sponsor-gold-height;
        line-height: $sponsor-gold-height;
        border: 1px solid $color-gray-light;
        margin: 0 auto;

        &-img {
            max-width: 80%;
            max-height: 80%;
            height: auto;
        }
    }

    &-name {
        margin: 0 0 1em 0;
        text-transform: uppercase;
        color: $color-blue;
        font-size: 1.3em;
        line-height: inherit;
        font-weight: inherit;
    }

    &-link {
        margin-bottom: 0.5em;
    }

    &-icon {
        color: $color-yellow;
        font-size: 1.3em;
    }
}

@media (max-width: $screen-xs-max) {
    .partenaireDetails-name {
        text-align: center;
        margin-top: 0.5em;
    }
}

.sponsorship {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1em;

        &--icon:after {
            content: '';
            width: 90px;
            height: 90px;
            background-repeat: no-repeat;
            display: block;
            margin: 0.5em auto 0 auto;
        }
    }

    &--small {
        background: $color-gray-light;
    }

    &-levels--small {
        margin-top: 3em;
    }

    &-level {
        padding: 1em;
        margin-bottom: 2em;
        position: relative;

        &--gold {
            background-image: url('../images/backgrounds/polygon-05.jpg');
            & .sponsorship-title:after {
                //background-image: url('../images/icons/airplane.svg');
            }
        }

        &--silver {
            background-image: url('../images/backgrounds/polygon-02.jpg');
            & .sponsorship-title:after {
                //background-image: url('../images/icons/paper-plane.svg');
            }
        }

        &--platinum {
            background-image: url('../images/backgrounds/polygon-04.jpg');
            & .sponsorship-title:after {
                //background-image: url('../images/icons/rocket.svg');
            }
        }

        &--small {
            //background-image: url('../images/backgrounds/polygon-03.jpg');
            background: $color-gray-light;
        }

        &--breakfasts .sponsorship-title:after {
            background-image: url('../images/icons/croissant.svg');
        }

        &--lunches .sponsorship-title:after {
            background-image: url('../images/icons/lunch.svg');
        }

        &--party .sponsorship-title:after {
            background-image: url('../images/icons/beer.svg');
        }
    }

    &-features {
        padding-left: 0;
    }

    &-feature {
        list-style-type: none;
        padding: 0 0 0 2em;
        margin: 1em 0;
        position: relative;

        svg {
            font-size: 1.6em;
            text-align: center;
            position: absolute;
            left: 0;
        }

        &--no {
            color: $color-black-transparent;
        }
    }

    &-price {
        display: block;
        font-size: 2.5em;
        text-align: center;
    }

    &-available {
        text-align: center;
        font-style: italic;
        height: 1em;
    }

    &-top {
        padding: 2em 2em 0 2em;
    }

    &-bottom {
        text-align: center;
        padding-bottom: 2em;
    }

    &-contactUs {
        margin-top: 1em;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: $screen-md-min) {
    .sponsorship {
        height: 100%;
        &-levels {
            display: flex;
        }
        &-level {
            margin-bottom: 0;
            height: 100%;
        }
    }
}
