.sponsors {

    &-header{
        background-color: rgba(255, 255, 255, 0.7);

        &-subtitle {
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 1.5em;;
        }
    }

    &-title {
        text-align: center;
        font-family: 'Righteous', cursive;
        text-transform: uppercase;
        font-size: 2.5em;
    }

    &-title:before,
    &-title:after {
        width: 20%;
        content: '';
        position: absolute;
        top: 0.7em;
        border-top: 1px solid $color-argent;
    }

    &-title:before{
        left: auto !important;
        right: 50%;
        margin-right: 2.2em;
    }

    &-title:after {
        left: 50% !important;
        right: auto !important;
        margin-left: 2.2em;
    }

    &-title-or:before{
        width: 22.5%;
        margin-right: 1em;
    }

    &-title-or:after {
        width: 22.5%;
        margin-left: 1em;
    }
    
    &-title-or {
        color: $color-or;
    }

    &-title-argent {
        color: $color-argent;
    }

    &-title-bronze {
        color: $color-bronze;
    }

    &-level {
        position: relative;

        &:first-child {
            margin-top: 1.5em;
        }
    }


    &-previous{
        &-title{
            font-size: 1.5em;
            margin-bottom: 1.1em;
        }
    }

    &-contactUs{
        font-size: 1.5em;
        margin: 2em;
        background-color: $color-gray-ultralight;
        padding: 1em;
    }
}

.sponsor {

    &-logo {
        width: 200px;
        height: 200px;
        line-height: 200px;
        display: inline-block;

        margin: 10px;
        
        text-align:center;
        border: 1px solid $color-gray-ultralight;
        text-decoration: none;

        overflow: hidden;
        transition: all 0.2s;

        &:hover,
        &:focus,
        &:active {
            border-color: $color-gray;
        }

        &-img {
            width: 80%;
            vertical-align: middle;
            transition: all 0.2s;
        }

        &:hover &-img,
        &:focus &-img,
        &:active &-img {
            transform: scale(1.1);
        }
    }

    &-description{
        margin-top: 20px;
        &-about{
            margin-top: 10px;
        }
    }
}