.partenaires {
    width: 100%;
    @include box-shadow(inset 0 0 6px rgba(0, 0, 0, 0.3));
    background-color: $color-gray-ultralight;

    &-header{
        //background-color: rgba(255, 255, 255, 0.7);

        &-subtitle {
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 1.5em;;
        }
    }

    &-title {
        margin: 1em auto 0 auto;
        font-family: 'Righteous', cursive;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5em;
        width: 80%;
        @include display-flex();
        @include justify-content(space-between);
        @include align-items(center);

        &-text {
            padding: 0 0.5em;
        }
    }

    &-title:before,
    &-title:after {
        content: '';
        background-color: $color-argent;
        height: 1px;
        flex-grow: 1;
    }
    
    &-title-or {
        color: $color-or;
    }

    &-title-argent {
        color: $color-argent;
    }

    &-title-bronze {
        color: $color-bronze;
    }

    &-level {
        position: relative;

        &:first-child {
            margin-top: 1.5em;
        }
    }


    &-previous{
        &-title{
            font-size: 1.5em;
            margin-bottom: 1.1em;
        }
    }

    &-contactUs{
        font-size: 1.5em;
        margin: 2em 0;
        padding: 1em;
        text-align: center;
    }
}

.partenaire {

    &-logo {
        width: 200px;
        height: 150px;
        line-height: 150px;
        display: inline-block;

        margin: 10px;
        
        text-align:center;
        border: 1px solid transparent;
        text-decoration: none;

        overflow: hidden;
        transition: all 0.2s;

        &:hover,
        &:focus,
        &:active {
            border-color: $color-gray-light;
        }

        &-img {
            max-width: 80%;
            max-height: 80%;
            vertical-align: middle;
            transition: all 0.2s;
        }

    }

    &-description{
        margin-top: 20px;
        &-about{
            margin-top: 10px;
        }
    }
}

.sponsorship {
    padding: 2em;
    background-color: $color-white;
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-between);

    &-title {
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1em;

        &--icon:after{
            content: '';
            width: 90px;
            height: 90px;
            background-repeat: no-repeat;
            display: block;
            margin: 0.5em auto 0 auto;
        }
    }

    &--small{
        background: $color-gray-light;
    }

    &-levels--small {
        margin-top: 3em;
    }

    &-level {
        padding: 1em;
        margin-bottom: 2em;
        position: relative;

        &--gold {
            background-image: url('../images/backgrounds/polygon-05.jpg');
            & .sponsorship-title:after{
                //background-image: url('../images/icons/airplane.svg');
            }
        }

        &--silver {
            background-image: url('../images/backgrounds/polygon-02.jpg');
            & .sponsorship-title:after{
                //background-image: url('../images/icons/paper-plane.svg');
            }
        }

        &--platinum {
            background-image: url('../images/backgrounds/polygon-04.jpg');
            & .sponsorship-title:after{
                //background-image: url('../images/icons/rocket.svg');
            }
        }

        &--small {
            //background-image: url('../images/backgrounds/polygon-03.jpg');
            background: $color-gray-light;
        }

        &--breakfasts .sponsorship-title:after{
            background-image: url('../images/icons/croissant.svg');
        }

        
        &--lunches .sponsorship-title:after{
            background-image: url('../images/icons/burger.svg');
        }

        &--party .sponsorship-title:after{
            background-image: url('../images/icons/beer.svg');
        }
    }

    &-features {
        padding-left: 0;
    }

    &-feature {
        list-style-type: none;
        padding: 0 0 0 2em;
        margin: 1em 0;
        position: relative;

        i {
            font-size: 1.8em;
            width: 1em;
            text-align: center;
            position: absolute;
            left: 0;
            top: -0.2em;
        }

        &--no {
            color: $color-black-transparent;
        }
    }

    &-price {
        display: block;
        font-size: 2.5em;
        text-align: center;
    }

    &-available{
        text-align: center;
        font-style: italic;
    }

    &-bottom{
        text-align: center;
    }

    &-contactUs{
        margin-top: 1em;
        margin-bottom: 0;
    }

}

@media (min-width: $screen-md-min) {
    .sponsorship {
        height: 100%;
        &-levels {
            @include display-flex();
        }
        &-level{
            margin-bottom: 0;
            height: 100%;
        }
    }
}