.partenaires {

    &-header{
        background-color: rgba(255, 255, 255, 0.7);

        &-subtitle {
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 1.5em;;
        }
    }

    &-title {
        margin: 1em auto 0 auto;
        font-family: 'Righteous', cursive;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5em;
        width: 80%;
        @include display-flex();
        @include justify-content(space-between);
        @include align-items(center);

        &-text {
            padding: 0 0.5em;
        }
    }

    &-title:before,
    &-title:after {
        content: '';
        background-color: $color-argent;
        height: 1px;
        flex-grow: 1;
    }
    
    &-title-or {
        color: $color-or;
    }

    &-title-argent {
        color: $color-argent;
    }

    &-title-bronze {
        color: $color-bronze;
    }

    &-level {
        position: relative;

        &:first-child {
            margin-top: 1.5em;
        }
    }


    &-previous{
        &-title{
            font-size: 1.5em;
            margin-bottom: 1.1em;
        }
    }

    &-contactUs{
        font-size: 1.5em;
        margin: 2em 0;
        background-color: $color-gray-ultralight;
        padding: 1em;
        text-align: center;
    }
}

.partenaire {

    &-logo {
        width: 200px;
        height: 200px;
        line-height: 200px;
        display: inline-block;

        margin: 10px;
        
        text-align:center;
        border: 1px solid $color-gray-ultralight;
        text-decoration: none;

        overflow: hidden;
        transition: all 0.2s;

        &:hover,
        &:focus,
        &:active {
            border-color: $color-gray;
        }

        &-img {
            width: 80%;
            vertical-align: middle;
            transition: all 0.2s;
        }

        &:hover &-img,
        &:focus &-img,
        &:active &-img {
            transform: scale(1.1);
        }
    }

    &-description{
        margin-top: 20px;
        &-about{
            margin-top: 10px;
        }
    }
}

.sponsorship {
    padding: 2em;

    &-title {
        margin-top: 0;
        text-align: center;
    }

    &--gold {
        background-color: $color-or;
        color: $color-white;
    }

    &--silver {
        background-color: $color-argent;
        color: $color-white;
    }

    &-features {
        padding-left: 0;
    }

    &-feature {
        list-style-type: none;
        padding: 0 0 0 2em;
        margin: 1em 0;
        position: relative;

        i {
            font-size: 1.8em;
            width: 1em;
            text-align: center;
            position: absolute;
            left: 0;
            top: -0.2em;
        }

        &--no i {
            color: $color-white-transparent;
        }
    }

    &-price {
        display: block;
        font-size: 2.5em;
        text-align: center;
    }

}