.statistics {
    display: flex;
    flex-wrap: no-wrap;
    align-items: stretch;
    color: $color-white;
    margin-left: 0;
    margin-right: 0;

    @media (max-width: $screen-xs-max) {
        display: block;
    }

    &-col {
        flex: 1 0;
        padding: 3em;

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }

        &--1 {
            background-color: $color-blue;
        }
        &--2 {
            background-color: $color-purple;
        }
        &--3 {
            background-color: $color-yellow;
        }
    }

    &-item {
        position: relative;
        text-align: center;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        width: 40%;

        @media (max-width: $screen-md-max) {
            width: 60%;
        }

        @media (max-width: $screen-sm-max) {
            width: 80%;
        }

        @media (max-width: $screen-xs-max) {
            width: 50%;
        }

        &:not(:last-child) {
            margin-bottom: 2em;
        }

        span {
            font-size: 3em;
            font-weight: 600;
            display: block;
        }
    }

    &-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 2.5em 2.5em;
        opacity: 0.2;

        &--days { background-image: url(../images/icons/days.svg); }
        &--attendees { background-image: url(../images/icons/success.svg); }
        &--tracks { background-image: url(../images/icons/layers.svg); }
        &--keynotes { background-image: url(../images/icons/microphone.svg); }
        &--conferences { background-image: url(../images/icons/speech.svg); }
        &--workshops { background-image: url(../images/icons/people-laptop.svg); }
        &--breakfasts { background-image: url(../images/icons/snacks-sign.svg); }
        &--buffets { background-image: url(../images/icons/cooking.svg); }
        &--party { background-image: url(../images/icons/concert.svg); }
    }

    &-text {
        width: calc(100% - 2.5em);
        margin-left: 2.5em;
    }
}