$soldout-hoverlay: rgba(256, 256, 256, 0.5);

@include responsiveBackgroundImage(
    '.subscribe__header',
    '../images/illustrations/responsives/tickets-mini'
);

.subscribe {
    &__header {
        @media (min-width: $screen-md-min) {
            background-position: 0 30%;
        }
    }
}

.passes {
    @media (min-width: $screen-md-min) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'deepdiveMain conferenceMain combiMain'
            'deepdiveDesc conferenceDesc combiDesc';
        grid-column-gap: $space-lg;
    }
}

.training {
    @media (min-width: $screen-md-min) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'trainingMain trainingChapter trainingChapter'
            'trainingDesc trainingChapter trainingChapter';
        grid-column-gap: $space-lg;
    }

    &__description {
        grid-area: trainingChapter;
        margin-left: $space-sm;
        margin-right: $space-sm;

        @media (min-width: $screen-md-min) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

$color-deepDive: #fdba1d;
$color-conference: #fdaf1d;
$color-combi: #eb8815;
$color-deepDive-label: #d99f16;
$color-conference-label: #c68d24;
$color-combi-label: #c67517;

$font-main-price: 6rem; //60px

$bullet-size: 0.6rem; // 6px

.pass {
    &__mainContainer {
        position: relative;
        padding: $space-xl;
        border-radius: $border-radius-md $border-radius-md 0 0;
        box-shadow: $shadow-md;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-left: $space-sm;
        margin-right: $space-sm;

        @media (min-width: $screen-md-min) {
            margin-left: 0;
            margin-right: 0;
        }

        &--deepdive {
            grid-area: deepdiveMain;
            background-color: $color-deepDive;
        }

        &--conference {
            grid-area: conferenceMain;
            background-color: $color-conference;
        }

        &--combi {
            grid-area: combiMain;
            background-color: $color-combi;
        }

        &--training {
            grid-area: trainingMain;
            background-color: $color-combi;
        }
    }

    &__name {
        font-size: $font-xxl;
        font-weight: $bold;
        margin-top: 0;
        margin-bottom: $space-xl;
    }

    &__pass {
        &--deepdive {
            color: $color-deepDive-label;
        }

        &--conference {
            color: $color-conference-label;
        }

        &--combi,
        &--training {
            color: $color-combi-label;
        }
    }

    &__days {
        font-size: $font-lg;
        margin-bottom: $space-md;
    }

    &__price {
        font-size: $font-main-price;
        margin-bottom: $space-md;
    }

    &__maxPrice {
        font-size: $font-xxl;
        margin-bottom: $space-md;
        text-decoration: line-through;
    }

    &__studentPrice {
        font-size: $font-lg;
        margin-bottom: $space-md;
    }

    &__buy {
        padding-left: $space-xl;
        padding-right: $space-xl;

        &--deepdive {
            &:hover,
            &:focus,
            &:active {
                background-color: rgba($color-deepDive-label, 0.3);
            }
        }

        &--conference {
            &:hover,
            &:focus,
            &:active {
                background-color: rgba($color-conference-label, 0.3);
            }
        }

        &--training,
        &--combi {
            &:hover,
            &:focus,
            &:active {
                background-color: rgba($color-combi-label, 0.3);
            }
        }

        &--soldout {
            visibility: hidden;
        }
    }

    &__soldout {
        position: absolute;
        bottom: $space-md;
        left: 0;
        width: 100%;
    }

    &__soldoutImg {
    }

    &__descriptionContainer {
        position: relative;
        align-self: flex-start;
        padding: $space-xl $space-xl $space-lg $space-xl;
        border: $border-sm solid $color-gray-light;
        border-radius: 0 0 $border-radius-md $border-radius-md;
        box-shadow: $shadow-md;
        margin-left: $space-sm;
        margin-right: $space-sm;
        margin-bottom: $space-xxl;

        @media (min-width: $screen-md-min) {
            margin-left: 0;
            margin-right: 0;
        }

        &--deepdive {
            grid-area: deepdiveDesc;

            .pass__descriptionItem:before {
                background-color: $color-deepDive;
            }
        }

        &--conference {
            grid-area: conferenceDesc;

            .pass__descriptionItem:before {
                background-color: $color-conference;
            }
        }

        &--combi {
            grid-area: combiDesc;

            .pass__descriptionItem:before {
                background-color: $color-combi;
            }
        }

        &--training {
            grid-area: trainingDesc;

            .pass__descriptionItem:before {
                background-color: $color-combi;
            }
        }
    }

    &__description {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__descriptionItem {
        margin-bottom: $space-xs;
        display: flex;
        justify-content: flex-start;

        &:before {
            content: '';
            width: $bullet-size;
            height: $bullet-size;
            border-radius: $bullet-size / 2;
            flex-shrink: 0;
            margin-top: $space-xs;
            margin-right: $space-xs;
        }
    }

    &__remainingDays {
        text-align: center;
        color: $color-gray;
        font-size: $font-xs;
        margin-top: $space-lg;
    }

    &__mainContainer,
    &__descriptionContainer {
        &--soldout {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $soldout-hoverlay;
            }
        }
    }
}
