.talksFilter {
    @media (min-width: $screen-lg-min) {
        margin: 0 $space-xxxl;
    }

    & input[type='checkbox'] {
        display: none;
    }

    & label {
        display: flex;
        position: relative;

        & .talksFilter__item--text {
            cursor: pointer;
        }
    }

    & label:before {
        content: '';
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        border: $color-gray-light 1px solid;
        border-radius: 15%;
        margin-right: $space-sm;
        cursor: pointer;
    }

    & input[type='checkbox']:checked + label:before {
        background-color: $color-yellow;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    &__filters {
        overflow: hidden;
        transition: height 0.5s;
    }

    &__filter {
        margin: 0 0 $space-md $space-md;

        @media (min-width: $screen-md-min) {
            margin: 0;
            float: left;
            width: 33%;
        }
    }

    &__title {
        margin: $space-xs 0;
        font-size: $font-md;
    }

    &__items {
        font-size: $font-sm;
        font-weight: $light;
    }

    &__item {
        margin: 1em 0;
        @media (min-width: $screen-md-min) {
            margin: $space-sm 0;
        }

        &--text:before {
            content: '';
            display: block;
            border-bottom: $color-white 1px solid;
            border-left: $color-white 1px solid;
            width: 0.7em;
            height: 0.3em;
            transform: rotate(-45deg);
            position: absolute;
            left: 0.3em;
            top: 0.35em;
        }
    }

    &__button {
        &--filter {
            text-align: right;
            margin-right: $space-sm;
        }

        &--cancel {
            text-align: center;
            margin-bottom: $space-xxs;

            &:before {
                content: '';
                display: block;
                clear: both;
            }
        }
    }
}

.talksFilter {
    &-collapse {
        position: relative;
    }

    &-buttonCollapse {
        text-transform: uppercase;
        background-color: $color-gray-ultralight;
        padding: 0.4rem 1rem;
        display: block;
        margin-top: 20px;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &:hover svg,
        &:focus svg,
        &:active svg {
            margin-left: 0.2rem;
            margin-right: 0.3rem;
        }

        & svg {
            margin-right: 0.5rem;
            transition: all 0.2s linear;
        }

        &[aria-expanded='true'] {
            & svg {
                margin-left: 0;
                margin-right: 0.5rem;
                transform: rotate(90deg);
            }
        }
    }

    &-title {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        margin-right: 0.5em;
    }

    &-options {
        display: inline-block;
        padding: 10px 15px;
    }

    &-item {
        transition: all 0.3s;
        margin-left: 0;
        margin-right: 0;
    }

    &.collapse.in &-reset {
        display: block;
    }

    &-reset {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: lighten($color-gray, 10%);
        padding: 0 0.4em;
        margin: 0.5rem;
        border-radius: 4px;
        color: white;
        margin-bottom: 0.5em;

        &:hover,
        &:focus {
            background-color: $color-gray;
        }

        &--icon {
            margin-right: 0.5rem;
        }
    }
}

.talksFilter-options .talksFilter-item {
    cursor: pointer;

    &[data-filter-theme='hidden'],
    &[data-filter-level='hidden'],
    &[data-filter-language='hidden'],
    &[data-filter-type='hidden'],
    &[data-filter-theme='hidden'][data-filter-level='hidden'] {
        opacity: 0.2;
    }
}

// Only on xs devices (smartphones)
@media (max-width: $screen-xs-max) {
    .talksFilter-options .talksFilter-item {
        padding: 0.5em;
    }

    .talksFilter-levels {
        margin-top: 0.5em;
    }
}

// Hide items on the schedule page
.fullSchedule .talksFilter-item {
    &[data-filter-theme='hidden'],
    &[data-filter-level='hidden'],
    &[data-filter-language='hidden'],
    &[data-filter-type='hidden'],
    &[data-filter-theme='hidden'][data-filter-level='hidden'] {
        opacity: 0.05;
        transition: all 0.3s;
    }
}

// Hide items on the talks page
.talks .talksFilter-item {
    &[data-filter-theme='hidden'],
    &[data-filter-level='hidden'],
    &[data-filter-language='hidden'],
    &[data-filter-type='hidden'],
    &[data-filter-theme='hidden'][data-filter-level='hidden'] {
        display: none;
    }
}
