#{extends 'main.html' /}
#{set title:'RivieraDEV' /}

<h1>Comment venir</h1>

<iframe width="600" height="350" frameborder="0" scrolling="no" 
 marginheight="0" marginwidth="0" 
 src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=sophia-antipolis&amp;aq=&amp;sll=46.75984,1.738281&amp;sspn=10.312236,15.732422&amp;ie=UTF8&amp;hq=&amp;hnear=Sophia+Antipolis,+Valbonne,+Maritime+Alps,+Provence-Alpes-C%C3%B4te+d'Azur&amp;t=h&amp;z=14&amp;ll=43.622557,7.041145&amp;output=embed">
</iframe>
<br />
<small>
 <a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=sophia-antipolis&amp;aq=&amp;sll=46.75984,1.738281&amp;sspn=10.312236,15.732422&amp;ie=UTF8&amp;hq=&amp;hnear=Sophia+Antipolis,+Valbonne,+Maritime+Alps,+Provence-Alpes-C%C3%B4te+d'Azur&amp;t=h&amp;z=14&amp;ll=43.622557,7.041145" 
   style="color:#0000FF;text-align:left">View Larger Map</a>
</small>