#{extends 'main.html' /}
#{set title:'RivieraDEV' /}

<h1>Date</h1>

La conférence aura lieu les jeudi 11 et vendredi 12 juin 2015.

<h1>Lieu</h1>

La conférence aura lieu au Forum du campus Sophia-Tech à Sophia-Antipolis. Plus d’info et plan d’accès prochainement.

<h1>Contactez-nous</h1>

<p>
Vous pouvez nous contacter par email à <a href="mailto:info@rivieradev.fr">info@rivieradev.fr</a>.
</p> 

<!--

<h1>Informations pratiques</h1>

<p>Voici un plan pour localiser les tracks Java, Web et Recherche à Inria jeudi et vendredi :</p>

<img src="@{'/public/images/plan.png'}"/>

<ul>
<li>Comme la keynote commence à 9h00, essayez d´arriver dès 8h15 pour obtenir le programme et votre tshirt.</li>
<li>La keynote aura lieu dans l´amphi (track Java).</li>
<li>Les petits-déjeuner seront disponibles entre les talks du matin, pas avant le premier talk.</li>
<li>L´OpenCoffee aura lieu le jeudi de 18h à 21h au Green King, tout près de Riviera DEV, et sera parfait pour continuer
les discussions avec les speakers. <a href="http://www.facebook.com/event.php?eid=297422623602254">Informations et inscriptions</a>.</li>
</ul>

<h1>Comment venir</h1>

<img class="rivieradev-world" src="@{'/public/images/rivieradev-world.png'}"/>

<iframe width="600" height="500" frameborder="0" scrolling="no" 
 marginheight="0" marginwidth="0" 
 src="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=202448295675952091034.0004a4425bdb914827545&amp;t=h&amp;source=embed&amp;ll=43.616516,7.067884&amp;spn=0.002128,0.004823&amp;iwloc=0004a4425bdc99f9ba71a&amp;output=embed">
</iframe>
<br />
<small>Voir 
<a href="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=202448295675952091034.0004a4425bdb914827545&amp;t=h&amp;source=embed&amp;ll=43.616516,7.067884&amp;spn=0.002128,0.004823&amp;iwloc=0004a4425bdc99f9ba71a" style="color:#0000FF;text-align:left"
 >Inria Sophia Antipolis</a>
dans Google Maps</small>

<p>
<b>Prévoyez de vous garer sur le parking devant Inria, vous ne pourrez pas entrer en voiture.</b>
</p>

-->