#{extends 'main.html' /}
#{set title:'RivieraDEV' /}

<h1>À propos</h1>

<p>
Riviera DEV est une conférence de développeurs faite par des développeurs bénévoles, dont
l’association Riviera JUG.
</p>

<p>
En 2015, Riviera DEV à accueilli près de 300 personnes sur deux jours. 
</p>

<h1>Date</h1>

La conférence aura lieu les jeudi 16 et vendredi 16 juin 2016.

<h1>Lieu</h1>

<p>
La conférence aura lieu au campus Sophia-Tech à Sophia-Antipolis.
</p>

<img src="public/images/plan.png"/><br/>

<h1>Contactez-nous</h1>

<p>
Vous pouvez nous contacter par email à <a href="mailto:info@rivieradev.fr">info@rivieradev.fr</a>.
</p> 
