#{extends 'main.html' /}
#{set title:'Informations pratiques' /}

<div class="page-title-container parallax parallax-page parallax-page-access">
	<h1 class="title page-title">Informations pratiques</h1>
</div>


<p>
La conférence aura lieu au campus Sophia-Tech à Sophia-Antipolis.
</p>

<img src="public/images/plan.png"/><br/>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.5423810473426!2d7.072104999999995!3d43.61606899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cc2b21621dcab9%3A0x22cdb93bf10abe40!2sCampus+Sophia+Tech!5e0!3m2!1sfr!2sfr!4v1433354358689" width="600" height="450" frameborder="0" style="border:0"></iframe>

<h2>Venir en voiture</h2>

<div class="alert alert-warning" role="alert">
<strong>Attention</strong> : en raison de la course à pied <a href="http://unice.fr/sophiacolorrace">Sophia Color Race</a>, le jeudi 11 juin, 
l’accès au parking P2 sera fermé entre 18h et 19h30. Ça tombe bien, nous avions tout prévu ;-), 
c'est le moment du meet &amp; greet où vous pourrez discuter avec les orateurs en buvant un coup.
Sinon, Nous vous conseillons donc de vous garer à l’extérieur du campus, sur le parking du Géant Casino à Saint Philippe 
ou bien le long de l’IUT (route des Lucioles).
</div>

<p>
Le parking P2 est le parking réservé aux visiteurs, accessible par la route des Chappes (portail 2 sur le plan du campus).
</p>

<h2>Venir en bus</h2>

<p>
 <a href="http://www.ceparou06.fr/index.asp">Lignes de bus</a> :
</p>

<ul>
 <li><a href="https://www.departement06.fr/documents/A-votre-service/Deplacements/transports-en-commun/cg06-transports_lignes_230.pdf">Depuis Nice/Aéroport : ligne 230, descendre à l’arrêt Les Templiers (1.50€)</a></li>
 <li><a href="http://www.envibus.fr/ligne_detail.asp?id=1&id_commune=1">Depuis Antibes (gare SNCF): ligne 1, descendre à l’arrêt Les Templiers (1€)</a></li>
</ul>
