#{extends 'main.html' /}
#{set title:'Informations pratiques' /}

<div class="page-title-container parallax parallax-page parallax-page-access">
	<h1 class="title page-title">Informations pratiques</h1>
</div>

<div class="container">

	<h2 class="title">Les 2 jours de conférence Riviera DEV</h2>

	<div class="row">
		<div class="col-sm-6 col-md-5 col-md-offset-1">
			<h3>A Sophia-Antipolis</h3>
			<p>
				Rendez-vous au <strong>Skema Business School</strong>, en plein coeur de Sophia-Antipolis.
			</p>
			<p>
				Sophia Antipolis
				<br>
				60 Rue Fedor Dostoïevski
				<br>
				06902 Valbonne
			</p>
		</div>

		<div class="col-sm-6 col-md-5">
			<h3>Les 11 et 12 mai 2017</h3>
			<p>
				Le Riviera DEV se déroulera mi-mai lorsque les beaux jours reviendront.
			</p>
		</div>
	</div>

	<div class="access-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11554.747094587965!2d7.056227!3d43.613063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c504f1214a80db0!2sSKEMA+Business+School+-+Sophia+Antipolis!5e0!3m2!1sfr!2sfr!4v1478209468272" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>


	<h2 class="title">Accès</h2>

	<p>TODO</p>

	<h2 class="title">Hôtels</h2>

	<p>TODO</p>

</div> <!-- /.container -->

<h2>Venir en bus</h2>

<p>
 <a href="http://www.ceparou06.fr/index.asp">Lignes de bus</a> :
</p>

<ul>
 <li><a href="https://www.departement06.fr/documents/A-votre-service/Deplacements/transports-en-commun/cg06-transports_lignes_230.pdf">Depuis Nice/Aéroport : ligne 230, descendre à l’arrêt Les Templiers (1.50€)</a></li>
 <li><a href="http://www.envibus.fr/ligne_detail.asp?id=1&id_commune=1">Depuis Antibes (gare SNCF): ligne 1, descendre à l’arrêt Les Templiers (1€)</a></li>
</ul>
