#{extends 'main.html' /}
#{set title:'Devenir Sponsor' /}

<div class="page-title-container">
	<h1 class="title page-title"><span>Devenir sponsor</span></h1>
</div>

<div class="container page-container">

    <h2>Pourquoi sponsoriser le RivieraDev ?</h2>

    <div class="row">
        <div class="col-xs-12">
            <p>
                Le RivieraDev est organisé par des bénévoles dont la seule motivation est d'offrir
                un évènement Dev de qualité sur Sophia-Antipolis.
            </p>

            <p>
                Pour cela nous avons besoin de <strong>vous</strong>.
            </p>

            <p>
                Votre participation nous permet de louer le lieu, payer le transport et l’hébergement des orateurs, 
                bien nourrir tout le monde pendant deux jours et organiser une soirée qui permet à tous les participants 
                de se rencontrer, d'échanger et de passer un moment agréable.
            </p>

            <p>
                En échange nous nous engageons à vous donner un maximum de visibilité, sur le 
                Web mais également pendant toute la durée de l’évènement. C'est l'opportunité idéale
                si vous cherchez à recruter des développeurs et développeuses passionnés par leur métier, 
                si vous voulez affirmer votre image dans les communautés novatrices ou faire connaître vos services auprès des ces dernières.
            </p>
        </div>
    </div>


    <h2>Nos packs</h2>

    <p>Nous proposons différents niveaux de partenariats.</p>

    <div class="row">

        <div class="col-sm-6">
            <div class="sponsorship-level sponsorship-level--silver">
                <div class="sponsorship">
                    <h3 class="sponsorship-title">Pack Silver</h2>
                    <ul class="sponsorship-features">
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo en taille moyenne dans le footer du site web
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo en taille moyenne sur la newsletter
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--no">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Non inclus</span>
                            Votre logo sur les communiqués de presse du Riviera DEV
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Création d'une page de présentation de votre société sur le site web
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Un article dédié avant l’événement sur le site web, également diffusé sur la mailing-list et les réseaux sociaux
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo en taille moyenne sur le programme affiché lors de la conférence
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--no">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Non inclus</span>
                            Votre logo sur la signalétique de l’ensemble de la conférence
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--no">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Non inclus</span>
                            Un stand lors de la conférence
                        </li>
                        <li class="sponsorship-feature">
                            Votre société mentionée par les organisateurs lors de la keynote d'introduction
                        </li>
                    </ul>
                    <span class="sponsorship-price">1 500 €</span>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="sponsorship-level sponsorship-level--gold">
                <div class="sponsorship">
                    <h3 class="sponsorship-title">Pack Gold</h2>
                    <ul class="sponsorship-features">
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo en grande taille dans le footer du site web
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo en grande taille sur la newsletter
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo sur les communiqués de presse du Riviera DEV
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Création d'une page de présentation de votre société sur le site web
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Un article dédié avant l’événement sur le site web, également diffusé sur la mailing-list et les réseaux sociaux
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo en grande taille sur le programme affiché lors de la conférence
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Votre logo sur la signalétique de l’ensemble de la conférence
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            Un stand lors de la conférence
                        </li>
                        <li class="sponsorship-feature">
                            Un discours de présentation de votre société lors de la keynote d'introduction
                        </li>
                    </ul>
                    <span class="sponsorship-price">3 000 €</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="sponsorship-level sponsorship-level--small">
                <div class="sponsorship sponsorship--small">
                    <h3 class="sponsorship-title">Pack Petit Déjeuner</h3>
                    <p>
                        Le petit déjeuner au nom de votre entreprise.
                        Les participants sont très friands de ce moment pour débuter leurs journées.
                    </p>
                    <span class="sponsorship-price">1 000 €</span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="sponsorship-level sponsorship-level--small">
                <div class="sponsorship sponsorship--small">
                    <h3 class="sponsorship-title">Pack Déjeuners</h3>
                    <p>
                        Les déjeuners au nom de votre entreprise.
                    </p>
                    <span class="sponsorship-price">2 000 €</span>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="sponsorship-level sponsorship-level--small">
                <div class="sponsorship sponsorship--small">
                    <h3 class="sponsorship-title">Pack Soirée</h3>
                    <p>
                        La soirée avec buffet, tireuses à bière et concert au nom de votre entreprise.
                        Associez le nom de votre entreprise à un moment de détente, de bonne humeur et de partage.
                    </p>
                    <span class="sponsorship-price">2 000 €</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="partenaires-contactUs">
                Pour devenir sponsor du Riviera DEV, contactez-nous par mail à <a href="mailto:info@rivieradev.fr">info@rivieradev.fr</a>
            </p>
        </div>
    </div>

</div>
