#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.becomeSponsor.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.becomeSponsor.title'}</span></h1>
</div>

<div class="container page-container">

    <h2>&{'views.application.becomeSponsor.why'}</h2>

    <div class="row">
        <div class="col-xs-12">
            <p>
                &{'views.application.becomeSponsor.reason.1'}
                &{'views.application.becomeSponsor.reason.2'}
            </p>

            <p>
                &{'views.application.becomeSponsor.reason.3'}
            </p>

            <p>
                &{'views.application.becomeSponsor.reason.4'}
                &{'views.application.becomeSponsor.reason.5'}
                &{'views.application.becomeSponsor.reason.6'}
            </p>

            <p>
                &{'views.application.becomeSponsor.reason.7'}
                &{'views.application.becomeSponsor.reason.8'}
                &{'views.application.becomeSponsor.reason.9'}
                &{'views.application.becomeSponsor.reason.10'}
            </p>
        </div>
    </div>


    <h2>&{'views.application.becomeSponsor.packs.title'}</h2>

    <p>&{'views.application.becomeSponsor.packs.text'}</p>

    <div class="row sponsorship-levels">

        <div class="col-md-4">
            <div class="sponsorship-level sponsorship-level--platinum">
                <div class="ribbon-wrapper"><div class="ribbon">&{'views.application.becomeSponsor.packs.soldout'}</div></div>
                <div class="sponsorship">
                    <div class="sponsorship-top">
                        <h3 class="sponsorship-title">&{'views.application.becomeSponsor.packs.platinum.title'}</h3>
                        <ul class="sponsorship-features">
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.platinum.co-branding'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.platinum.track'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.platinum.logo'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.platinum.booth'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.platinum.mailing-list'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.platinum.keynote'}
                            </li>
                        </ul>
                    </div>
                    <div class="sponsorship-bottom">
                        <span class="sponsorship-price">&{'views.application.becomeSponsor.packs.platinum.price'}</span>
                        <div class="sponsorship-available">&{'views.application.becomeSponsor.packs.platinum.available'}</div>
                        <a class="disabled btn btn-default btn-lg button sponsorship-contactUs" href="mailto:info@rivieradev.fr">&{'views.application.becomeSponsor.packs.contactUs'}</a>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="sponsorship-level sponsorship-level--gold">
                <div class="sponsorship">
                    <div class="sponsorship-top">
                        <h3 class="sponsorship-title">&{'views.application.becomeSponsor.packs.gold.title'}</h3>
                        <ul class="sponsorship-features">
                            <li class="sponsorship-feature sponsorship-feature--no">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.excluded'}</span>
                                &{'views.application.becomeSponsor.packs.gold.co-branding'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--no">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.excluded'}</span>
                                &{'views.application.becomeSponsor.packs.gold.track'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.gold.logo'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.gold.booth'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.gold.mailing-list'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.gold.keynote'}
                            </li>
                        </ul>
                    </div>
                    <div class="sponsorship-bottom">
                        <span class="sponsorship-price">&{'views.application.becomeSponsor.packs.gold.price'}</span>
                        <div class="sponsorship-available">&{'views.application.becomeSponsor.packs.gold.available'}</div>
                        <a class="btn btn-primary btn-lg button sponsorship-contactUs" href="mailto:info@rivieradev.fr">&{'views.application.becomeSponsor.packs.contactUs'}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="sponsorship-level sponsorship-level--silver">
                <div class="sponsorship">
                    <div class="sponsorship-top">
                        <h3 class="sponsorship-title">&{'views.application.becomeSponsor.packs.silver.title'}</h3>
                        <ul class="sponsorship-features">
                            <li class="sponsorship-feature sponsorship-feature--no">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.excluded'}</span>
                                &{'views.application.becomeSponsor.packs.silver.co-branding'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--no">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.excluded'}</span>
                                &{'views.application.becomeSponsor.packs.silver.track'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.silver.logo'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--no">
                                <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.excluded'}</span>
                                &{'views.application.becomeSponsor.packs.silver.booth'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.silver.mailing-list'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.silver.keynote'}
                            </li>
                        </ul>
                    </div>
                    <div class="sponsorship-bottom">
                        <span class="sponsorship-price">&{'views.application.becomeSponsor.packs.silver.price'}</span>
                        <div class="sponsorship-available">&{'views.application.becomeSponsor.packs.silver.available'}</div>
                        <a class="btn btn-primary btn-lg button sponsorship-contactUs" href="mailto:info@rivieradev.fr">&{'views.application.becomeSponsor.packs.contactUs'}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row sponsorship-levels sponsorship-levels--small">

        <div class="col-md-4">
            <div class="sponsorship-level sponsorship-level--small sponsorship-level--breakfasts">
                <div class="sponsorship sponsorship--small">
                    <div class="sponsorship-top">
                        <h3 class="sponsorship-title sponsorship-title--icon">&{'views.application.becomeSponsor.packs.breakfasts.title'}</h3>
                        <ul class="sponsorship-features">
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.breakfasts.brand'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.breakfasts.booth'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.breakfasts.mailing'}
                            </li>
                        </ul>
                    </div>
                    <div class="sponsorship-bottom">
                        <span class="sponsorship-price">&{'views.application.becomeSponsor.packs.breakfasts.price'}</span>
                        <div class="sponsorship-available">&{'views.application.becomeSponsor.packs.breakfasts.available'}</div>
                        <a class="btn btn-primary btn-lg button sponsorship-contactUs" href="mailto:info@rivieradev.fr">&{'views.application.becomeSponsor.packs.contactUs'}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="sponsorship-level sponsorship-level--small sponsorship-level--lunches">
                <div class="sponsorship sponsorship--small">
                    <div class="sponsorship-top">
                        <h3 class="sponsorship-title sponsorship-title--icon">&{'views.application.becomeSponsor.packs.lunches.title'}</h3>
                        <ul class="sponsorship-features">
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.lunches.brand'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.lunches.booth'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.lunches.mailing'}
                            </li>
                        </ul>
                    </div>
                    <div class="sponsorship-bottom">
                        <span class="sponsorship-price">&{'views.application.becomeSponsor.packs.lunches.price'}</span>
                        <div class="sponsorship-available">&{'views.application.becomeSponsor.packs.lunches.available'}</div>
                        <a class="btn btn-primary btn-lg button sponsorship-contactUs" href="mailto:info@rivieradev.fr">&{'views.application.becomeSponsor.packs.contactUs'}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="sponsorship-level sponsorship-level--small sponsorship-level--party">
                <div class="sponsorship sponsorship--small">
                    <div class="sponsorship-top">
                        <h3 class="sponsorship-title sponsorship-title--icon">&{'views.application.becomeSponsor.packs.party.title'}</h3>
                        <ul class="sponsorship-features">
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.party.brand'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.party.booth'}
                            </li>
                            <li class="sponsorship-feature sponsorship-feature--yes">
                                <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                                &{'views.application.becomeSponsor.packs.party.mailing'}
                            </li>
                        </ul>
                    </div>
                    <div class="sponsorship-bottom">
                        <span class="sponsorship-price">&{'views.application.becomeSponsor.packs.party.price'}</span>
                        <div class="sponsorship-available">&{'views.application.becomeSponsor.packs.party.available'}</div>
                        <a class="btn btn-primary btn-lg button sponsorship-contactUs" href="mailto:info@rivieradev.fr">&{'views.application.becomeSponsor.packs.contactUs'}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="partenaires-contactUs">
                &{'views.application.becomeSponsor.contact-us'}
            </p>
        </div>
    </div>

</div>
