#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.becomeSponsor.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.becomeSponsor.title'}</span></h1>
</div>

<div class="container page-container">

    <h2>&{'views.application.becomeSponsor.why'}</h2>

    <div class="row">
        <div class="col-xs-12">
            <p>
                &{'views.application.becomeSponsor.reason.1'}
                &{'views.application.becomeSponsor.reason.2'}
            </p>

            <p>
                &{'views.application.becomeSponsor.reason.3'}
            </p>

            <p>
                &{'views.application.becomeSponsor.reason.4'}
                &{'views.application.becomeSponsor.reason.5'}
                &{'views.application.becomeSponsor.reason.6'}
            </p>

            <p>
                &{'views.application.becomeSponsor.reason.7'}
                &{'views.application.becomeSponsor.reason.8'}
                &{'views.application.becomeSponsor.reason.9'}
                &{'views.application.becomeSponsor.reason.10'}
            </p>
        </div>
    </div>


    <h2>&{'views.application.becomeSponsor.packs.title'}</h2>

    <p>&{'views.application.becomeSponsor.packs.text'}</p>

    <div class="row">

        <div class="col-sm-6">
            <div class="sponsorship-level sponsorship-level--silver">
                <div class="sponsorship">
                    <h3 class="sponsorship-title">Pack Silver</h2>
                    <ul class="sponsorship-features">
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">&{'views.application.becomeSponsor.packs.included'}</span>
                            &{'views.application.becomeSponsor.packs.silver.footer'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.newsletter'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--no">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Non inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.press-release'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.page'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--no">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Non inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.article'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.program'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.banner'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--no">
                            <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Non inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.booth'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.silver.keynote'}
                        </li>
                    </ul>
                    <span class="sponsorship-price">1 500 €</span>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="sponsorship-level sponsorship-level--gold">
                <div class="sponsorship">
                    <h3 class="sponsorship-title">Pack Gold</h2>
                    <ul class="sponsorship-features">
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.footer'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.newsletter'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.press-release'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.page'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.article'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.program'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.banner'}
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                        &{'views.application.becomeSponsor.packs.gold.booth'}
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                        </li>
                        <li class="sponsorship-feature sponsorship-feature--yes">
                            <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Inclus</span>
                            &{'views.application.becomeSponsor.packs.gold.keynote'}
                        </li>
                    </ul>
                    <span class="sponsorship-price">3 000 €</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="sponsorship-level sponsorship-level--small">
                <div class="sponsorship sponsorship--small">
                    <h3 class="sponsorship-title">&{'views.application.becomeSponsor.packs.food.title'}</h3>
                    <p>
                        &{'views.application.becomeSponsor.packs.food.1'}
                        &{'views.application.becomeSponsor.packs.food.2'}
                    </p>
                    <span class="sponsorship-price">2 000 €</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="sponsorship-level sponsorship-level--small">
                <div class="sponsorship sponsorship--small">
                    <h3 class="sponsorship-title">&{'views.application.becomeSponsor.packs.party.title'}</h3>
                    <p>
                        &{'views.application.becomeSponsor.packs.party.1'}
                        &{'views.application.becomeSponsor.packs.party.2'}
                    </p>
                    <span class="sponsorship-price">2 500 €</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="partenaires-contactUs">
                &{'views.application.becomeSponsor.contact-us'}
            </p>
        </div>
    </div>

</div>
