#{extends 'main.html' /}
#{set title:'Call For Paper' /}

<div class="page-title-container parallax parallax-page parallax-page-cfp">
	<h1 class="title page-title">Appel aux conférenciers</h1>
</div>

<div class="container page-container">
    <div class="row">

        <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-3">
            <h2>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Agenda
            </h1>

            <!-- TODO Mettre des dates plus précises -->
            <p><strong>Ouverture du CFP :</strong> Début décembre</p>
            <p><strong>Fermeture du CFP :</strong> Fin janvier</p>
            <p><strong>Annonce du programme :</strong> Fin février</p>

        </div>

        <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-1">
            <h2>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Format
            </h2>

            <p>Chaque talk doit durer 1 heure questions comprises.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="btn btn-primary button button-large" href="https://rivieradev.cfp.io/">
                Proposer un sujet
            </a>
        </div>
    </div>

</div>
