#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.cfp.title') /}

<div class="page-title-container parallax parallax-page parallax-page-cfp">
	<h1 class="title page-title"><span>&{'views.application.cfp.title'}<span></h1>
</div>

<div class="container page-container">
    <div class="row">

        <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-3">
            <h2>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Agenda
            </h1>

            <!-- TODO Mettre des dates plus précises -->
            <p>&{'views.application.cfp.opens'}</p>
            <p>&{'views.application.cfp.closes'}</p>
            <p>&{'views.application.cfp.announce'}</p>

        </div>

        <div class="col-sm-5 col-sm-offset-1 col-lg-3 col-lg-offset-1">
            <h2>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Format
            </h2>

            <p>
                &{'views.application.cfp.conference.format'}
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="btn btn-primary button button-large" href="https://rivieradev.cfp.io/">
                &{'views.application.cfp.propose'}
            </a>
        </div>
    </div>

</div>
