#{extends 'main.html' /}
#{set title:'Call For Paper' /}

<h1>Informations [FR]</h1>

<p>Le call-for-paper est ouvert.</p>

<p>Chaque talk est au format conférence et dure 1 heure questions comprises.</p>

<p>Le CFP <b>ferme le 30 avril</b>.</p>

<h1>Information [EN]</h1>

<p><i>The call-for-paper is open.</p>

<p><i>Each talk is in the conference format and lasts 1 hour Q&A included.</i></p>

<p>The CFP <b>closes on the 30th of April</b>.</p>

<h1>CFP form</h1>

<iframe src="https://docs.google.com/forms/d/1O6voxNXH3-D8NyLcKxbkbUz8QO5gFFegOzmTDcQ3KBg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>