#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.coc.title') /}

<div class="page__header photos__header">
    <h1 class="page__mainTitle">&{'views.application.coc.title'}</h1>
</div>

<div class="page__container notFullWidth">
    <ol>
        <li class="coc__list">
            <div>
                <h2 id="1-To_read" class="coc__title">&{'views.application.coc.chapter.1.title'}</h2>
                <p class="coc__paragraph">&{'views.application.coc.chapter.1.content'}</p>
           </div>
        </li>
        <li class="coc__list">
            <div>
                <h2 id="2-Need_help" class="coc__title">&{'views.application.coc.chapter.2.title'}</h2>
                <p class="coc__paragraph">&{'views.application.coc.chapter.2.content'}</p>
            </div>
        </li>
        <li class="coc__list">
            <div>
               <h2 id="3-Short_version" class="coc__title">&{'views.application.coc.chapter.3.title'}</h2>
                <p class="coc__paragraph">&{'views.application.coc.chapter.3.content.1'}</p>
                <p class="coc__paragraph">&{'views.application.coc.chapter.3.content.2'}</p>
                <p class="coc__paragraph">&{'views.application.coc.chapter.3.content.3'}</p>
                <p class="coc__paragraph">&{'views.application.coc.chapter.3.content.4'}</p>
            </div>
        </li>
    </ol>
</div>
