#{extends 'main.html' /}
#{set title:'RivieraDEV' /}

<div class="sponsor-box">
 <h3>Sponsors</h3>
 #{list items: sponsors, as: 'sponsor'}
  <a href="@{Application.sponsors()}#${sponsor.company.slugify()}" title="${sponsor.company}"><img src="@{Application.sponsorLogo(sponsor.id)}" width="100"/></a><br/>
 #{/list}
</div>

<h1>Riviera DEV</h1>
<p>
 Riviera DEV revient en 2015. Enfin, veut revenir : lisez-plus bas :)
</p>
<p>
 Après <a href="http://www.rivierajug.org/xwiki/bin/view/Main/20091002">Sophia fait sa Java</a> en 2009,  
 <a href="http://sophiaconf2010.fr/">Sophia Conf 2010</a>, et <a href="//2011.rivieradev.fr/">Riviera DEV 2011</a>,
 le <a href="http://rivierajug.org">Riviera JUG</a> continue sur sa lancée et vous propose une nouvelle
 conférence pour développeurs sur Sophia-Antipolis avec cette fois encore de la grande qualité, de bons orateurs sur des
 technos modernes et innovantes, et surtout une conférence conviviale dans notre belle région.
</p>
<p>
 Pour rappel, Riviera DEV 2011, c’était :
</p>
<ul>
 <li>1 keynote</li>
 <li>2 jours</li>
 <li>3 tracks (Java, Recherche et Web)</li>
 <li>6 talks par track chaque jour</li>
 <li>…soit pas moins de 34 présentations</li>
 <li>De bons orateurs</li>
 <li>Une bonne ambiance</li>
 <li>À prix coûtant (30€ par jour repas compris, 10€ pour les étudiants)</li>
 <li>Du beau temps :)</li>
</ul>
<h2>Riviera DEV revient si vous jouez le jeu</h2>
<p>
 Pour ne rien vous cacher, pour Riviera DEV 2011 on s’est vraiment éclaté : ceux qui sont venus ont trouvé les présentations
 super, les orateurs ont beaucoup aimé la conférence et nous redemandent souvent quand on remet ça, et les organisateurs se
 sont bien éclatés à organiser ça. 
</p>
<p>
 Par contre, une semaine avant le début, on avait un taux de remplissage minable : <b>sur les 200 personnes auxquelles on s’attendait,
 on avait 30 inscrits pour le premier jour et 60 pour le second</b>. On a eu un gros coup de stress. Quand je dis « on », je parle des
 organisateurs qui font ça <b>sur leur temps libre, sans rémunération</b> (association à but non lucratif). On a dû appeler les <b>30
 orateurs</b>, dont certains venaient de l’autre bout de la planête, pour les prévenir que le public pourrait ne pas être au rendez-vous,
 histoire de leur laisser une chance d’annuler leur voyage. Sur les 30, un seul a annulé. Les autres sont venus en courant le
 <b>risque d’avoir moins de 10 personnes</b> à leur présentation. On peut les remercier chaleureusement de leur confiance. 
</p>
<p>
 Finalement, le jour J (enfin, les jours Js), nous avions <b>en moyenne 85 personnes par jour</b>. Loin des <b>200 attendus</b>, mais assez pour
 éviter les salles vides aux orateurs. Par contre, quand on fait les tarifs, on prévoit pour X personnes, par exemple pour les goodies
 comme les t-shirts ou le buffet, et du coup on perd de l’argent quand on n’arrive pas au remplissage prévu. Oui, on perd, de la poche
 du Riviera JUG, et si ça dépasse, de la poche des organisateurs. Heureusement on a pu réajuster la commande de buffet, mais pas pour
 les t-shirts. Au final, grâce aux sponsors on n’a pas été dans le négatif, mais c’était une expérience assez stressante. Surtout
 quand on fait ça pour les autres, volontairement (et on était <b>une équipe d’une douzaine de personnes à organiser ça</b>). 
</p>
<p>
 Avec le temps, tout le monde nous demande de remettre ça et de <b>refaire la plus grosse conf Java du Sud</b>, parce qu’elle était sacrément
 sympa, avec des bons talks, du beau temps et un super buffet. Et on est pas insensibles à vos envies au Riviera JUG, vous le savez.
 Alors <b>on a trouvé une solution</b> pour organiser ça au mieux pour vous, les orateurs, les sponsors et nous.
</p>
<h2>Riviera DEV 2015 mode d’emploi</h2>
<p>
 Pour être sûr de ne se lancer dans l’organisation que si le public est au rendez-vous, nous allons utiliser le mode de financement
 du <i>crowd-funding</i> :
</p>
<p>
 Le <b>13 octobre 2014</b> nous avons ouvert les réservations pour <b>une conférence sur deux jours, au printemps 2015</b>, à une date restant
 à déterminer, avec un programme restant à déterminer. On va <b>fermer les inscriptions le 15 novembre 2014 à minuit</b>, et si on atteint un minimum
 de 200 inscriptions, on fait la conférence, on lance l’organisation, on paye la salle, et on lance le programme et <b>en 2015 vous aurez une
 conférence en béton comme on sait les faire</b>. Niveau programme on sait y faire : vous avez vu par le passé.
 Et je tiens à souligner que <b>la plupart des grosses conférences sont complètes avant d’avoir annoncé le programme</b>.
</p>
<p>
 Si <b>mi-novembre 2014</b> vous ne vous êtes pas inscrits ou vous n’êtes pas assez nombreux, on annule tout et on ne se lance pas dans les frais
 et préparatifs fastidieux pour rien, et <b>tous ceux qui se sont inscrits seront intégralement remboursés</b> par la plate-forme de réservation
 EventBrite.
</p>
<p>
 Donc je résume : <b>soit vous voulez une conf, vous nous faites confiance</b>, vous réservez votre
 place 6 mois à l’avance, et si on atteint le quota requis on fait une super conf. <b>Soit on n’atteint pas le quota requis, on ne fait pas la conf</b>,
 et on rembourse tous ceux qui se sont inscrits. Le tout décidé en novembre 2014, pour une conf au printemps 2015. Simple ?
</p>
<h2>Les inscriptions sont ouvertes</h2>
<p>
 Maintenant qu’on a tout bien expliqué, on va vous laisser <b>vous inscrire rapidement</b>, car vous n’avez que jusqu’au dimanche
 15 novembre au soir pour vous inscrire. On compte sur vous :
</p>
<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=13669334347&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/riviera-dev-2015-tickets-13669334347?ref=etckt">Riviera DEV 2015</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>