#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.index.title') /}

<div class="parallax parallax-home">

    <div class="parallax__content">
        <div class="parallax__logosContainer">
            <div class="parallax__logos">
                <img class="parallax__logo--rdev" src="@{'/public/images/logos/logo_RD_full_white.svg'}" alt="RivieraDEV">
                <img class="parallax__logo--judcon" src="@{'/public/images/logos/JUDCon_riviera_logo_white.svg'}" alt="JUDCon">
            </div>
        </div>
        
        <div class="parallax__info">
            <span>&{'views.application.index.date'}</span>
            <div>
                <img class="parallax__icon" src="@{'/public/images/icons/where.svg'}" alt="">
                <span>&{'views.application.index.place'}</span>
            </div>
        </div>
    </div>

    <div class="registration">
        <div class="registration__container">
            <div class="registration__buttons js-registration-buttons">
                #{if promotedPage == 'CFP'}
                    <a class="button button--primary registration__button" href="@{Application.cfp()}">&{'views.application.index.cfp.join.short'}</a>
                #{/if}
                #{elseif promotedPage == 'TICKETS'}
                    <a class="button button--primary registration__button" href="@{Application.subscribe()}">&{'views.application.index.tickets'}</a>
                #{/elseif}
                #{elseif promotedPage == 'SPONSORS'}
                    <a class="button button--primary registration__button" href="https://drive.google.com/open?id=11csM3aImgC6xSCUIiTERGSEvggKbnx5E">&{'views.application.index.sponsors.join'}</a>
                #{/elseif}

                #{if promotedPage2 == 'SPONSORS'}
                    <a class="button registration__button" href="https://drive.google.com/open?id=11csM3aImgC6xSCUIiTERGSEvggKbnx5E">&{'views.application.index.sponsors.join'}</a>
                #{/if}
                #{elseif promotedPage2 == 'SCHEDULE'}
                    <a class="button registration__button" href="@{Application.schedule()}">&{'views.application.index.schedule.short'}</a>
                #{/elseif}
            </div>
        </div>
    </div>

</div> <!-- /.parallax -->

<div class="introCountdown #{if displayCountdown} introCountdown--withCountdown #{/if} notFullWidth">
    
    <div class="introCountdown__intro intro #{if displayCountdown} intro--withCountdown #{/if}">
      
      <div class="intro__titles">
        <h2 class="home__title">RivieraDEV</h2>
        <div class="intro__subtitle">
          <span class="intro__subtitle1">&{'views.application.index.intro.subtitle1'}</span>
          <span class="intro__subtitle2">&{'views.application.index.intro.subtitle2'}</span>
        </div>
      </div> <!-- /intro__titles -->

      <div class="intro__questions">

        <div class="intro__question question">
          <div class="question__title question__title--what">&{'views.application.index.questions.what'}</div>
          <div class="question__answer">
            &{'views.application.index.questions.what.answer'}
          </div>
        </div> <!-- /intro__question -->

        <div class="intro__question question">
          <div class="question__title question__title--when">&{'views.application.index.questions.when'}</div>
          <div class="question__answer">
            &{'views.application.index.questions.when.answer'}
          </div>
        </div> <!-- /intro__question -->

        <div class="intro__question question">
          <div class="question__title question__title--where">&{'views.application.index.questions.where'}</div>
          <div class="question__answer">
            &{'views.application.index.questions.where.answer'}
          </div>
        </div> <!-- /intro__question -->

      </div> <!-- /intro__questions -->
    </div> <!-- /intro -->
    
    <!-- See countdown.js -->
    <div id="js-countdown"></div>

</div> <!-- /introCountdown -->

    <!-- Teaser vidéo -->
    <!--<div class="video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x5f9hm5" allowfullscreen></iframe>
        </div>
    </div>-->

<div class="statistics notFullWidth">
    <div class="statistics__item">
        <span class="statistics__icon statistics__icon--attendees"></span>
        <div class="statistics__text">
            <span class="statistics__number">500</span>
            &{'views.application.index.stats.attendees'}
        </div>
    </div>
    <div class="statistics__item">
        <span class="statistics__icon statistics__icon--conferences"></span>
        <div class="statistics__text">
            <span class="statistics__number">42</span>
            &{'views.application.index.stats.sessions'}
        </div>
    </div>
    <div class="statistics__item">
        <span class="statistics__icon statistics__icon--workshops"></span>
        <div class="statistics__text">
            <span class="statistics__number">18</span>
            &{'views.application.index.stats.workshops'}
        </div>
    </div>
</div>

<div class="aboutUs">
    <div class="aboutUs__item aboutUs__aboutUs">
            <h2 class="home__title aboutUs__title">&{'views.application.index.aboutUs.title'}</h2>
            <p>&{'views.application.index.aboutUs.dna'}</p>
            <p>&{'views.application.index.aboutUs.goal'}</p>
            <div class="aboutUs__buttonContainer">
                <a class="button aboutUs__button" href="@{Application.photos()}">&{'views.application.index.aboutUs.seePhotos'}</a>
            </div>
    </div>
    <div class="aboutUs__item aboutUs__photo2"></div>
    <div class="aboutUs__item aboutUs__photo3"></div>
</div> <!-- ./aboutUs -->

<div class="judcon notFullWidth">
    <figure class="personSummary judcon__person">
        <div class="personSummary__photo" style="background-image: url('@{'/public/images/illustrations/Mark_Little.jpg'}')">
        </div>
        <figcaption class="personSummary__desc">
            <div class="personSummary__name">Mark Little</div>
            <div class="personSummary__title">VP Red Hat<br>CTO JBoss</div>
        </figcaption>
    </figure>
    
    <div class="judcon__quoteContainer">
        <div class="judcon__quote">
            <p>
                Welcome to the sunny French Riviera and our second JUDCon in this locale!
            </p>
            <p>
                I’m extremely excited for <strong>Red Hat</strong> to be able to sponsor a <strong>JUDCon</strong> here because throughout the history of JBoss and then Red Hat, French developers and users have been at the heart of everything we do.
            </p>
            <p>
                Whether it’s the Ceylon language, Camel, ActiveMQ, or WildFly, for instance, you can find French core developers working for us or other companies driving the innovation forward at a rapid pace. Therefore, it is only fitting that we have a JUDCon here because, as many of you will know from the history of JUDCon, this is an event ‘By Developers and For Developers’.
            </p>
            <p>
                We’ve been running JUDCons throughout the world for many years and whilst the themes of the tracks may have changed between events, the underlying theme remains the same: if you want to learn about the innovative things going on with enterprise Java in all of its guises then come to JUDCon and listen to the presentations; if you want to share your experiences with others in the audience then you’ll find plenty of opportunity at the events in and around the sessions; if you just want to be inspired for the next great coding adventure ahead of you then this is one of the best events to be at.
            </p>
            <p>
                JUDCon is about community participation in all of its forms and I really hope you enjoy this event as much as we have enjoyed pulling it together.
            </p>
            <p>
                Onward!
            </p>
        </div>
    </div>
</div> <!-- /.judcon -->

<div class="days grey">
    <div class="days__container notFullWidth">
        <h2 class="days__mainTitle home__title">&{'views.application.index.days.title'}</h2>

        <div class="days__contents">

            <div class="days__intro days__intro--1">
                <img class="days__illustration" src="@{'/public/images/mascotte/Ray_Investigate.png'}" alt="">
                <div class="days__titleDate">
                    <h3 class="days__title days__title--1">&{'views.application.index.days.deepdive.title'}</h3><!-- Do not remove this comment 
                    --><div class="days__date">&{'views.application.index.days.deepdive.date'}</div>
                </div>
                <div class="days__desc">&{'views.application.index.days.deepdive.desc'}</div>
            </div>
            <div class="days__content days__content--1">
                <h3 class="days__subtitle">&{'views.application.index.days.deepdive.conf.title'}</h3>
                <p>&{'views.application.index.days.deepdive.conf.desc'}</p>
                <h3 class="days__subtitle">&{'views.application.index.days.deepdive.workshop.title'}</h3>
                <p>&{'views.application.index.days.deepdive.workshop.desc'}</p>
            </div>

            <div class="days__intro days__intro--2">
                <img class="days__illustration" src="@{'/public/images/mascotte/Ray_IT.png'}" alt="">
                <div class="days__titleDate">
                    <h3 class="days__title days__title--2">&{'views.application.index.days.conf.title'}</h3>
                    <div class="days__date">&{'views.application.index.days.conf.date'}</div>
                </div>
                <div class="days__desc">&{'views.application.index.days.conf.desc'}</div>
            </div>
            <div class="days__content days__content--2">
                <h3 class="days__subtitle">&{'views.application.index.days.conf.keynote.title'}</h3>
                <p>&{'views.application.index.days.conf.keynote.desc'}</p>
                <h3 class="days__subtitle">&{'views.application.index.days.conf.conf.title'}</h3>
                <p>&{'views.application.index.days.conf.conf.desc'}</p>
                <h3 class="days__subtitle">&{'views.application.index.days.conf.notjustcoders.title'}</h3>
                <p>&{'views.application.index.days.conf.notjustcoders.desc'}</p>
            </div>
        
        </div> <!-- /.days__contents -->

        <div class="days__buttonContainer">
            <a class="button button--primary" href="@{Application.schedule()}">&{'views.application.index.schedule'}</a>
        </div>

    </div> <!-- /.days__container -->

</div> <!-- /.days -->

#{if !displayPreviousSpeakers && speakersStar != null && speakersStar.size() > 0}
<div class="speakers">
    <div class="speakers__container notFullWidth">
        <h2 class="home__title speakers__title">&{'views.application.index.speakers'}</h2>
        #{speakers speakers: speakersStar/}

        <div class="speakers__buttonContainer">
            <a class="button" href="@{Application.speakers()}">&{'views.application.index.speakers.link'}</a>
        </div>
    </div>
</div>
#{/if}

#{elseif speakersPreviousYears != null && speakersPreviousYears.size() > 0}
<div class="speakers">
    <div class="speakers__container notFullWidth">
        <h2 class="home__title speakers__title">&{'views.application.index.speakers'}</h2>
        #{previousSpeakers speakers: speakersPreviousYears/}
        
        <div class="speakers__buttonContainer">
            <a class="button" href="@{Application.cfp()}">&{'views.application.index.cfp.join'}</a>
        </div>
    </div>
</div>
#{/elseif}


<div class="location">
    <div id="location-map" class="location__map"></div>
    <div class="location__cardContainer">
        <div class="location__card">
            <div class="location__cardHeader">
                SKEMA Business School
            </div>
            <div class="location__cardContent">
                <div class="location__intro">
                    &{'views.application.index.location.intro'}
                </div>
                <div class="location__address">
                    <span class="location__addressLine">SKEMA Business School - Sophia Antipolis</span>
                    <span class="location__addressLine">Sophia Antipolis</span>
                    <span class="location__addressLine">60 Rue Fedor Dostoïevski</span>
                    <span class="location__addressLine">06902 Valbonne</span>
                    <span class="location__addressLine">France</span>
                </div>
                <div class="location__buttonContainer">
                    <a class="button location__button" href="@{Application.access}" role="button">
                        &{'views.application.index.location.access'}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.location -->

<div class="newsletter grey">
    <h2 class="home__title newsletter__title">
        &{'views.application.index.get-in-touch'}
    </h2>
    #{newsletter /}
</div> <!-- /.newletter -->


#{if latestNews}
<h2>Dernières nouvelles</h2>
<p>
    <a href="@{Application.news()}#${latestNews.publishedDate.format('yyyy-dd-MM')}-${latestNews.title.slugify()}">${latestNews.title}</a>.
</p>
#{/if}


<div class="partenaires">
    <div class="partenaires__container notFullWidth">
        <h2 class="home__title partenaires__title">
            &{'views.application.index.sponsors'}
        </h2>

        #{if sponsors != null && !sponsors.isEmpty()}
            <div class="partenaires__levels">
                #{list sponsors.keySet(), as: 'sponsorShip'}
                    #{sponsorsByLevel sponsors: sponsors.get(sponsorShip), level: sponsorShip.code, lunchesAndPartySoldOut: lunchesAndPartySoldOut/}
                #{/list}
            </div>
        #{/if}

        #{sponsorsPreviousYears sponsorsPreviousYears: sponsorsPreviousYears /}

        <div class="partenaires__buttonContainer">
            <a class="button" href="https://drive.google.com/open?id=11csM3aImgC6xSCUIiTERGSEvggKbnx5E">&{'views.application.index.sponsors.join'}</a>
        </div>

    </div>
</div> <!-- /.partenaires -->


<!-- Countdown -->
<script src="@{'/public/javascripts/libs/jquery.countdown.min.js'}"></script>
<script type="module">
    import initCountdown from "@{'/public/javascripts/countdown.js'}";
    initCountdown(
        {
            eventStartDate: "${eventStartDateStr}", 
            eventEndDate: "${eventEndDateStr}"
        },
        {
            countDownDaysLabel: "&{'tags.countdown.days'}",
            countDownHoursLabel: "&{'tags.countdown.hours'}",
            countDownMinutesLabel: "&{'tags.countdown.minutes'}",
            countDownSecondsLabel: "&{'tags.countdown.seconds'}",
        }
    );
</script>
