<!DOCTYPE html>

<html lang="&{play.i18n.Lang.get()}">
<head>
<title>${play.i18n.Messages.get('views.application.schedule.title')}</title>

<link rel="icon" type="image/png" href="@{'/public/images/favicon.png'}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">

<!-- Custom -->
<link rel="stylesheet" href="@{'/public/stylesheets/live.css'}">

#{get 'moreStyles' /}
</head>
<body>

    <div class="live__currentDate">
        <span id="js-live-currentDate"></span>
    </div>

    <div id="js-target" class="live"></div>

	<!-- Custom JS -->
	<script>
        var showTrack = "${track}";

        var tracks = {
            #{list tracks, as: 'track'}
                "${track.title}": [
                    #{list track.talks, as: 'talk'}
                        {
                            "title": "${talk.getTitle().jsonEscape()}",
                            "description": "${talk.getDescription().jsonEscape()}", 
                            "start": ${talk.slot?.startDate?.time ?: "null"}, 
                            "end": ${talk.slot?.endDate?.time ?: "null"},
                            #{if talk.theme}
                                "theme": "${talk.theme}",
                                "themeColor": "${talk.theme.color.code}",
                            #{/if}
                            #{if talk.type}
                                "type": "${talk.type}",
                            #{/if}
                            #{if talk.level}
                                "level": "&{'views.application.schedule.level.' + talk.level.code}",
                            #{/if}
                            #{if talk.language}
                                "language": "${talk.language}",
                            #{/if}
                            "track": "${track.title.jsonEscape()}", 
                            "speakers": [
                            #{list talk.speakers, as: 'speaker'}
                                {
                                    "name": "${speaker.firstName.jsonEscape()} ${speaker.lastName.jsonEscape()}",
                                    "photo": "@{Application.speakerPhoto(speaker.id)}"
                                }
                                #{if !speaker_isLast},#{/if}
                            #{/list}
                            ]
                        }
                        #{if !talk_isLast},#{/if}
                    #{/list}
                ]
                #{if !track_isLast},#{/if} 
            #{/list}
        };
    </script>

    <!-- Modernizr build including the `webp` detect -->
    <script src="@{'/public/javascripts/libs/modernizr/modernizr-custom-webp.js'}"></script>

    <!-- Add ellipsis when text is too long -->
    <script src="@{'/public/javascripts/libs/clamp.js'}"></script>

    <!-- Custom JS -->
	<script src="@{'/public/javascripts/live.js'}"></script>

    <script>
        // Detect if webp is supported by the web browser
        Modernizr.on('webp', function (isSupported) {
            let body = document.getElementsByTagName('body')[0];
            if (isSupported) {
                // Has WebP support
                body.classList.add('webp');
            }
            else {
                // No WebP support
                body.classList.add('no-webp');
            }
        });
    </script>
</body>
</html>
