#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.orgas.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.orgas.title'}</span></h1>
</div>

<div class="container page-container">
	
	<div class="row">
		<div class="col-sm-10">
			<p>
			    &{'views.application.orgas.text.1'}
                &{'views.application.orgas.text.2'}
			</p>
			<p>
                &{'views.application.orgas.text.3'}
			</p>
			<p class="orgas-contact">
                &{'views.application.orgas.contact'}
			</p>
		</div>
		<div class="col-sm-2 text-center">
			<img class="orgas-rivierajug" src="@{'/public/images/rivierajug-header.png'}">
		</div>
	</div>

	#{organisers orgas: orgas/}
	
</div>

<img class="orgas-photo rowShadow" src="@{'/public/images/illustrations/organisateurs.jpg'}">

