#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.orga.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.orga.title'}</span></h1>
</div>

<div class="container page-container">
	
	<div class="row">
		<div class="col-sm-10">
			<p>
			    &{'views.application.orga.text.1'}
                &{'views.application.orga.text.2'}
			</p>
			<p>
                &{'views.application.orga.text.3'}
			</p>
			<p class="orga-contact">
                &{'views.application.orga.contact'}
			</p>
		</div>
		<div class="col-sm-2 text-center">
			<img class="orga-rivierajug" src="@{'/public/images/rivierajug-header.png'}">
		</div>
	</div>

</div>

<img class="orga-photo" src="@{'/public/images/organisateurs.jpg'}">
