#{extends 'main.html' /}
#{set title: orga.toString() + ' - ' + play.i18n.Messages.get('views.application.orga.title')  /}

<div class="page__header orgas__header">
    <h1 class="page__mainTitle">&{'views.application.orga.title'}</h1>
</div>

<div class="page__container notFullWidth">
    <div class="personDetails">
        <div class="personDetails__header">
            <figure class="personSummary personDetails__header--content">
                <div
                    class="personSummary__photo personDetails__header--photo"
                    style="background-image: url('@{Application.orgaPhoto(orga.id)}')"
                ></div>
                <figcaption class="personDetails__desc">
                    <div class="personDetails__name">${orga}</div>
                    <div class="personDetails__title">${orga.company}</div>
                    <div class="personDetails__network">
                        #{if orga.twitterAccount}
                        <div class="personDetails__twitter">
                            <a
                                href="https://twitter.com/${orga.twitterAccount}"
                                target="_blank">@${orga.twitterAccount}</a>
                        </div>
                        #{/if}
                        #{if orga.blogURL}
                        <div class="personDetails__blog">
                            <a href="${orga.blogURL}" target="_blank">${orga.blogURL}</a>
                        </div>
                        #{/if}
                    </div>
                </figcaption>
            </figure>
        </div>
        <div class="personDetails__body">
            ${orga.biography?.md()}
        </div>
        #{if user}
            <a class="personDetails__admin" href="@{Organisers.show(orga.id)}">edit</a>
        #{/if}
    </div>
</div>
