#{extends 'main.html' /}
#{set title:'Les organisateurs' /}

<div class="page-title-container">
	<h1 class="title page-title"><span>Organisateurs</span></h1>
</div>

<div class="container page-container">
	
	<div class="row">
		<div class="col-sm-10">
			<p>
				Le Riviera DEV est une conférence faite <strong>par des développeurs pour des développeurs</strong>.
				Elle a été créée en 2011 à l'initiative du <strong><a href="http://rivierajug.org/" target="_blank">RivieraJUG</a></strong>.
			</p>
			<p>
				Tous les organisateurs sont des <strong>geeks bénévoles</strong> qui se plient en 4 pour vous concocter une formidable conférence.
			</p>
			<p class="orga-contact">
				Vous pouvez les contacter par mail à l'adresse <strong><a href="mailto:info@rivieradev.fr">info@rivieradev.fr</a></strong>.
			</p>
		</div>
		<div class="col-sm-2 text-center">
			<img class="orga-rivierajug" src="@{'/public/images/rivierajug-header.png'}">
		</div>
	</div>

</div>

<img class="orga-photo" src="@{'/public/images/organisateurs.jpg'}">
