#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.photos.title') /}

<div class="page-title-container">
    <h1 class="title page-title"><span>&{'views.application.photos.title'}</span></h1>
</div>

<div class="container page-container">

    <div class="container">
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2009</div>
            <div class="photo-title">Mini-conf Java EE</div>
            <div class="photo-album">
                <a href="https://get.google.com/albumarchive/103036382695763273919/album/AF1QipNt9kK2mTIiWQeBg9_GyehpXuYSjQgPCZB1VcpW"
                    ><img src="https://lh3.googleusercontent.com/0K0bn7Z7AM_R8mYnsjVBDLJRwVoKC9X7eGGGDDZIJRRMK5Q3rTnM6oUbk88amvSgSyM_acWPta4gLIiqICaMD9VZLB5O6bgGiTg"/></a>
            </div>
        </div></div>
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2009</div>
            <div class="photo-title">Sophia fait sa Java</div>
            <div class="photo-album">
                <a href="https://get.google.com/albumarchive/103036382695763273919/album/AF1QipO_qr05MUPl3o83C_DoifWpsZvAuCt3S4YLbwFC"
                    ><img src="https://lh3.googleusercontent.com/YgMm0dJWQyhsIpsR4ZmL8x_mj6Vb0_XPprjC3v2fvXqX-QP3yJOe3JYMBB2-tkhPOkax7mSTVw6CUzwewBRaNk6r-Q5UzbLy3jc"/></a>
            </div>
        </div></div>
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2010</div>
            <div class="photo-title">SophiaConf 2010</div>
            <div class="photo-album">
                <a href="https://photos.google.com/album/AF1QipO2zhL2a99crJa2Vmmbdk7a1CvPjxgjQ-qQ6w8T"
                    ><img src="https://lh3.googleusercontent.com/hjrk6hy_ivpwJGog84J1nDiMO-kP-etuHEX1dJJ9Lw8hfKUzom2EiP8YRpBFdKTExV_kazuQx0ztz8z0DpvwlWuS1WdeYmiiFIg"/></a>
            </div>
        </div></div>
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2011</div>
            <div class="photo-title">RivieraDEV 2011</div>
            <div class="photo-album">
                <a href="https://photos.google.com/share/AF1QipOQEV0j-2hifOHlNLH2bkyUME5qFyezJWYqqYnSxQpW7dwTZ_7oLkQZqxr9DCYUTA"
                    ><img src="https://lh3.googleusercontent.com/e4lYwgeOY_mMtd5RRrXMOPMThO0USbzBzsB1JX58O2COBukAatYTx9zfszA0Szc5DQZBkBOn0Oh447UYqZnyIVLurlkx4N6oUhCdIApIFI_kEPF9r6Y2fv-JvYJqBrvTnbHKwHhTQUK5p_JX_nVER668gSqG"/></a>
            </div>
        </div></div>
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2015</div>
            <div class="photo-title">RivieraDEV 2015</div>
            <div class="photo-album">
                <a href="https://plus.google.com/photos/104322794282801309280/album/6248693510062331857"
                    ><img src="https://lh3.googleusercontent.com/ZqDhHJSnqsQv9X8kdIUIYxBxdtQzJ9ufGouY9Imn-Xz56S4zZgWCWP4UeqN-HokpDY6WRuERcqbjop6o7joMwm9h1yyDOfrvT53hQvGK5gp6VVFZ3KMrieSEMkiu"/></a>
            </div>
        </div></div>
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2016</div>
            <div class="photo-title">RivieraDEV 2016</div>
            <div class="photo-album">
                <a href="https://plus.google.com/photos/104322794282801309280/album/6307923088378568513"
                    ><img src="https://lh3.googleusercontent.com/l7mGgRVltvOU8FMnZ1IPCbck77xV7f07zEqtQElaHuJsRe85pXDXYULpcGwxxCdGu5N1fjxapG59cW0KBR10PkWL_u0Z7Mbtncs"/></a>
            </div>
        </div></div>
        <div class="photo"><div class="photo-container">
            <div class="photo-year">2017</div>
            <div class="photo-title">RivieraDEV 2017</div>
            <div class="photo-album">
                <a href="https://www.facebook.com/pg/RivieraDEVConf/photos/?tab=album&album_id=1331688560230246"
                    ><img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/s403x403/18581775_1331694040229698_3458805144848263633_n.jpg?_nc_cat=0&oh=d0c9b6d0641e4d7e3e28ccebc9868736&oe=5BC4F0BF"/></a>
            </div>
        </div></div>
    </div>

</div>
