#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.photos.title') /}

<div class="page-title-container">
    <h1 class="title page-title"><span>&{'views.application.photos.title'}</span></h1>
</div>

<div class="container page-container">

    <div class="photos">
        <a class="photo" 
            href="https://get.google.com/albumarchive/103036382695763273919/album/AF1QipNt9kK2mTIiWQeBg9_GyehpXuYSjQgPCZB1VcpW"
            style="background-image: url(@{'/public/images/photos/2009-1.jpg'})">
            <div class="photo-year">2009</div>
            <div class="photo-title">Mini-conf Java EE</div>
        </a>
        <a class="photo" 
            href="https://get.google.com/albumarchive/103036382695763273919/album/AF1QipO_qr05MUPl3o83C_DoifWpsZvAuCt3S4YLbwFC"
            style="background-image: url(@{'/public/images/photos/2009-2.jpg'})">
            <div class="photo-year">2009</div>
            <div class="photo-title">Sophia fait sa Java</div>
        </a>
        <a class="photo" href="https://photos.google.com/album/AF1QipO2zhL2a99crJa2Vmmbdk7a1CvPjxgjQ-qQ6w8T"
            style="background-image: url(@{'/public/images/photos/2010.jpg'})">
            <div class="photo-year">2010</div>
            <div class="photo-title">SophiaConf 2010</div>
        </a>
        <a class="photo" href="https://photos.google.com/share/AF1QipOQEV0j-2hifOHlNLH2bkyUME5qFyezJWYqqYnSxQpW7dwTZ_7oLkQZqxr9DCYUTA"
          style="background-image: url(@{'/public/images/photos/2011.jpg'})">
            <div class="photo-year">2011</div>
            <div class="photo-title">RivieraDEV 2011</div>
        </a>
        <a class="photo" href="https://plus.google.com/photos/104322794282801309280/album/6248693510062331857"
           style="background-image: url(@{'/public/images/photos/2015.jpg'})">
            <div class="photo-year">2015</div>
            <div class="photo-title">RivieraDEV 2015</div>
        </a>
        <a class="photo" href="https://plus.google.com/photos/104322794282801309280/album/6307923088378568513"
          style="background-image: url(@{'/public/images/photos/2016.jpg'})">
            <div class="photo-year">2016</div>
            <div class="photo-title">RivieraDEV 2016</div>
        </a>
        <a class="photo" href="https://www.facebook.com/pg/RivieraDEVConf/photos/?tab=album&album_id=1331688560230246"
          style="background-image: url(@{'/public/images/photos/2017.jpg'})">
            <div class="photo-year">2017</div>
            <div class="photo-title">RivieraDEV 2017</div>
        </a>
    </div>

</div>
