#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.photos.title') /}

<div class="page__header photos__header">
    <h1 class="page__mainTitle">&{'views.application.photos.title'}</h1>
</div>

<div class="page__container photos">

    <div class="photos__gallery">
        <a class="photos__link photos__link--2021"
            href="https://photos.app.goo.gl/px7uMVpoCHrHTNLD9"
            target="_blank">
            <div class="photos__title">RivieraDEV 2021</div>
        </a>
        <a class="photos__link photos__link--2019"
            href="https://photos.app.goo.gl/XZ8YMCY5vz9ovg3F9"
            target="_blank">
            <div class="photos__title">RivieraDEV 2019</div>
        </a>
        <a class="photos__link photos__link--2018"
            href="https://photos.app.goo.gl/NF5uffTRHqHuR9wP6"
            target="_blank">
            <div class="photos__title">RivieraDEV 2018</div>
        </a>
        <a class="photos__link photos__link--2017"
            href="https://photos.app.goo.gl/2p1Tv2PZAZkqnScU8"
            target="_blank">
            <div class="photos__title">RivieraDEV 2017</div>
        </a>
        <a class="photos__link photos__link--2016"
            href="https://photos.app.goo.gl/tZwyh2RohsxWYFwC7"
            target="_blank">
            <div class="photos__title">RivieraDEV 2016</div>
        </a>
        <a class="photos__link photos__link--2015"
            href="https://photos.app.goo.gl/qCcuhekLAWtuR49n8"
            target="_blank">
            <div class="photos__title">RivieraDEV 2015</div>
        </a>
        <a class="photos__link photos__link--2011"
            href="https://photos.app.goo.gl/M72DgjZYaJXK3Baf9"
            target="_blank">
            <div class="photos__title">RivieraDEV 2011</div>
        </a>
        <a class="photos__link photos__link--2010"
            href="https://photos.app.goo.gl/CM1zjTBcGSSJigk5A"
            target="_blank">
            <div class="photos__title">2010 - SophiaConf</div>
        </a>
        <a class="photos__link photos__link--2009-2"
            href="https://photos.app.goo.gl/i4YLNJUkLngcyzeT8"
            target="_blank">
            <div class="photos__title">2009 - Sophia fait sa Java</div>
        </a>
        <a class="photos__link photos__link--2009-1"
            href="https://photos.app.goo.gl/YL36gAeZ7BMg29nD7"
            target="_blank">
            <div class="photos__title">2009 - Mini-conf Java EE</div>
        </a>
    </div>

</div>
