#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schedule.title') /}
<div class="page-title-container">
	<h1 class="title page-title"><span>Programme secret ;-)</span></h1>
</div>


<div class="fullSchedule-container">

    <div class="fullSchedule-filter">
        <div class="fullSchedule-filter-title">&{'views.application.schedule.filter'} : </div>
        <div class="fullSchedule-filter-options">
            <div class="fullSchedule-filter-themes">
                #{list items: themes, as: 'theme'}
                    <span onclick="toggleTheme('${theme}')" class="fullSchedule-filter-item fullSchedule-talk-theme fullSchedule-talk-theme-${theme} fullSchedule-talk-theme-${theme.color.code}">${theme}</span>
                #{/list}
            </div>
            <div class="fullSchedule-filter-levels">
                #{list items: levels, as: 'level'}
                    <span onclick="toggleLevel('${level}')" class="fullSchedule-filter-item fullSchedule-talk-level fullSchedule-talk-level-${level}">&{'views.application.schedule.level.' + level.code}</span>
                #{/list}
            </div>
        </div>
    </div>

    <div class="hidden-xs">
        #{fullSchedule days: days, tracksPerDays: tracksPerDays/}
    </div>

    <div class="visible-xs">
        #{fullScheduleXs days: days, tracksPerDays: tracksPerDays/}
    </div>
</div>
