#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schedule.title') /}
<div class="page-title-container">
	<h1 class="title page-title"><span>Programme secret ;-)</span></h1>
</div>

<div class="filter">
    <div class="filter-title">Filtres</div>
    <div class="filter-themes">
        #{list items: themes, as: 'theme'}
            <span class="fullSchedule-filter-item fullSchedule-talk-theme fullSchedule-talk-theme-${theme.color.code}">${theme}</span>
        #{/list}
    </div>
    <div class="filter-levels">
        #{list items: levels, as: 'level'}
            <span class="fullSchedule-filter-item fullSchedule-talk-level">&{'views.application.schedule.level.' + level.code}</span>
        #{/list}
    </div>
</div>

<div class="hidden-xs">
    #{fullSchedule days: days, tracksPerDays: tracksPerDays/}
</div>

<div class="visible-xs">
    #{fullScheduleXs days: days, tracksPerDays: tracksPerDays/}
</div>
