#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schedule.title') /}
<div class="page-title-container">
	<h1 class="title page-title"><span>Programme secret ;-)</span></h1>
</div>


<div class="fullSchedule-container">

    #{filterForTalks themes: themes, levels: levels, tracks: tracks, languages: languages/}
    
    <div class="hidden-xs">
        #{fullSchedule days: days, tracksPerDays: tracksPerDays/}
    </div>

    <div class="visible-xs">
        #{fullScheduleXs days: days, tracksPerDays: tracksPerDays/}
    </div>
</div>
