#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schedule.title') /}

<div class="page__header schedule__header">
		<h1 class="page__mainTitle">
				&{'views.application.schedule.title'}
		</h1>
		<div class="page__mainSubtitle">
				&{'views.application.schedule.subtitle'}
		</div>
</div>

<div class="page__container notFullWidth">

		<h2 class="page__title">
				&{'views.application.schedule.titlePage'}
		</h2>

	#{if displayFullSchedule }

			#{filterForTalks themes: themes, levels: levels, types: types, languages: languages/}

			<div class="schedule--desktop">
					#{fullSchedule user: user, days: days, tracksPerDays: tracksPerDays/}
			</div>

			<div class="schedule--mobile">
					#{fullScheduleXs user: user, days: days, tracksPerDays: tracksPerDays/}
			</div>

	#{/if}
	#{else}
		<div class="container page-container">

			<div>
				#{if displayNewSpeakers}
					<p class="data-unavailable">&{'views.application.schedule.unavailable.speakers.available'}</p>
					<div class="text-center">
						<a class="btn btn-primary btn-lg button-x-large button" href="@{Application.talks}">&{'views.application.schedule.unavailable.talks'}</a>
					</div>
				#{/if}
				#{else}
					<p class="data-unavailable">&{'views.application.schedule.unavailable'}</p>
				#{/else}
			</div>

			#{temporarySchedule days: days/}

			<div>
				<p class="data-unavailable">
					&{'views.application.schedule.subscribe'}
				</p>
			</div>
			
			#{newsletter /}
		</div>
	#{/else}
</div>