#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schedule.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.schedule.title'}</span></h1>
</div>

<div class="container page-container">

	<div class="schedule-intro">
		<p>
			&{'views.application.schedule.intro'}
		</p>
	</div>

	<div class="data-unavailable">
		<p>
            &{'views.application.schedule.unavailable'}
		</p>
		<p>
            &{'views.application.schedule.subscribe'}
		</p>
	</div>
	
	#{newsletter /}

</div>

<!--
<p>
 Le programme heure par heure n'est pas encore disponible, mais vous pouvez consulter <a href="@{Application.talks}">les sessions</a>
 et <a href="@{Application.speakers}">les orateurs</a>.
</p>
-->

<!--
<p>
 Voici le programme heure par heure. Vous pouvez également consulter <a href="@{Application.talks}">les sessions</a>
 et <a href="@{Application.speakers}">les orateurs</a>.
</p>

<div class="alert alert-warning" role="alert">
 Le programme actuel est susceptible d´être modifié légèrement.
</div>

#{list items: days, as: 'day'}
    %{
        tracksToday = tracksPerDays.get(day);
    }%
	<table border="1" class="schedule table">
		<col class="times">
		#{list items: tracksToday, as: 'track'}
			<col class="track track-${tracksToday.size()}">
		#{/list}
		<caption>Journée du ${day.format('EEEE dd MMMM yyyy')}</caption>
		<thead>
			<tr>
				<th>Horaire</th>
				#{list items: tracksToday, as: 'track'}
					<th>
						${track.title}
						#{if user}
							<br/>
							<a href="@{Tracks.show(track.id)}">edit</a>
						#{/if}
					</th>
				#{/list}
			</tr>
		</thead>
		<tbody>
			#{list items: models.Slot.findPerDay(day), as: 'slot'}
			<tr>
				<td>
					${slot.startDate.format('HH:mm')} - ${slot.endDate.format('HH:mm')}
					#{if user}
						<br/>
						<a href="@{Slots.show(slot.id)}">edit</a>
					#{/if}
				</td>
				%{ allTracksEvent = slot.allTracksEvent }%
				#{if allTracksEvent }
					<td colspan="${tracksToday.size()}" class="allTracksEvent ${allTracksEvent.isBreak ? 'isbreak' : ''}">
						#{if allTracksEvent.isBreak}
							${allTracksEvent.title}
						#{/if}
						#{else}
							<a href="@{Application.talk(allTracksEvent.id)}">${allTracksEvent.title}</a>
                            #{if allTracksEvent.slidesUrl}
                                (<a href="${allTracksEvent.slidesUrl}">Présentation</a>)
                            #{/if}
						#{/else}
						<br/>
						// By:
						#{if allTracksEvent.speakers}
							<ul>
								#{list items: allTracksEvent.speakers, as: 'speaker'}
									<li><a href="@{Application.speaker(speaker.id)}">${speaker.firstName} ${speaker.lastName}</a></li>
								#{/list}
							</ul>
						#{/if}
						#{if user}
							<br/>
							<a href="@{Talks.show(allTracksEvent.id)}">edit</a>
						#{/if}
					</td>
				#{/if}
				#{else}
					#{list items: tracksToday, as: 'track'}
						%{
							talk = slot.getTalkPerTrack(track);
						}%
						<td>
							#{if talk}
								<a href="@{Application.talk(talk.id)}">${talk.title}</a>
                                #{if talk.slidesUrl}
                                    (<a href="${talk.slidesUrl}">Présentation</a>)
                                #{/if}
								<br/>
								// By:
								<ul>
									#{list items: talk.speakers, as: 'speaker'}
										<li><a href="@{Application.speaker(speaker.id)}">${speaker.firstName} ${speaker.lastName}</a></li>
									#{/list}
								</ul>
								#{if user}
									<br/>
									<a href="@{Talks.show(talk.id)}">edit</a>
								#{/if}
							#{/if}
							#{else}
								// À venir.
								#{if user}
									<br/>
									<a href="@{Talks.blank()}">add talk</a>
								#{/if}
							#{/else}
						</td>
					#{/list}
				#{/else}
			</tr>
			#{/list}
			#{if user}
				<tr>
					<td><a href="@{Slots.blank()}">add slot</a></td>
				</tr>
			#{/if}
		</tbody>
	</table>
#{/list}
-->