#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schedule.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.schedule.title'}</span></h1>
</div>


	#{if displayFullSchedule }
		<div class="fullSchedule-container">

			#{filterForTalks themes: themes, levels: levels, types: types, languages: languages/}

			<div class="hidden-xs">
				#{fullSchedule days: days, tracksPerDays: tracksPerDays/}
			</div>

			<div class="visible-xs">
				#{fullScheduleXs days: days, tracksPerDays: tracksPerDays/}
			</div>
		</div>
	#{/if}
	#{else}
		<div class="container page-container">

			<div class="data-unavailable">
				#{if displayNewSpeakers}
					<p>&{'views.application.schedule.unavailable.speakers.available'}</p>
				#{/if}
				#{else}
					<p>&{'views.application.schedule.unavailable'}</p>
				#{/else}
			</div>

			#{temporarySchedule days: days/}

			<div class="data-unavailable">
				<p>
					&{'views.application.schedule.subscribe'}
				</p>
			</div>
			
			#{newsletter /}
		</div>
	#{/else}