#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schools.title') /}

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="page__header schools__header">
    <h1 class="page__mainTitle">&{'views.application.schools.title'}</h1>
    <div class="page__mainSubtitle schools__mainSubtitle">Riviera DEV helps schools teach computer science</div>
</div>

<div class="page__container notFullWidth">
        <p>Since 2019, Riviera DEV has started training school teachers as well as donating hardware to help them teach computer science to kids.</p>
        <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">Les enseignants sont là et tout le monde est très concentré 😊 <a href="https://t.co/j5W8cKPp7J">pic.twitter.com/j5W8cKPp7J</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1139880227751047168?ref_src=twsrc%5Etfw">June 15, 2019</a></blockquote>
        <p>In our first year, we trained more than 30 public primary school teachers from Nice, and gave 13000€ worth of hardware, including 42 laptops.</p>
        <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">Et voilà, c&#39;est livré ! 42 laptops, 6 MakeyMakeys, 2 Lego Boosts, 1000 cartes Scratch imprimées sur supports plastiques, dont une série spéciale MakeyMakey par @SaskiaLois, soit 13 000 € de matériel pour les écoles des Alpes-Maritimes. <a href="https://t.co/RadIt5TUql">pic.twitter.com/RadIt5TUql</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1170965709263966208?ref_src=twsrc%5Etfw">September 9, 2019</a></blockquote>
        <p>Those teachers in turn trained almost 900 students to teach them the basics of programming with <a href="">Scratch</a>, which 
           will help them understand how computers work, and hopefully get them to consider computer science as a career later.</p>
        <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">Nos laptops se baladent dans les écoles et depuis quelques mois les élèves s&#39;initient à la programmation avec Scratch ! <a href="https://t.co/LZTx4VTkon">pic.twitter.com/LZTx4VTkon</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1204761416030441472?ref_src=twsrc%5Etfw">December 11, 2019</a></blockquote>
        <p>Given kids in primary schools have a much greater diversity than the people that currently study computer science,
           in terms of origins, gender and social class, we hope our action will lead to greater diversity in computer science students.
        </p>
        <p>
           Riviera DEV made a donation of half the budget for hardware, the rest was kindly contributed by our dear school sponsors. Thank you very much!
        </p>
        <div class="registration-buttons registration-partenaire">
            <a class="btn btn-primary btn-lg button" href="@{Application.becomeSponsor()}">&{'views.application.sponsors.join'}</a>
        </div>
    </div>
    #{sponsorsByLevel sponsors: sponsors, level: sponsorShip.code/}
</div>