#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.schools.title') /}

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="page__header schools__header">
    <h1 class="page__mainTitle">&{'views.application.schools.title'}</h1>
    <div class="page__mainSubtitle schools__mainSubtitle">&{'views.application.schools.subtitle'}</div>
</div>

<div class="page__container notFullWidth">
    
    <div class="schools__text">
        <p>&{'views.application.schools.text1'}</p>
        <p>&{'views.application.schools.text2'}</p>
        <p>&{'views.application.schools.text3'}</p>
        <p>&{'views.application.schools.text4'}</p>
        <p>&{'views.application.schools.text5'}</p>
    </div>

    <div class="schools__tweets">
    	<h2>2022</h2>
    	<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Thanks to our sponsors <a href="https://twitter.com/RedHat?ref_src=twsrc%5Etfw">@RedHat</a> and <a href="https://twitter.com/LunatechLabs?ref_src=twsrc%5Etfw">@LunatechLabs</a> we were once again able to train +30 primary school teachers in <a href="https://twitter.com/scratch?ref_src=twsrc%5Etfw">@scratch</a> teaching, and to donate 37 laptops and 10 sets of Scratch cards so they in turn can train lots of children and get them to discover programming! <a href="https://t.co/q8DcSYr7No">pic.twitter.com/q8DcSYr7No</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1531636128767520769?ref_src=twsrc%5Etfw">May 31, 2022</a></blockquote>
    	<blockquote class="twitter-tweet" data-conversation="none"><p lang="zxx" dir="ltr"><a href="https://t.co/sxjC0Lm9Gb">pic.twitter.com/sxjC0Lm9Gb</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1531636138749870080?ref_src=twsrc%5Etfw">May 31, 2022</a></blockquote>
    	<blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr">Riviera DEV is not just for sharing our passion amongst professionals, but also sharing it with the next generations! And fun, also :) If you&#39;d like to sponsor our next trainings and donations, please get in touch! <a href="https://t.co/fyHA0eJzfh">pic.twitter.com/fyHA0eJzfh</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1531636147335593984?ref_src=twsrc%5Etfw">May 31, 2022</a></blockquote>
    </div>

    <div class="schools__tweets">
    	<h2>2019</h2>
        <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">Les enseignants sont là et tout le monde est très concentré 😊 <a href="https://t.co/j5W8cKPp7J">pic.twitter.com/j5W8cKPp7J</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1139880227751047168?ref_src=twsrc%5Etfw">June 15, 2019</a></blockquote>
        <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">Et voilà, c&#39;est livré ! 42 laptops, 6 MakeyMakeys, 2 Lego Boosts, 1000 cartes Scratch imprimées sur supports plastiques, dont une série spéciale MakeyMakey par @SaskiaLois, soit 13 000 € de matériel pour les écoles des Alpes-Maritimes. <a href="https://t.co/RadIt5TUql">pic.twitter.com/RadIt5TUql</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1170965709263966208?ref_src=twsrc%5Etfw">September 9, 2019</a></blockquote>
        <blockquote class="twitter-tweet"><p lang="fr" dir="ltr">Nos laptops se baladent dans les écoles et depuis quelques mois les élèves s&#39;initient à la programmation avec Scratch ! <a href="https://t.co/LZTx4VTkon">pic.twitter.com/LZTx4VTkon</a></p>&mdash; RivieraDEV (@RivieraDEV) <a href="https://twitter.com/RivieraDEV/status/1204761416030441472?ref_src=twsrc%5Etfw">December 11, 2019</a></blockquote>
    </div>

    #{if sponsors != null && sponsors.size() > 0}
        <div class="schools__sponsors">
            <h2 class="schools__sponsorsTitle">&{'views.application.schools.sponsors'}</h2>
            #{sponsorsByLevel sponsors: sponsors, level: sponsorShip.code/}
        </div>
    #{/if}

    <div class="schools__buttonContainer">
        <a class="button" href="@{Application.becomeSponsor()}">&{'views.application.sponsors.join'}</a>
    </div>

</div>