<html>
 <head>
  <title>${play.i18n.Messages.get('views.application.schedule.title')}</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <style>
#target {
 width:100%;
 height:100%;
 text-align: center;
}
.talk {
 font-size: 22pt;
 margin: 2em 1em;
}
.next .talk {
 font-size: 18pt;
 color: gray;
}
.description {
 font-style: italic;
}
.current-other > div {
 display: inline-block;
 font-size: 14pt;
}
.next-other > div {
 display: inline-block;
 font-size: 14pt;
 color: gray;
}
  </style>
 </head>
 <body>

${track}

<script type="text/javascript">
// var now = new Date();
var now = Date.parse("Thu, 11 May 2017 09:10:00 +0200");
var showTrack = "${track}";
var tracks = {
 "Keynotes": [
  #{list keynotes, as: 'talk'}
   {
    "titleEN": "${talk.titleEN.jsonEscape()}", 
    "titleFR": "${talk.titleFR.jsonEscape()}", 
    "descriptionEN": "${talk.descriptionEN.jsonEscape()}", 
    "descriptionFR": "${talk.descriptionFR.jsonEscape()}", 
    "start": ${talk.slot.startDate.time}, 
    "end": ${talk.slot.endDate.time},
    "track": "Keynotes",
    "speakers": [
    #{list talk.speakers, as: 'speaker'}
     {
    	 "name": "${speaker.firstName.jsonEscape()} ${speaker.lastName.jsonEscape()}",
         "photo": "@{Application.speakerPhoto(speaker.id)}"
     }#{if !speaker_isLast},#{/if}
    #{/list}
    ]
   }#{if !talk_isLast},#{/if}
  #{/list}
 ], 
 #{list tracks, as: 'track'}
  "${track.title}": [
   #{list track.talks, as: 'talk'}
    {
     "titleEN": "${talk.titleEN.jsonEscape()}", 
     "titleFR": "${talk.titleFR.jsonEscape()}", 
     "descriptionEN": "${talk.descriptionEN.jsonEscape()}", 
     "descriptionFR": "${talk.descriptionFR.jsonEscape()}", 
     "start": ${talk.slot.startDate.time}, 
     "end": ${talk.slot.endDate.time},
     "track": "${track.title.jsonEscape()}", 
     "speakers": [
      #{list talk.speakers, as: 'speaker'}
      {
          "name": "${speaker.firstName.jsonEscape()} ${speaker.lastName.jsonEscape()}",
          "photo": "@{Application.speakerPhoto(speaker.id)}"
      }#{if !speaker_isLast},#{/if}
      #{/list}
     ]
    }#{if !talk_isLast},#{/if}
   #{/list}
  ]#{if !track_isLast},#{/if} 
 #{/list}
};

function showTalks(){
    var current = null;
    var currentOtherTracks = [];
    var next = null;
    var nextOtherTracks = [];
    for(var t in tracks){
        var track = tracks[t];
        for(var i=0;i<track.length;i++){
            var talk = track[i];
            if(talk.start <= now && talk.end >= now){
                if(talk.track == showTrack){
                    current = talk;
                }else{
                    currentOtherTracks.push(talk);
                }
            }else if(talk.start > now){
   	            if(talk.track == showTrack){
   	                if(next == null || next.start > talk.start){
   	                    next = talk;
   	                }
   	            }else{
   	            	 var addIt = true;
                     for(var n=0;n<nextOtherTracks.length;n++){
                  	      if(nextOtherTracks[n].track == talk.track){
                  	    	  if(nextOtherTracks[n].start > talk.start){
                  	    	      console.log("remove");
                  	    	      nextOtherTracks.splice(n, 1);
                  	    	  }else{
                  	    		  addIt = false;
                  	    	  }
                  	     	  break;
                  	      }
                     }
                     if(addIt)
                         nextOtherTracks.push(talk);
                }
            }
        }
    }
    var t = jQuery("#target");
    t.empty();
    t.append(jQuery("<div class='current'/>").append(talkToString(current)));
    if(next){
        t.append("Coming next in this track:");
        t.append(jQuery("<div class='next'/>").append(talkToString(next)));
    }
    if(currentOtherTracks.length > 0){
        t.append("Currently in other tracks:");
        var co = jQuery("<div class='current-other'/>").appendTo(t);
        for(var n=0;n<currentOtherTracks.length;n++){
        	var talk = currentOtherTracks[n];
            co.append(talkToString(talk));
        }
    }
    if(nextOtherTracks.length > 0){
    	t.append("Next in other tracks:");
        var no = jQuery("<div class='next-other'/>").appendTo(t);
        for(var n=0;n<nextOtherTracks.length;n++){
        	var talk = nextOtherTracks[n];
            no.append(talkToString(talk));
        }
    }
}
var months = [
 "Janvier",
 "Février",
 "Mars",
 "Avril",
 "Mai",
 "Juin",
 "Juillet",
 "Août",
 "Septembre",
 "Octobre",
 "Novembre",
 "Decembre",
];
function formatDate(date){
    return pad(date.getDay()) + " " + months[date.getMonth()];
}
function formatTime(date){
	return pad(date.getHours()) + ":" + pad(date.getMinutes());
}
function pad(num) {
    var s = num+"";
    while (s.length < 2) s = "0" + s;
    return s;
}
function duration(time){
	console.log(time);
	var seconds = Math.floor(time / 1000);
	var minutes = Math.floor(seconds / 60);
    var secondsMod = seconds % 60;
    var hours = Math.floor(minutes / 60);
    var minutesMod = minutes % 60;
    var days = Math.floor(hours / 24);
    var hoursMod = days % 24;
    var weeks = Math.floor(days / 7);
    var daysMod = weeks % 7;
    
    var ret="";
    if(weeks > 0)
    	ret += weeks+" weeks";
    if(daysMod > 0)
        ret += daysMod+" days";
    if(hoursMod > 0)
        ret += hoursMod+" hours";
    if(minutesMod > 0)
        ret += minutesMod+" minutes";
    if(secondsMod > 0)
        ret += secondsMod+" seconds";
    return ret;
}

function talkToString(talk){
	if(talk == null)
		return "";
	var ret = jQuery("<div class='talk'/>");
	var start = new Date(talk.start);
    var end = new Date(talk.end);
    var durationString;
    if(start.getTime() > now){
    	durationString = " (in " + duration(start.getTime() - now)+")";
    }else{
    	durationString = " (" + duration(end.getTime() - now)+" remaining)";
    }
    ret.append("<div class='date'>"+formatDate(start)+" "+
    		formatTime(start)+" - "+
    		formatTime(end)+durationString+"</div>");
	ret.append("<div class='title'>"+talk.titleEN+"</div>");
	ret.append("<div class='description'>"+talk.descriptionEN+"</div>");
	for(var n=0;n<talk.speakers.length;n++){
        var speaker = talk.speakers[n];
	    ret.append("<div class='speaker'>"+speaker.name+"</div>");
        ret.append("<img class='speaker' src='"+speaker.photo+"'/>");
	}
	ret.append("<div class='track'>"+talk.track+"</div>");
	return ret;
}
jQuery(function(){
	showTalks();
});
</script>

<div id="target"></div>

<ul>
 <li><a href="@{Application.slides("Keynotes")}">Keynotes</a></li>
 #{list tracks, as: 'track'}
  <li><a href="@{Application.slides(track.title)}">${track.title}</a></li>
 #{/list}
</ul>

 </body>
</html>
