#{extends 'main.html' /}
#{set title:'Orateurs' /}

#{if user}
	<a href="@{Speakers.blank()}">add</a>
	<br/>
#{/if}
<h1>Orateurs</h1>
<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Orateur</th>
            <th>Info</th>
            <th>Talk</th>
        </tr>
    </thead>
	<tbody>
		#{list items: speakers, as: 'speaker'}
			<tr>
				<th><img src="@{Application.speakerPhoto(speaker.id)}" width="100"/></th>
				<td>
					Name: <a href="@{Application.speaker(speaker.id)}">${speaker.firstName} ${speaker.lastName}</a>
					#{if user}
						<br/>
						<a href="@{Speakers.show(speaker.id)}">edit</a>
					#{/if}
					<br/>
					Title: ${speaker.title}
                </td>
				<td>
				    Bio: ${speaker.biography}
					#{if speaker.company}
						<br/>
						Company: 
						#{if speaker.companyURL}
							<a href="${speaker.companyURL}">${speaker.company}</a>
						#{/if}
						#{else}
							${speaker.company}
						#{/else}
					#{/if}
					#{if speaker.twitterAccount}
						<br/>
						Twitter: <a href="http://twitter.com/${speaker.twitterAccount}">@${speaker.twitterAccount}</a>
					#{/if}
					#{if speaker.blogURL}
						<br/>
						Blog: <a href="${speaker.blogURL}">${speaker.blogURL}</a>
					#{/if}
                </td>
				<td>
					<ul>
						#{list items: speaker.talks, as: 'talk'}
							<li>
								<a href="@{Application.talk(talk.id)}">${talk.title}</a>
							</li>
						#{/list}
					</ul>
				</td>
			</tr>
		#{/list}
	</tbody>
</table>