#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.speakers.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.speakers.title'}</span></h1>
</div>

<div class="container page-container">

	#{if user}
	<div class="row">
		<div class="text-center">
			<a class="btn btn-default" href="@{Speakers.blank()}">Ajouter un orateur</a>
		</div>
	</div>
	#{/if}

	#{if displayPreviousSpeakers}
	<div class="row">
		<div class="data-unavailable">
			<p>
				&{'views.application.speakers.unavailable'}
			</p>
			<p>
				&{'views.application.speakers.subscribe'}
			</p>
		</div>
	</div>

	<div class="row">
		#{newsletter /}
	</div>
  
	#{if speakersPreviousYears != null && speakersPreviousYears.size() > 0}
		<div class="row text-center">
			<p class="speakers-previous-title">&{'views.application.index.speakers.tagline'}</p>

			#{previousSpeakers speakers: speakersPreviousYears/}
		</div>
	#{/if}

	#{/if}

	#{else}
	<div class="container speakers">
		#{speakers speakers: speakers/}
	</div>
	#{/else}

</div>

<!--
<table class="lines">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Orateur</th>
            <th>Information</th>
            <th>Présentations</th>
        </tr>
    </thead>
	<tbody>
		#{list items: speakers, as: 'speaker'}
			<tr class="${speaker_isLast ? 'last' : ''}">
				<th>
				 <a href="@{Application.speaker(speaker.id)}"><img src="@{Application.speakerPhoto(speaker.id)}" width="100"/></a>
				</th>
				<td>
					<span class="label">Nom:</span> <a href="@{Application.speaker(speaker.id)}">${speaker.firstName} ${speaker.lastName}</a>
					#{if user}
						<br/>
						<a href="@{Speakers.show(speaker.id)}">edit</a>
					#{/if}
					#{if speaker.title}
						<br/>
						<span class="label">Titre:</span> ${speaker.title}
					#{/if}
                </td>
				<td>
					#{if speaker.company}
						<span class="label">Compagnie:</span> 
						#{if speaker.companyURL}
							<a href="${speaker.companyURL}">${speaker.company}</a>
						#{/if}
						#{else}
							${speaker.company}
						#{/else}
                        <br/>
					#{/if}
					#{if speaker.twitterAccount}
						<span class="label">Twitter:</span> <a href="http://twitter.com/${speaker.twitterAccount}">@${speaker.twitterAccount}</a>
                        <br/>
					#{/if}
					#{if speaker.blogURL}
						<span class="label">Blog:</span> <a href="${speaker.blogURL}">${speaker.blogURL}</a>
					#{/if}
                </td>
				<td>
					<ul>
						#{list items: speaker.talks, as: 'talk'}
							<li>
								<a href="@{Application.talk(talk.id)}">${talk.title}</a>
							</li>
						#{/list}
					</ul>
				</td>
			</tr>
		#{/list}
	</tbody>
</table>
-->