#{extends 'main.html' /}
#{set title:speaker.firstName+' '+speaker.lastName /}

#{if user}
	<a href="@{Speakers.blank()}">add</a>
	<br/>
#{/if}

<img src="@{Application.speakerPhoto(speaker.id)}" width="200" class="speaker-details-photo"/>
<span class="label">Name:</span> ${speaker.firstName} ${speaker.lastName}
#{if user}
	<br/>
	<a href="@{Speakers.show(speaker.id)}">edit</a>
#{/if}
<br/>
#{if speaker.title}
 <span class="label">Title:</span> ${speaker.title}
 <br/>
#{/if}
<span class="label">Bio:</span> ${speaker.biography?.raw()}
#{if speaker.company}
	<br/>
	<span class="label">Company:</span>
	#{if speaker.companyURL}
		<a href="${speaker.companyURL}">${speaker.company}</a>
	#{/if}
	#{else}
		${speaker.company}
	#{/else}
#{/if}
#{if speaker.twitterAccount}
	<br/>
	<span class="label">Twitter:</span> <a href="http://twitter.com/${speaker.twitterAccount}">@${speaker.twitterAccount}</a>
#{/if}
#{if speaker.blogURL}
	<br/>
	<span class="label">Blog:</span> <a href="${speaker.blogURL}">${speaker.blogURL}</a>
#{/if}
<br/>
<span class="label">Talks:</span>
<ul>
	#{list items: speaker.talks, as: 'talk'}
		<li>
			<a href="@{Application.talk(talk.id)}">${talk.title}</a>
		</li>
	#{/list}
</ul>
