#{extends 'main.html' /}
#{set title:'Sponsors' /}

#{if user}
	<a href="@{Sponsors.blank()}">add</a>
	<br/>
#{/if}

<div class="alert alert-info" role="alert">
 <a href="mailto:info@rivieradev.fr">Contactez-nous</a> si vous souhaitez aider Riviera DEV en
devenant sponsor.
</div>

<p>
Les sponsors suivants nous aident à organiser Riviera DEV. Merci à eux !
</p>

#{sponsors sponsors: sponsors.findAll {it.level == models.SponsorShip.Gold}, title: "Sponsors or" /}

#{sponsors sponsors: sponsors.findAll {it.level == models.SponsorShip.Silver}, title: "Sponsors argent"  /}

#{sponsors sponsors: sponsors.findAll {it.level == models.SponsorShip.Lanyard}, title: "Sponsors tour-de-cou"  /}

#{sponsors sponsors: sponsors.findAll {it.level == models.SponsorShip.Buffet}, title: "Sponsors buffet"  /}

#{sponsors sponsors: sponsors.findAll {it.level == models.SponsorShip.Apero}, title: "Sponsors apéro"  /}

#{sponsors sponsors: sponsors.findAll {it.level == models.SponsorShip.Breakfast}, title: "Sponsors petit-déjeuner"  /}
