#{extends 'main.html' /}
#{set title:'Sponsors' /}

<div class="page-title-container parallax parallax-page parallax-page-sponsors">
	<h1 class="title page-title">Sponsors</h1>
</div>

<div class="container page-container">

	<div class="text-center">
		<p>
			Les sponsors nous aident à organiser Riviera DEV. Sans eux rien ne serait possible ! Merci !
		</p>
		<p class="sponsors-contactUs">
			Pour devenir sponsor du Riviera DEV, contactez-nous par mail à <a href="mailto:info@rivieradev.fr">info@rivieradev.fr</a>
		</p>
	</div>

    %{ if (sponsors != null && sponsors.size() > 0) {
        for (models.SponsorShip sponsorShip : sponsors.keySet()) {
    }%
        #{sponsorsByLevelDetails sponsors: sponsors.get(sponsorShip), title: sponsorShip.title, level: sponsorShip.code/}
    %{
        }
    }
    }%


	#{sponsorsPreviousYears sponsorsPreviousYears: sponsorsPreviousYears /}

</div>
