#{extends 'main.html' /}
#{set title:'Sponsors' /}

#{if user}
	<a href="@{Sponsors.blank()}">add</a>
	<br/>
#{/if}
	<h1>Sponsors</h1>
<table class="sponsors">
	<tbody>
		#{list items: sponsors, as: 'sponsor'}
			<tr>
				<td>
					#{if sponsor.companyURL}
						<a href="${sponsor.companyURL}">
					#{/if}
					<img src="@{Application.sponsorLogo(sponsor.id)}" width="100"/>
					#{if sponsor.companyURL}
						</a>
					#{/if}
				</td>
				<td>
					<span class="sponsor">
						#{if sponsor.companyURL}
							<a href="${sponsor.companyURL}">
						#{/if}
						${sponsor.company}
						#{if sponsor.companyURL}
							</a>
						#{/if}
					</span>
					#{if sponsor.twitterAccount}
						<br/>
						<span class="label">Twitter:</span> <a href="http://twitter.com/${sponsor.twitterAccount}">@${sponsor.twitterAccount}</a>
					#{/if}
					#{if user}
						<br/>
						<a href="@{Sponsors.show(sponsor.id)}">edit</a>
					#{/if}
					${sponsor.about?.raw()}
				</td>
			</tr>
		#{/list}
	</tbody>
</table>