#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.subscribe.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.subscribe.title'}</span></h1>
</div>

<div class="container page-container">

	<div class="data-unavailable">
		<p>
            &{'views.application.subscribe.unavailable'}
		</p>
		<p>
            &{'views.application.subscribe.subscribe'}
		</p>
	</div>
	
	#{newsletter /}

 <!--<div style="width:100%; text-align:left;">
  <iframe src="//eventbrite.com/tickets-external?eid=30217710987&ref=etckt" frameborder="0" height="800" width="100%" 
   vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
  </iframe>
 </div>-->

</div>


