#{extends 'main.html' /}
#{set title:play.i18n.Messages.get('views.application.talks.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.talks.title'}</span></h1>
</div>

<div class="container page-container">

    #{if user}
        <a class="btn btn-default" href="@{Talks.blank()}">add</a>
    #{/if}

    #{filterForTalks themes: themes, levels: levels/}

    <div class="talks js-talksFilter-toFilter">

        #{list items: talks, as: 'talk'}

            #{if talk.isBreak == models.BreakType.NotABreak}

                <div class="row talkDetails talkDetails-all talksFilter-item
                            js-talksFilter-item js-talksFilter-theme-${talk.theme?.getUtilityName()} js-talksFilter-level-${talk.level?.code}">
                    #{talk talk: talk, displayFullSchedule: displayFullSchedule, user: user/}
                </div> <!-- ./row -->

            #{/if}

        #{/list}
    </div>
    
</div> <!-- /.container -->

