#{extends 'main.html' /}
#{set title:talk.title /}

#{if user}
	<a href="@{Talks.blank()}">add</a>
	<br/>
#{/if}

<hgroup>
    <h6>Session:</h6>
    <!--h1><a href="@{Application.talk(talk.id)}">${talk.title}</a></h1-->
    <h1>${talk.title}</h1>
</hgroup>
#{if user}
	<br/>
	<a href="@{Talks.show(talk.id)}">edit</a>
#{/if}
<div style="float:right;display:table-cell;">
#{list items: talk.speakers, as: 'speaker'}
	<a href="@{Application.speaker(speaker.id)}" 
	 style="vertical-align:middle;display:inline-block;margin: 0 1em;" 
	 ><img src="@{Application.speakerPhoto(speaker.id)}" width="100"/></a>
#{/list}
</div>
<br/>
Description: ${talk.description}
<br/>
Track: ${talk.track?.title ?: "Plénière"}
<br/>
Slot: ${talk.slot.startDate.format('dd MMM yyyy HH:mm')} - ${talk.slot.endDate.format('HH:mm')}
<br/>
Speakers:
<ul>
	#{list items: talk.speakers, as: 'speaker'}
		<li>
			<a href="@{Application.speaker(speaker.id)}">${speaker.firstName} ${speaker.lastName}</a>
		</li>
	#{/list}
</ul>
