#{extends 'main.html' /}
#{set title:'Sessions' /}

#{if user}
	<a href="@{Talks.blank()}">add</a>
	<br/>
#{/if}

<h1>Sessions</h1>

<table class="lines">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Titre</th>
            <th>Information</th>
            <th>Orateurs</th>
        </tr>
    </thead>
	<tbody>
		#{list items: talks, as: 'talk'}
			#{if talk.isBreak == models.BreakType.NotABreak}
            <tr class="${talk_isLast ? 'last' : ''}">
				<th style="width:110px;">
					#{list items: talk.speakers, as: 'speaker'}
						<a href="@{Application.speaker(speaker.id)}"><img src="@{Application.speakerPhoto(speaker.id)}" width="100"/></a>
					#{/list}
				</th>
				<td>
					<span class="label">Titre:</span> <a href="@{Application.talk(talk.id)}">${talk.title}</a>
					#{if user}
						<br/>
						<a href="@{Talks.show(talk.id)}">edit</a>
					#{/if}
					<br/>
					<span class="label">Description:</span> ${talk.description?.md()}
                    #{if talk.slidesUrl}
                        <span class="label">Présentation:</span> <a href="${talk.slidesUrl}">${talk.slidesUrl}</a>
                        <br/>
                    #{/if}
                </td>
				<td>
				    <!--
       					<span class="label">Track:</span> ${talk.track?.title ?: "Plénière"}
		    			<br/>
		    		-->
		    		#{if talk.slot}
					 <span class="label">Horaire:</span> ${talk.slot.startDate.format('dd MMM yyyy HH:mm')} - ${talk.slot.endDate.format('HH:mm')}
					#{/if}
                </td>
				<td>
					<ul>
						#{list items: talk.speakers, as: 'speaker'}
							<li>
								<a href="@{Application.speaker(speaker.id)}">${speaker.firstName} ${speaker.lastName}</a>
							</li>
						#{/list}
					</ul>
				</td>
			</tr>
			#{/if}
		#{/list}
	</tbody>
</table>
