#{extends 'main.html' /}
#{set title: talk.title + ' - ' + play.i18n.Messages.get('views.application.talk.title') /}

<div class="page-title-container">
	<h1 class="title page-title"><span>&{'views.application.talk.title'}</span></h1>
</div>

#{if user}
	<a href="@{Talks.blank()}" class="btn btn-default">add</a>
	<a href="@{Talks.show(talk.id)}" class="btn btn-default">edit</a>
#{/if}

<div class="container page-container">

	<div class="row talkDetails">
		#{talk talk: talk, displayFullSchedule: displayFullSchedule/}
	</div> <!-- ./row -->

</div> <!-- /.container -->