<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet/less" type="text/css" media="screen" href="@{'/public/stylesheets/riviera/less/main.less'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script src="@{'/public/javascripts/less-1.1.3.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/modernizr.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24807954-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </head>
    <body>
        <header>
        	<hgroup>
        		<a class="organiser" href="http://www.inria.fr"><img class="organiser" src="@{'/public/images/inria-header.png'}"/></a>
        		<a class="organiser" href="http://rivierajug.org"><img src="@{'/public/images/rivierajug-header.png'}"/></a>
	        	#{if user}<p>Logged in as ${user}.</p>#{/if}
        		<h2>Riviera Dev 2011</h2>
        		<h4>Les conférences du soleil : 20-21 octobre 2011 à Sophia-Antipolis</h4>
        	</hgroup>
            <nav>
    	<ul>
    		<li class="${request.action == 'Application.index' ? 'selected' : ''}"><a href="@{Application.index}">Index</a></li>
    		<li class="${request.action == 'Application.schedule' ? 'selected' : ''}"><a href="@{Application.schedule}">Programme</a></li>
    		<li class="${request.action == 'Application.speakers' ? 'selected' : ''}"><a href="@{Application.speakers}">Orateurs</a></li>
    		<li class="${request.action == 'Application.talks' ? 'selected' : ''}"><a href="@{Application.talks}">Sessions</a></li>
    		<li class="${request.action == 'Application.subscribe' ? 'selected' : ''}"><a href="@{Application.subscribe}">Inscriptions</a></li>
    		<li class="${request.action == 'Application.sponsors' ? 'selected' : ''}"><a href="@{Application.sponsors}">Sponsors</a></li>
    		<li class="${request.action == 'Application.about' ? 'selected' : ''}"><a href="@{Application.about}">À propos</a></li>
	    	#{if user}
	    		<li><a href="@{CRUD.index}">Admin</a></li>
	    		<li><a href="@{Secure.logout}">Logout</a></li>
	    	#{/if}
	    	#{else}
	    		<li><a href="@{Secure.login}">Login</a></li>
	    	#{/else}
	    	<li class="twitter"><a href="http://twitter.com/#!/RivieraDEV">Follow us</a></li>
    	</ul>
            </nav>
        </header>
        <section class="${request.action}">
            #{doLayout /}
        </section>
        <footer>
               Copyright &copy; 2011 Riviera JUG / Riviera DEV. All rights reserved.
        </footer>
    </body>
</html>
