<!DOCTYPE html>

<html lang="fr">
<head>
    <title>#{get 'title' /} - Riviera DEV</title>

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RivieraDEV" />
    <meta property="og:title" content="#{get 'title' /} - Riviera DEV" />
    <meta property="og:type" content="image/svg+xml" />
    <meta property="og:url" content="@@{Application.index}" />
    <meta property="og:image" content="@@{'/public/images/logo_RD_black.svg'}" />

    <!-- Bootstrap -->
    <!-- Bootstrap has been customized to modify a variable :
         Point at which the navbar becomes uncollapsed => @grid-float-breakpoint = @screen-md-min
         (http://getbootstrap.com/customize/)
    -->
    <link rel="stylesheet" href="@{'/public/bootstrap/3.3.7/css/bootstrap.min.css'}" >
    <link rel="stylesheet" href="@{'/public/bootstrap/3.3.7/css/bootstrap-theme.min.css'}" >

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600|Raleway:400,600|Righteous&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- Font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom -->
    <link rel="stylesheet" href="@{'/public/stylesheets/style.css'}">

    #{get 'moreStyles' /}
</head>

<body>

    <div class="loading"></div>

    <nav class="navbar navbar-default navbar-fixed-top navbar-animated js-navbar-animated">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-animated-logos">
                    <a class="navbar-brand navbar-animated-logo navbar-rivieradev" href="@{Application.index}">
                        <img src="@{'/public/images/logo_RD_black.svg'}" alt="RivieraDEV">
                    </a>
                    <a id="navbar-RedHat" class="navbar-brand navbar-animated-logo navbar-RedHat" href="@{Application.index}">
                        <span class="navbar-RedHat--featuring">&{'views.main.logo.featuring'}</span><!-- Do not remove this comment
                        --><img src="@{'/public/images/logos/Red_Hat_RGB.png'}" alt="Red Hat" class="navbar-RedHat--logo">
                    </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="${request.action == 'Application.schedule' ? 'active' : ''}">
                        <a class="navbar-animated-link" href="@{Application.schedule}">&{'views.main.schedule'}</a>
                    </li>
                    <li class="${request.action == 'Application.speakers' ? 'active' : ''}">
                        <a class="navbar-animated-link" href="@{Application.speakers}">&{'views.main.speakers'}</a>
                    </li>
                    <li class="${request.action == 'Application.cfp' ? 'active' : ''}">
                        <a class="navbar-animated-link navbar-link-primary" href="@{Application.cfp}">
                            <span class="label label-primary">&{'views.main.cfp'}</span>
                        </a>
                    </li>
                    <li class="${request.action == 'Application.subscribe' ? 'active' : ''}">
                        <a class="navbar-animated-link" href="@{Application.subscribe}">&{'views.main.tickets'}</a>
                    </li>
                    <li class="${request.action == 'Application.access' ? 'active' : ''}">
                        <a class="navbar-animated-link" href="@{Application.access}">&{'views.main.access'}</a>
                    </li>
                    <li class="${request.action == 'Application.orga' ? 'active' : ''}">
                        <a class="navbar-animated-link" href="@{Application.organisers}">&{'views.main.team'}</a>
                    </li>
                    <li class="dropdown ${(request.action == 'Application.sponsors' || request.action == 'Application.becomeSponsor') ? 'active' : ''}">
                        <a href="#" class="dropdown-toggle navbar-animated-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            &{'views.main.sponsors'}
                            <i class="fa fa-angle-down dropdown-caret" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="${request.action == 'Application.sponsors' ? 'active' : ''}">
                                <a href="@{Application.sponsors}">&{'views.main.sponsors.list'}</a>
                            </li>
                            <li class="${request.action == 'Application.becomeSponsor' ? 'active' : ''}">
                                <a href="@{Application.becomeSponsor}">&{'views.main.sponsors.join'}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-animated-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            &{'views.main.language'}
                            <i class="fa fa-angle-down dropdown-caret" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@{Application.fr(request.url)}">&{'views.main.language.fr'}</a></li>
                            <li><a href="@{Application.en(request.url)}">&{'views.main.language.en'}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<!--
<li><a href="@{Application.about}">La conférence</a></li>
<a class="organiser" href="http://rivierajug.org"><img src="@{'/public/images/rivierajug-header.png'}"/></a>
<li class="${request.action == 'Application.news' ? 'active' : ''}"><a href="@{Application.news}">Nouvelles</a></li>
<li class="${request.action == 'Application.talks' ? 'active' : ''}"><a href="@{Application.talks}">Sessions</a></li>
-->

    <!-- <div class="container"> -->
        #{doLayout /}
    <!-- </div> -->
    <div id="push"></div>

    <footer class="footer container">
        <div class="row">

            <div class="col-sm-5 footer-infos">
                <div class="footer-logo">
                    <img src="@{'/public/images/logo_RD_white.svg'}" alt="RivieraDEV">
                </div>
                <div class="footer-slogan">&{'views.main.motto'}</div>
                <div class="footer-contact">
                    <span class="footer-contact-deco">{</span>
                    <span class="footer-contact-text">&{'views.main.contact'} info@rivieradev.fr</span>
                    <span class="footer-contact-deco">}</span>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="footer-archives">
                    <h2 class="footer-title">&{'views.main.archives'}</h2>
                    <ul class="footer-menu">
                        <li><a href="//2016.rivieradev.fr">&{'views.main.editions.2016'}</a></li>
                        <li><a href="//2015.rivieradev.fr">&{'views.main.editions.2015'}</a></li>
                        <li><a href="//2011.rivieradev.fr">&{'views.main.editions.2011'}</a></li>
                    </ul>
                </div>

                <div class="footer-admin">
                    <h2 class="footer-title">&{'views.main.private'} #{if user}[${user}]#{/if}</h2>
                    <ul class="footer-menu">
                        #{if user}
                            <li><a href="@{CRUD.index}">Admin</a></li>
                            <li><a href="@{Secure.logout}">Logout</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Secure.login}">Login</a></li>
                        #{/else}
                    </ul>
                </div>
            </div>

            <div class="col-sm-3 footer-rs">
                <div>&{'views.main.follow'}</div>
                <a class="footer-rs-item footer-rs-twitter" href="https://twitter.com/rivieradev">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a class="footer-rs-item footer-rs-facebook" href="https://www.facebook.com/RivieraDEVConf/">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a class="footer-rs-item footer-rs-google" href="https://plus.google.com/+RivieraJUGPage">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <span class="sr-only">Google +</span>
                </a>
                <a class="footer-rs-item footer-rs-instagram" href="https://www.instagram.com/rivieradevconf/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 footer-copyright">
                Copyright &copy; 2011-2017 Riviera JUG / Riviera DEV. All rights reserved.
            </div>
        </div>

    </footer>

    <!-- External libs -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap -->
    <!-- Bootstrap has been customized to modify a variable :
         Point at which the navbar becomes uncollapsed => @grid-float-breakpoint = @screen-md-min
         (http://getbootstrap.com/customize/)
    -->
    <script src="@{'/public/bootstrap/3.3.7/js/bootstrap.min.js'}"></script>

    <!-- Countdown -->
    <script src="@{'/public/javascripts/libs/jquery.countdown.min.js'}"></script>

    <!-- Custom JS -->
    <script src="@{'/public/javascripts/navbar-animated.js'}"></script>
    <script src="@{'/public/javascripts/countdown.js'}"></script>
    <script src="@{'/public/javascripts/map.js'}"></script>

    <!-- Google maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=${googleMapApiKey}&callback=initMap"></script>

    #{get 'moreScripts' /}
    <script type="text/javascript">

        var countDownDaysLabel = "&{'tags.countdown.days'}";
        var countDownHoursLabel = "&{'tags.countdown.hours'}";
        var countDownMinutesLabel = "&{'tags.countdown.minutes'}";
        var countDownSecondsLabel = "&{'tags.countdown.seconds'}";
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24807954-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        $(document).ready(function() {
            // Animate loader off screen
            $(".loading").fadeOut("slow");
        });

    </script>

</body>
</html>
