<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/styles/riviera/css/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/scripts/modernizr.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/scripts/jquery.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <header>
        	#{if user}Logged in as ${user}#{/if}
        	<hgroup>
        	   <h2>Riviera Dev 2011</h2>
        	   <h4>Riviera JUG</h4>
        	</hgroup>
            <nav>
    	<ul>
    		<li><a href="@{Application.index}">Index</a></li>
    		<li><a href="@{Application.schedule}">Programme</a></li>
    		<li><a href="@{Application.speakers}">Orateurs</a></li>
    		<li><a href="@{Application.talks}">Sessions</a></li>
    		<li><a href="@{Application.sponsors}">Sponsors</a></li>
    		<li><a href="@{Application.about}">À propos</a></li>
	    	#{if user}
	    		<li><a href="@{CRUD.index}">Admin</a></li>
	    		<li><a href="@{Secure.logout}">Logout</a></li>
	    	#{/if}
	    	#{else}
	    		<li><a href="@{Secure.login}">Login</a></li>
	    	#{/else}
    	</ul>
            </nav>
        </header>
        <section>
            #{doLayout /}
        </section>
        <footer>
               Copyright &copy; 2011 Riviera JUG / RivieraDev. All rights reserved.
        </footer>
    </body>
</html>
